@font - face {
    font - family: 'grands';
    src: url('fonts/grands/grands.eot');
    src: url('fonts/grands/grands.eot?#iefix') format('embedded-opentype'),
    url('fonts/grands/grands.svg#Grands') format('svg'),
    url('fonts/grands/grands.woff') format('woff'),
    url('fonts/grands/grands.ttf') format('truetype');
    font - weight: normal;
    font - style: normal;
}
a { color:# 447790 }
a: hover { color: #345a6d; }
h1 {color: #447790; }
h2{
	background: #786234; padding:2px 10px; color:#FFF
}
h3{
	padding: 0px; margin:10px 0px 0px; color: #000; font-size: 18px;
}

body {
    background: #D9DFE2;
    margin:0;
    padding:0;
    color: #444;
    font-size:13px;
}
.left {
    float:left;
}
.right {
    float:right;
}
.clear {
    clear:both;
}
.publish_yes, .publish_no {
    display:block;
    width:15px;
    height:16px;
    margin-left:30px;
}
.publish_yes {
    background-image: url(../img/publish_yes.png);
}
.publish_no {
    background-image: url(../img/publish_no.png);
}
table.list tr:nth-child(2n) {
    background-color: #DFE7F2;
    color: #000000;
}
.error {
    color: red;
}
.hidden {
    display: none;
}
.file_link {
    cursor: pointer;
}
.success {
    color: green;
}


.sphead {
    width:910px;
    margin:5px 0;
    padding: 5px 20px;
    font-size:14px;
    cursor: pointer;
    color:blue;
    font-weight: bold;
    border-radius: 3px;
    box-shadow: 1px 1px 3px grey;
}
.spbody {
    display:none;
}


#wrapper {
    width:980px;
    margin:0 auto;
    -webkit-box-shadow: 0 0 15px rgba(0,0,0,0.7);
    -moz-box-shadow: 0 0 15px rgba(0,0,0,0.7);
    box-shadow: 0 0 15px rgba(0,0,0,0.7);
}



#header {
    width:980px;
    background-color: #395766;
    color:#FFF;
}
#header ul {
    margin:0;
    padding:0;
    list-style: none;
    height:40px;
}
#header ul li {
    display: inline-block;
    margin:0 2px;
}
#header ul li a {
    text-decoration:none;
    color: #D7E3E9;    
}
#header ul li a span {
    display:block;
    padding: 12px 15px;
    text-transform: uppercase;
}
#header ul li.active a span, #header ul li a span:hover {
    background-color: rgba(10,10,10,0.2);
    color: #fff;
    -webkit-transition: background 0.3s 0s ease-out;
    -moz-transition: background 0.3s 0s ease-out;
    -ms-transition: background 0.3s 0s ease-out;
    -o-transition: background 0.3s 0s ease-out;
    transition: background 0.3s 0s ease-out;
}




#content {
    width:950px;
    min-height: 500px;
    padding:15px;
}
#content .menu {
    height:30px;
}
#content .menu ul {
    list-style: none;
    margin:0;
    padding:0;
}
#content .menu ul li {
    display:inline-block;
}
#content .menu ul li a {
    text-decoration: none;
    color:#333;
}
#content .menu ul li a span {
    display: block;
    width:160px;
    height:28px;
    line-height: 28px;
    font-size:14px;
    cursor: pointer;
    text-align:center;
    background-color: #DFD;
    box-shadow:2px 2px 4px grey;
}
#content .menu ul li a span:hover {
    box-shadow:1px 1px 1px grey;
}



#articles .title a span {
    display:block;
    width:380px;
    height:20px;
    overflow: hidden;
}
#articles .category span {
    display:block;
    width:200px;
    height:20px;
    overflow: hidden;
    font-size:12px;
    text-align:center;
}
#articles .date span {
    display:block;
    width:120px;
    font-size:10px;
    text-align:center;
}
#articles .article_id span {
    display:block;
    width:20px;
    font-size:14px;
    text-align:center;
}
    



#article .edit .line, #artcat .edit .line {
    width:600px;
    height:30px;
    margin-top:10px;
}
#article .edit .line .field , #artcat .edit .line .field {
    width: 290px;
}
#article .edit .line span, #artcat .edit .line span {
    display: inline-block;
    font-size:14px;
    width:100px;
}




#artcats .title a span {
    display:block;
    width:450px;
    height:20px;
    overflow: hidden;
}
#artcats .alias span {
    display:block;
    width:300px;
    height:20px;
    overflow: hidden;
    font-size:12px;
    text-align:center;
}
#artcats .position span {
    display:block;
    width:40px;
    font-size:14px;
    text-align:center;
}
#artcats .artcat_id span {
    display:block;
    width:20px;
    font-size:14px;
    text-align:center;
}



#settings textarea {
    width:500px;
    height:80px;
}
#settings input[type="text"] {
    width: 500px;
}



#footer {
    width:980px;
    background-color: #395766;
    color:#CCC;
    font-size:12px;
    padding:10px 0;
    text-align:center;
}
#footer a {
    color:#CCC;
}
.tdCaption{
	line-height: 12px; color: #555;
}
.button{
	background-color: #DDFFDD;
    box-shadow: 2px 2px 4px grey;
    cursor: pointer;
    display: block;
    font-size: 14px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    width: 160px;
	text-decoration: none;
	color: #000;
}
.button:hover{
	box-shadow:1px 1px 1px grey;
}
