/*
 *  (C) http://neopulse.ru
 *  NeoCMS
 */

html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0;
	padding: 0;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 1.2;
	background-image: url(../img/bg_bg.png);
}

div.clear {
	clear: both;
}

.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
fieldset {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
img {
	border: 0px;
}
a:focus, input:focus, textarea:focus, select:focus  {
	outline-color: green;
}

a:hover {
	text-decoration: none;
}
#phone_prefix {
width:40px!important;}
/** nav **/
#nav {
width: 100%;
height: 59px;
background-image: url(../img/bg_top_menu.png);
background-repeat: repeat-x;
z-index: 99;
font-weight: 600;
position: fixed;
top: 0px;
}
#nav .logo {
background: url(../img/logo.png) no-repeat;
width: 163px;
float: left;
height: 52px;
margin-top: 2px;
margin-left: -50px;
}
#nav .cont {
	width: 980px;
	margin: 0 auto;
}
#nav .cont ul {
	float: left;
}
#nav .cont ul li {
	display: inline-block;
	margin: 0 5px;
}
#nav .cont ul li a {
	text-decoration: none;
	color: #FFF;
}
#nav .cont ul li a span {
	display: block;
	padding: 17px 15px;
	padding-bottom: 18px;
}
#nav .cont ul li.active a span, #nav ul li a span:hover {
	background-color: #95c832;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

#nav .skype {
	background-image: url(../img/skype.png);
	height: 16px;
	background-repeat: no-repeat;
	float: right;
	padding-left: 20px;
	color: white;
	background-position: left center;
	margin-top: 16px;
	line-height: 16px;
}

#nav .tell {
	background-image: url(../img/phone.png);
	height: 16px;
	background-repeat: no-repeat;
	float: right;
	padding-left: 14px;
	color: white;
	background-position: left center;
	margin-top: 16px;
	line-height: 16px;
	margin-right: 15px;
	margin-left: 15px;
}

#nav .chat {
	background-image: url(../img/chat.png);
	height: 16px;
	background-repeat: no-repeat;
	float: right;
	padding-left: 20px;
	color: white;
	background-position: left center;
	margin-top: 16px;
	line-height: 16px;
	margin-right: 2px;
}

#nav .chat a {
	color: white;
	text-decoration: underline;
}

#nav .chat a:hover {
	color: white;
	text-decoration: none;
}

#nav .welcome_user {
	float: right;
	color: white;
	padding: 15px 15px;
	font-size: 16px;
	text-shadow: 1px 1px 2px lime;
}
/** /nav **/

/** header **/
#header {
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#header_big {
	background-image: url(../img/bg_header.png);
	width: 1200px;
	height: 290px;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: -7px;
	margin-top: 52px;
}
#header .btn_free a, #header .btn_order a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}
#header .btn_free a:hover, #header .btn_order a:hover {
	color: white;
	text-decoration: underline;
	font-weight: 600;
}
#header .btn_free {
	background-image: url(../img/free_btn.png);
	width: 89px;
	height: 22px;
	padding-top: 8px;
	padding-left: 34px;
	background-repeat: no-repeat;
	float: right;
	margin-right: 7px;
}
#header .btn_order {
	background-image: url(../img/order_btn.png);
	width: 79px;
	height: 22px;
	padding-top: 8px;
	padding-left: 34px;
	background-repeat: no-repeat;
	float: right;
}
#header .logo_2 {
	background: url(../img/logo_2.png) no-repeat;
	width: 543px;
	float: left;
	height: 26px;
	position: absolute;
	top: 60px;
	left: 200px;
}
#header .pod_logo_2 {
	background: url(../img/podlogo.png) repeat-x;
	width: 551px;
	float: left;
	height: 27px;
	position: absolute;
	top: 92px;
	left: 202px;
	font-weight: 600;
	color: white;
	font-size: 13pt;
	padding-top: 6px;
	padding-left: 7px;
}

#header .timer {
	background: url(../img/counter_bg.png) no-repeat;
	width: 199px;
	float: left;
	height: 111px;
	position: absolute;
	top: 55px;
	right: 0px;
	font-weight: 600;
	color: white;
	font-size: 13pt;
	padding-top: 6px;
	padding-left: 7px;
}
#header .timer .title {
	color: #1e682c;
	text-transform: uppercase;
	text-align: center;
	font-size: 16pt;
	margin-top: 7px;
	width: 187px;
	font-weight: bold;
}

#header .timer .title_bottom {
	color: #1e682c;
	font-size: 9pt;
	text-align: center;
	width: 187px;
	margin-top: 7px;
}

#header .timer table {
	color: black;
	width: 164px !important;
	margin-left: 11px;
	text-align: center;
	border-spacing: 0px;
	border-collapse: collapse;
	margin-top: 11px;
	font-size: 17pt;
}
#header .calc {
	background: url(../img/calc_bg.png) no-repeat;
	width: 966px;
	float: left;
	height: 111px;
	position: absolute;
	top: 171px;
	left: 7px;
	color: white;
	font-size: 13pt;
	padding-top: 6px;
	padding-left: 7px;
}
#header .calc .select_1 {
	color: black;
	font-size: 15pt;
	float: left;
	margin-left: 18px;
	margin-top: 8px;
}
#header .calc .select_2 {
	color: black;
	font-size: 15pt;
	float: left;
	margin-left: 11px;
	margin-top: 8px;
}
#header .calc .select_3 {
	width: 165px;
	height: 35px;
	line-height: 34px;
	border: 0px;
	margin-left: 7px;
	font-size: 14pt;
	margin-top: 8px;
	background-repeat: no-repeat;
	padding-left: 5px;
	padding-right: 5px;
}
#header .calc .select_3 {
	color: black;
	float: left;
}

#header .calc .select_4 {

	float: left;
}
#header .calc .select_6 {
	margin-left: 6px;
	float: left;
}
#header .calc .select_6 input {
height: 34px;
margin-top: -12px;
float: left;
padding-left: 5px;
padding-right: 5px;
text-align: center;
font-size: 8pt;
width: 44px;
}
#header .calc .select_4 .ue {
	background: url(../img/ue.png) no-repeat;
	float: left;
	height: 29px;
	padding-left: 15px;
	color: white;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	font-size: 19pt;
	margin-top: 12px;
	margin-left: 7px;
}
#header .calc .select_5 {
	float: left;
}

#header .calc .select_5 .submit {
	background: url(../img/submit_btn.png) no-repeat;
	width: 85px;
	height: 21px;
	padding: 10px;
	text-align: center;
	margin-top: 6px;
	cursor: pointer;
}
#header .calc .select_5 a {
	text-decoration: none;
}
#header .calc .select_5 a .submit {
	color: #593000;
	text-decoration: none;
	font-weight: bold;
}
#header .calc .select_5 a:hover .submit {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#header .calc .select_5 .submit:hover {
	background: url(../img/submit_btn_hover.png) no-repeat;
}
#header .calc .title {
	color: #1e682c;
	text-transform: uppercase;
	font-size: 16pt;
	margin-top: 7px;
	width: 587px;
	padding-left: 17px;
	font-weight: bold;
}
/** /header **/

/** content **/
#left_col {
width: 230px;
margin-right: 20px;
float: left;
margin-top: 10px;
}

#big_cont {
	width: 1200px;
	background-color: white;
	margin: 0 auto;
}

#big_cont .cont {
	width: 980px;
	margin: 0 auto;
}
#content .ff_table {
width: 740px;
}
#content .ff_table tr td {
width: 148px;
}

#content {
 	width: 730px; 
	float: right;
}

#content.contenthome {
width:980px;
}
#content .block1 {
	float: left;
	margin-top: 15px;
	width: 980px;
}
#content .block1_1 {
	float: left;
	width: 980px;
}
#content .block1_1 .bl_1 {
	float: left;
	margin-top: 15px;
	width: 234px;
	margin-right: 14px;
}
#content .block1_1 .bl_2 {
	float: left;
	margin-top: 15px;
	width: 234px;
}
#content .block1 .bl_1 {
	float: left;
	margin-top: 15px;
	width: 234px;
	margin-right: 14px;
}
#content .block1 .bl_2 {
	float: left;
	margin-top: 15px;
	width: 234px;
}
#content .block1 .title {
	font-size: 19pt;
}
#content .block1 .text {
	clear: both;
	margin-top: 11px;
}
#content .block1_1 .title {
	font-size: 17pt;
}
#content .block1_1 .text {
	clear: both;
	margin-top: 11px;
}
#content .block_4 {
	float: left;
}
#content .block_4 .title {
	color: #474747;
	font-weight: bold;
	font-size: 13pt;
	margin-bottom: 10px;
}
#content .block_4 .text {
	color: #6e6e6e;
	margin-bottom: 10px;
}

#content .block_4 .bl_1 {
	float: left;
	width: 307px;
	margin-right: 20px;
}

#content .block_4 .bl_2 {
	float: left;
	width: 307px;
}
#content .block_4 ul li {
	list-style-image: url(../img/to4ka.png);
}
#content .block_4 ul {
	padding-left: 20px;
}

#content .mega_line {
	border-bottom: 1px solid #e0e0e0;
	width: 1200px;
	margin-left: -110px;
	height: 1px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
#content .block2 {
	float: left;
}
#content .block2 table {
	float: left;
}
#content .block2 table tr.ff td {
	background-color: #98cc32;
	height: 0px;
	padding: 2px;
}
#content .block_3 .how {
	font-size: 22pt;
	font-weight: normal;
	color: #7ebd0a;
	text-transform: uppercase;
	text-align: center;
}

#content  .how_img {
	background: url(../img/how.png) no-repeat;
	width: 973px;
	height: 238px;
	float: left;
}

#content .block2 table tr td {

	padding-top: 10px;
}
#content .block2 table tr td a {
	color: #646464;
	text-decoration: none;
}
#content .block2 table tr td a:hover {
	color: #646464;
	text-decoration: underline;
}
#content .block2 .our {
	color: #e38a3b;
	font-size: 41pt;
	font-weight: normal;
	float: left;
	margin-right: 34px;
}
/** /content **/

#neocontact input[type=text], #neocontact input[type=email] {
	width: 200px;
	padding: 5px 10px;
	border-radius: 4px;
}
#neocontact input[name=send_data] {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #207cca 64%, #2989d8 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(64%,#207cca), color-stop(100%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	font-weight: bold;
	padding: 5px 20px;
	border-radius: 5px;
	cursor: pointer;
}
#neocontact input[name=send_data]:hover {
	color: #DDD;
}
#neocontact textarea {
	width: 300px;
	height: 70px;
	border-radius: 4px;
}
#neocontact .msg-wrap span {
	color: gray;
	background-color: yellow;
	padding: 4px 20px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 2px 2px 5px grey;
	margin: 10px 0 10px 5px;
}
/* ------------------ */
/** FOOTER **/

#ft_m .block_ft_m {
	background-image: url(../img/ft_menu_bg.png);
	width: 1200px;
	float: left;
	background-repeat: no-repeat;
	height: 82px;
}
#ft_m .block_ft_m .cont {
	width: 980px;
	margin: 0 auto;
}

#ft_m .cont ul {
	float: left;
	margin-left: 89px;
	padding-left: 0px;
}
#ft_m .cont ul li {
	display: inline-block;
	margin: 0 5px;
	text-align: center;
}
#ft_m .cont ul li a {
	text-decoration: underline;
	color: #FFF;
	margin: 13px 43px;
	display: block
}
#ft_m .cont ul li a span {
	display: block;
}
#ft_m .cont ul li a.unfirst {
	margin-bottom: -17px;
}

#ft_m .cont ul li.active a, #ft_m ul li a:hover {
	color: #3a5606;
}
#footer {
	width: 1200px;
	float: left;
	background-color: #222222;
}
#footer .cont {
	width: 980px;
	margin: 0 auto;
	padding-bottom: 15px;
}

#footer .cont .acc {
	background-image: url(../img/acc.png);
	width: 188px;
	height: 174px;
	float: left;
	margin-top: 17px;
}
#footer .cont .acc_2 {
	background-image: url(../img/icons_f_2.png);
	width: 250px;
	height: 88px;
	float: left;
	margin-top: 17px;
}
#footer .cont .ftt_m_c {
	float: left;
}

#footer .cont .ftt_m_c .ftt_m {
	float: left;
}
#footer .cont .ftt_m_c .ftt_m ul li {
	list-style-image: url(../img/to4ka.png);
	padding-bottom: 6px;
	padding-right: 85px;
}
#footer .cont .ftt_m_c .ftt_m ul li:hover {
	list-style-image: url(../img/to4ka_2.png);
}
#footer .cont .ftt_m_c .ftt_m ul li a {
	color: #afc97b;
	border-bottom: 1px dotted #afc97b;
	text-decoration: none;
}
#footer .cont .ftt_m_c .ftt_m ul li a:hover {
	color: #c9fc5f;
	border-bottom: 1px dotted #c9fc5f;
	text-decoration: none;
}

#footer .cont .to_top {
	background-image: url(../img/to_top.png);
	padding-left: 40px;
	background-repeat: no-repeat;
	float: right;
	font-size: 15pt;
	color: #e88d17;
	height: 30px;
	line-height: 28px;
	margin-top: 41px;
}
#footer .cont .to_top a {
	text-decoration: none;
	color: #e88d17;
}
#footer .cont .to_top a:hover {
	text-decoration: underline;
	color: #e88d17;
}

#footer .copy_r {
	background-image: url(../img/copyr.png);
	height: 60px;
	width: 1200px;
	background-repeat: no-repeat;
	color: white;
}
#footer .copy_r  .cont {
	width: 980px;
	text-align: center;
	padding-top: 23px;
	margin: 0 auto;
}
#footer .copy_r a {
	color: white;
	text-decoration: underline;
}
#footer .copy_r a:hover {
	color: white;
	text-decoration: none;
}

/** order page **/
#cuselFrame-cusel1, #cuselFrame-cusel2, #cuselFrame-cusel3, #cuselFrame-cusel4, #cuselFrame-cusel5, #cuselFrame-cusel6, #cuselFrame-cusel7, #cuselFrame-cusel8, #cuselFrame-cusel9, #cuselFrame-cusel10 {
	margin-top: 7px;
}
#cusel1, #cusel2, #cusel3, #cusel4, #cusel5, #cusel6, #cusel7, #cusel8, #cusel9, #cusel10 {
	width: 250px;
}

#order_form input {
	height: 34px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

 .block_element.float {
	float: left;
	margin-right: 109px;
}
 .block_element.float2 {
	float: left;
}
 .block_element textarea {
	margin-top: 5px;
	width: 245px;
}
.block_element input {
	margin-top: 5px;
	width: 237px;
}
.block_element label {
	display: block;
	font-size: 15pt;
	font-weight: bold;
	font-style: italic;
	color: #1e682c;
}
 #order_form label.none {
	display: block;
	font-size: 11pt;
	color: black;
	font-weight: normal;
	font-style: normal;
}
 #order_form .hint-content {
	padding-bottom: 10px;
	font-size: 17px;
}
 #order_form table td.top {
	height: 20px;
}
#order_form table td {
	vertical-align: bottom;
}

#order_form table tr td:first-child {
	width: 270px;
}
#order_form #paper_details_text_1 {
	width: 470px;
	float: left;
	margin-right: 40px;
	font-size: 11pt;
}
#order_form #paper_details_text_2 {
	width: 470px;
	float: left;
	font-size: 11pt;
}
#order_form .well-small {
	font-size: 9pt;
	width: 250px;
}
#order_form input[type="radio"] {
	width: 12px;
	height: 12px;
	margin-left: 1px;
}
 #order_form input[type="checkbox"] {
	width: 12px;
	height: 12px;
	margin-left: 1px;
}
 #order_form .order-price {
	color: red;
	font-size: 23pt;
	font-weight: bold;
	margin-bottom: 36px;
}

#order_form .btn, .login_box .btn {
	background: url(../img/submit_btn.png) no-repeat;
	width: 105px!important;
	height: 40px!important;
	padding: 10px;
	text-align: center!important;
	margin-top: 6px;
	cursor: pointer;
	border: 0px;
	margin-bottom: 12px;
	font-weight: bold;
}
#order_form .btn:hover, .login_box .btn:hover {
	background: url(../img/submit_btn_hover.png) no-repeat;
	color:white;
}

.login_box {
	width: 300px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 36%;
	background-color: white;
	-webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 15px rgba(0,0,0,0.25);
	box-shadow: 0 1px 15px rgba(0,0,0,0.25);
	overflow: hidden;
}

.login_box .block_element_head {
	margin: 15px 15px;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0px;
}

.login_box .error_box {
	color: red;
	margin: 10px 15px 15px 15px;
}

.login_box input[type="password"], #content .login_box input[type="text"] {
	width: 256px;
	height: 34px;
	line-height: 34px;
	margin: 0 15px 10px 15px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	background-color: white!important;
}

.login_form .cusel {
	margin: 0px 15px 10px 15px;
}

.login_box div.submit {
	width: 100%;
	margin-top: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 40px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
}

.login_box div.submit span {
	float: left;
	width: 150px;
	padding: 0px 15px;
	line-height: 160%;
}
.login_box div.submit input.btn {
	float: left;
	margin: 0px;
}

.login_box h3 {
	padding: 0px 15px 5px 15px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

/* user_template */

table.table_wrapper {
	width: 100%;
	min-width: 980px;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

table.table_wrapper tr,
table.table_wrapper th, 
table.table_wrapper td {
	padding: 0;
	vertical-align: top;
}

table.table_wrapper td.td_sidebar {
	padding-top: 39px;
	width: 175px;
}

table.table_wrapper  td.content_user {
	padding-top: 39px;
	padding-right: 10px!important;
}

#content-user {
	float: left;
	width: 100%;
 	min-height: 450px;
	margin: 5px 10px 20px 0px;
	background-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/** sidebar **/
#sidebar {
	float: left;
	width: 200px;
 	min-height: 435px;
	margin: 15px 5px 25px 20px;
 	background-color: rgb(68, 138, 68);
 	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	-webkit-box-shadow: 2px 2px 3px rgba(68, 138, 68,0.7);
	-moz-box-shadow: 2px 2px 3px rgba(68, 138, 68,0.7);
	box-shadow: 2px 2px 3px rgba(68, 138, 68,0.7);
	overflow: hidden;
}

#sidebar div {
	display: block;
	float: left;
	width: 100%;
	color: white;
	cursor: pointer;
}

#sidebar span {
	display: block;
	float: left;
	width: 100%;
	color: inherit;
	text-align: right;
}

#sidebar .orders_title,
#sidebar .sidebar_order, 
#sidebar #profile {
	margin-bottom: 8px;
}

#sidebar #profile {
	border-top: 1px solid #88C97C;
}

#sidebar .orders_title:hover,
#sidebar .messages_title:hover,
#sidebar .files_title:hover,
#sidebar .writers_title:hover,
#sidebar .sidebar_order:hover, 
#sidebar #profile:hover {
	color: #253826;
	background-color: #67A84B;
}
#sidebar div.active {
	background-color: #67A84B;
}

#sidebar div a {
	display: block;
	height: 18px;
	font-size: 16px;
	padding: 10px;
	text-decoration: none;
	color: inherit;
}
#sidebar .sidebar_order a {
	padding-right: 50px;	
}

/** /sidebar **/

/* user pages */
.block_head {
	border-bottom: 1px solid rgb(70, 170, 70);
	-webkit-box-shadow: 0 2px 3px rgba(68, 138, 68,0.7);
	-moz-box-shadow: 0 2px 3px rgba(68, 138, 68,0.7);
	box-shadow: 0 2px 3px rgba(68, 138, 68,0.7);
	font-size: 28px;
	font-weight: bold;
	padding: 7px 20px 8px 20px;
	color: rgb(68, 138, 68);
}

.block_head span {
	color: black;
}
.block_content {
	padding: 15px;
}

.block_content .subblock {
	float: left;
	width: 500px;
	border: 1px solid rgb(70, 170, 70);
	-webkit-box-shadow: 0px 1px 2px rgba(68, 138, 68,0.7);
	-moz-box-shadow: 0 1px 2px rgba(68, 138, 68,0.7);
	box-shadow: 0 1px 2px rgba(68, 138, 68,0.7);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
}

.subblock h3 {
	font-size: 15px;
	font-weight: 200;
	text-transform: uppercase;
	margin: 0;
	padding: 7px 30px 7px 10px;
	color: #1e682c;
}

.block_element_head {
	font-size: 15pt;
	margin-top: 6px;
	font-weight: bold;
	font-style: italic;
	color: #1e682c;
}



table.table_name_value {
	width: 100%;
}

table.table_name_value td, table.table_name_value tr {
	padding: 1px 5px;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 16px;
	color: #2d2d2d;
}

table.table_name_value td:FIRST-CHILD {
	padding-top: 4px;
	color: #565656;
	font-size: 12px;
	text-align: right;
}

table.table_name_value td.td_button {
	text-align: center;
	padding: 10px;
}

.td_button a {
	text-decoration: none;
}

.btn_gray {
	padding: 8px 15px 10px 15px;
	color: #464646;
	font-size: 13px;
	line-height: normal!important;
	font-weight: normal;
	text-decoration: none;
	background-color: #ececec;
	background-image: -moz-linear-gradient(top,white,#ececec);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#ececec));
	background-image: -webkit-linear-gradient(top,white,#ececec);
	background-image: -o-linear-gradient(top,white,#ececec);
	background-image: linear-gradient(to bottom,white,#ececec);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	border: 1px solid #7b7b7b;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.btn_gray:hover {
	background-color: #dddddd;
	background-image: -moz-linear-gradient(top,white,#dddddd);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#dddddd));
	background-image: -webkit-linear-gradient(top,white,#dddddd);
	background-image: -o-linear-gradient(top,white,#dddddd);
	background-image: linear-gradient(to bottom,white,#dddddd);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.btn_green {
	padding: 8px 15px 10px 15px;
	color: white;
	font-size: 13px;
	line-height: normal!important;
	font-weight: normal;
	text-decoration: none;
	background-color: #67A84B;
	background-image: -moz-linear-gradient(top,#87D887,#67A84B);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#87D887),to(#67A84B));
	background-image: -webkit-linear-gradient(top,#87D887,#67A84B);
	background-image: -o-linear-gradient(top,#87D887,#67A84B);
	background-image: linear-gradient(to bottom,#87D887,#67A84B);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 1px 2px rgba(70,140,70,0.5);
	-moz-box-shadow: 0 1px 2px rgba(70,140,70,0.5);
	box-shadow: 0 1px 2px rgba(70,140,70,0.5);
	border: 1px solid rgb(58, 128, 58);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	text-shadow: 0px -1px 1px rgba(68, 138, 68, 1);
	-webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
.btn_green:hover {
	background-color: rgb(68, 138, 68);
	background-image: -moz-linear-gradient(top,#87D887,rgb(68, 138, 68));
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#87D887),to(rgb(68, 138, 68)));
	background-image: -webkit-linear-gradient(top,#87D887,rgb(68, 138, 68));
	background-image: -o-linear-gradient(top,#87D887,rgb(68, 138, 68));
	background-image: linear-gradient(to bottom,#87D887,rgb(68, 138, 68));
	-webkit-box-shadow: 0 1px 1px rgba(70,140,70,0.3);
	-moz-box-shadow: 0 1px 1px rgba(70,140,70,0.3);
	box-shadow: 0 1px 1px rgba(70,140,70,0.3);
}

/* Order N details */

.table_order_details {
	width: 100%;
}
	
.table_order_details div {
	float: left;
}

.table_order_details .subblock {
	width: 100%;
}

.td_order_controls {
	width: 158px;
	padding-right: 15px!important;
}

.td_order_controls .status_title {
	text-transform: capitalize;
	width: 148px;
	background-color: #cdcfcc;
	color: #1e450b;
	padding: 5px;
	font-size: 12px;
	font-weight: 200;
}

.td_order_controls .counter {
	width: 148px;
	background-color: #dddddd;
	color: #1e450b;
	padding: 5px;
	font-size: 12px;
	font-weight: 200;
}

.order_controls {
	-webkit-box-shadow: 0px 1px 2px rgba(68, 138, 68,0.7);
	-moz-box-shadow: 0 1px 2px rgba(68, 138, 68,0.7);
	box-shadow: 0 1px 2px rgba(68, 138, 68,0.7);
	border: 1px solid rgb(70, 170, 70);
	border-top: none;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	-webkit-border-bottom-left-radius: 4px;
	border-bottom-left-radius: 4px;
	overflow: hidden;
}

.td_order_controls table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}

.td_order_controls table td {
	background-color: #ececec;
	padding: 2px 5px;
	font-size: 14px;
	font-weight: 200;
	vertical-align: top;
}

.td_order_controls table td:FIRST-CHILD {
	width: 40%!important;
	background-color: #ececec;
	padding: 4px 5px;
	font-weight: 200;
	font-size: 11px;
}

.td_order_information {
	width: 100%;
	padding-bottom: 15px!important;
}

.td_order_information table {
	padding: 0px 10px 0px 10px;
	border-spacing: 0px!important;
	width: 100%;
}

.td_order_information th, .td_order_information td {
	text-align: left!important;
	font-size: 13px;
	font-weight: normal;
	padding: 2px 10px!important;
}

.td_order_information th {
	padding-top: 20px!important;
	font-weight: bold;
	color: #1e682c;
}

.td_order_information table tr + tr td {
	border: none;
	padding-top: 5px!important;
	padding-bottom: 20px!important;
	border-bottom: 1px solid #dddddd;
}

.table_subject_topic th:FIRST-CHILD {
	width: 15%;
}

.order_information .paper_details {
	margin: 0 15px;
}

.order_information .paper_details h4 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
/* 	color: rgb(86, 86, 86); */
	color: #1e682c;
}

.order_information .paper_details p {
	font-weight: normal;
	font-size: 13px;
	color:#565656;
	margin: 0px;
	padding: 0;
	padding-bottom: 10px;
}

.td_order_messages {
	padding-right: 15px!important;
	width: 50%;
}

.subblock_btn_pad {
	float: none!important;
	background-color: #dddddd;
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	margin-bottom: 5px;
}

.order_messages .btn_green {
	margin: 10px;
}

.order_interface {
	float: none!important;
	margin: 10px 10px 10px 10px;
	border: 1px solid #c2c2c2;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.order_interface .interface_controls {
	float: none;
	padding: 0 15px 15px 15px;
}

.order_interface .interface_field_caption {
	display: block;
	float: left;
	clear: both;
	margin-top: 10px;
	font-size: 13px;
}

.order_interface .calc_selector {
	clear: both;
	font-size: 14px;
}

#new_message #message_text {
	width: 100%;
	font-size: 14px;
	min-height: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0px;
}

#new_message #message_result {
	float: none;
	color: red;
	padding-top: 5px;
	font-size: 14px;
}

.order_interface .interface_buttons {
	float: none;
 	padding: 5px;
	border-top: 1px solid #dcdcdc;
	background-color: #f5f5f5;
	text-align: right;
}

.order_addon_pad {
	float: none!important;
	margin: 5px;
	margin-top: 0px;
	padding: 10px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #bfbfbf;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.order_addon_pad div {
	float: none!important;
}

.message .message_title, .file .file_title {
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #c6c6c6;
}

.message_title .message_sender, .file_title .file_sender {
	color: #0671b5;
}

.message_title .message_date, .file_title .file_date  {
	font-style: italic;
	color: #797979;
	font-size: 11px;
}

.message .message_text {
	padding-top: 10px;
	font-size: 11px;
	line-height: 14px;
}

.file .file_link {
	padding-top: 10px;
	font-size: 11px;
}

.td_order_payments {
	padding-bottom: 15px!important;
}

/* Orders table user page */

#content-user #tabs.ui-tabs .ui-tabs-panel {
	padding: 0;
}

#content-user #tabs {
	border: none;
	padding: 0;
}

#content-user #tabs ul {
	background: none;
	border: none;
	border-bottom: 1px solid #bdbdbd;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#content-user #tabs ul li {
	background: none;
	border: 1px solid white;
	margin: 0;
	margin-bottom: -1px;
}

#content-user #tabs ul li a {
	outline: none;
	color: #0873b8;
	font-size: 14px;
}

#content-user #tabs ul li.ui-state-hover {
	background-color: #efefef;
	border-bottom: 1px solid #efefef;
}
#content-user #tabs ul li.ui-state-hover a {
	color: rgb(68, 138, 68);
}

#content-user #tabs ul li.ui-tabs-active {
	background-color: white;
	border: 1px solid #bdbdbd;
	border-bottom: 1px solid white;
}
#content-user #tabs ul li.ui-tabs-active a {
	color: #555;
}

#content-user #tabs .ui-widget-content {
	border: none;
	font-size: 12px;
}

#content-user #tabs .ui-jqgrid-titlebar {
	background: none;
	background-color: #efefef;
	border: none;
	margin-bottom: 10px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: hidden;
	color: rgb(68, 138, 68);
}

#content-user #tabs .ui-jqgrid-titlebar span {
	padding-left: 10px;
}

#content-user #tabs .ui-jqgrid-hdiv {
	border: none;
}

#content-user #tabs th {
	border: none;
	background: none;
	background-color: white; 	
	padding: 0;
	margin: 0;
}

#content-user #tabs th div {
	font-size: 12px;
	color: #0873b8;
}
#content-user #tabs th.ui-state-hover div {
	color: rgb(68, 138, 68);
}

#content-user #tabs .ui-jqgrid-bdiv table {
	border-spacing: 0px 6px;
	border-collapse: separate;
	padding: 0;
	margin-top: -8px;
}

#content-user #tabs .ui-jqgrid-bdiv .jqgrow td {
	font-size: 12px;
	border: 1px solid #bdbdbd;
	border-right-width: 0;
	border-left-style: dashed;
	background: none;
	height: 50px;
	vertical-align: middle;
	padding: 0px 7px 0px 7px; 	
	margin: 5px;
	background-color: #fafafb;
	background-image: -moz-linear-gradient(top,#fcfdfe,#f6f6f7);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fcfdfe),to(#f6f6f7));
	background-image: -webkit-linear-gradient(top,#fcfdfe,#f6f6f7);
	background-image: -o-linear-gradient(top,#fcfdfe,#f6f6f7);
	background-image: linear-gradient(to bottom,#fcfdfe,#f6f6f7);
	background-repeat: repeat-x;
	cursor: pointer;
}

#content-user #tabs .ui-jqgrid-bdiv .jqgrow.ui-state-hover td {
	background-color: #ecedee;
	background-image: -moz-linear-gradient(top,#ecedee,#e6e7e8);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ecedee),to(#e6e7e8));
	background-image: -webkit-linear-gradient(top,#ecedee,#e6e7e8);
	background-image: -o-linear-gradient(top,#ecedee,#e6e7e8);
	background-image: linear-gradient(to bottom,#ecedee,#e6e7e8);
}
	
#content-user #tabs .ui-jqgrid-bdiv .jqgrow td:FIRST-CHILD {
	color: rgb(68, 138, 68);
	font-weight: bold;
	border-left-style: solid;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

#content-user #tabs .ui-jqgrid-bdiv .jqgrow td:LAST-CHILD {
	border-right-width: 1px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* menu_visible */
#nav .menu > ul > li:hover > div {
display: block;
}
#nav .menu ul li ul {
background-color: #1f221d;
width: 121px;
margin-left: -15px;
}
#nav .menu .visible {
position: absolute;
float: left;
height: 0px;
z-index: 9999;
background-color: black;
display: none;
}
#nav .cont ul li ul li {
display:block;
margin:0px;

}
.error {
	color:red;
}
.hidden {
	display: none;
}
.file_link {
	cursor: pointer;
}
.success {
	color: green;
}

.order_hints {
display: none;
position: absolute;
margin-left: 239px;
margin-top: -43px;
border: 1px solid rgb(134, 183, 44);
padding: 11px 11px 12px;
background-color: #fafafa;
}

#number_of_pages, #discount_code, #number_of_slides, #email_login, #password_login, #sources_needed {
width:206px;
}

#sources_needed + div.order_hints {
margin-top:-40px
}

#password_login + div.order_hints {
margin-top:-40px
}
#email_login + div.order_hints {
margin-top:-40px
}



.discount_code_block .order_hints {
margin-top:-40px
}

#number_of_pages_block .order_hints {
margin-top:-40px
}

#slides .order_hints {
margin-top: -40px;
font-size: 8pt;
padding: 12px;
padding-bottom: 13px;

}