#nav {
float: left;
width: 100%;
background-image: url(../img/menubg.png);
}
.menu.lk {
	font-family: 'Oswald', sans-serif;
}
#nav .logo {
background-image: url(../img/logo.png);
width: 107px;
height: 117px;
float: left;
margin-top: 0px;
margin-bottom: 4px;
margin-left: -8px;
}
.menu {
	margin-left: 17px;
}
#nav .menu ul li ul {
top: 54px;
left: 78px;
padding-top: 13px;
}
.menu ul li ul {
margin-left: 35px;
}
#nav .menu a {
color:#284A71;
text-decoration:none;
text-transform: uppercase;
display: block;	
padding:5px;

}
#nav .menu_innerlk{
	float: none;
}
.text_inf a{
	background: #C12C36;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;
	display: inline-block;	
	padding:5px 5px 4px;
	font-family: "Oswald",sans-serif;
	margin-top: -7px;
	margin-left: 8px;
	font-weight: normal;
}
.text_inf a:hover {
text-decoration: none;
background: rgba(231, 35, 48, 1);
}
#nav .menu_innerlk.lk a:hover{
background: rgba(231, 35, 48, 1);
text-decoration: none;
}
#nav .menu.lk ul {
margin-top: 0px;
margin-left: 0px;
float: left;
padding-left: 0px;

}
#nav .menu.lk li {
font-size: 20px;
padding-left: 17px;
padding-right: 40px;
padding-top: 4px;
padding-bottom: 4px;	
float: left;
display: inline-block;
}
#nav .menu.lk li+li {
	padding-right: 0;
}
.welcome_user {
float: right;
color: #727272;
font-size: 20px;
margin-top: 58px;
}

.block_head {
background-color:#e5e5ea;
color:#002b57;
font-size:20px;
border-top:1px solid #c0c0c4;
margin-top: -1px;
padding:5px 4px 5px 5px;
padding-left:10px!important;
margin-bottom:10px;
vertical-align: top;
text-align: center;
margin-left: 2px;
}

.table_wrapper {
width:960px;
    margin: 0 auto;
margin-top:10px;
}
.table_wrapper td {
vertical-align: top;
}
#sidebar{
	width: 146px;
}
.ui-tabs .ui-tabs-nav li a {
padding: .5em 14px!important;
}
.td_sidebar {
width:146px;
background-color:#909090;
}
.sidebar_order a {
/*padding-left: 39px!important;
background-image: url(../img/konv.png);
background-repeat: no-repeat;
background-position: 8px center;*/
font-size: 14px!important;
/*font-style: italic;*/
}
.ui-state-default.ui-corner-top a {
color:#2f5275!important;
text-transform: uppercase;
font-family: 'Oswald', sans-serif;
}
.ui-state-default.ui-corner-top a:hover {
background-color:#426d98!important;
color:white!important;
}
.ui-widget-content {
border:0px!important;
}

#tabs .ui-tabs-nav.ui-helper-reset.ui-helper-clearfix.ui-widget-header.ui-corner-all {
background-color:white!important;
background-image:none!important;
border:0px!important;
border-radius:0px!important;
/*border-bottom:1px solid #e72e43!important;*/
}
.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active {
background-color:#2f5275 !important;
}
.ui-state-default.ui-corner-top.ui-tabs-active.ui-state-active a {
color:white!important;
}
.ui-state-default.ui-corner-top {
color:#e72e43!important;
background-image:none!important;
background-color:white!important;
border:0px!important;
border-radius: 0px!important
}
.td_sidebar a {
color: white;
font-size: 18px;
text-decoration: none;
display: block;
padding: 8px;
margin-top: -1px;
margin-left: -1px;
margin-right: -1px;
border-top:1px solid #5682ad;
text-transform: uppercase;
text-align: center;
}
.td_sidebar a.active{
	background: #4575a4;
}
#content-user, .block_container {
width: 811px;
}
.ui-tabs .ui-tabs-panel {
padding:0px!important;
}
.td_sidebar a:hover {
background-color:#c12c36;

}
#wrapper-user {
width:967px;
margin: auto;
}
.ui-pager-control tr td, .ui-pager-control tr td{
padding-top: 5px!important;
padding-bottom: 3px!important;
}
#list_current_toppager {

background-image:none!important;
background-color:#e5e5ea!important;
}
.ui-jqgrid-btable tr.ui-widget-content.jqgrow.ui-row-ltr  td {
border-bottom:1px solid white!important;
}
.ui-jqgrid-btable tr.ui-widget-content.jqgrow.ui-row-ltr td {
border-color: #57595b!important;
color: white;
background-color: #636267;
padding: 6px 1px!important;
padding-top: 16px!important;
}
.ui-jqgrid-btable tr {
outline: 2px solid white;
cursor:pointer;
}
.ui-jqgrid-htable tr th {
background-image:none!important;
background-color:white!important;
border:0px!important;
color:#636267!important;
font-weight:bold!important;
}
.ui-pager-control {
background-image:none!important;
background-color:#e5e5ea!important;
}

input[type="button"], input[type="submit"] {
background-color:#2f5274;
border:0px;
padding:10px;
color:white;
cursor: pointer;
}

input[type="button"]:hover {
background-color:#35628e;
cursor:pointer
}



.order_information.subblock table td {
padding:3px 3px;

}
.order_information table {
border-spacing: 0px;
width:581px;
border-collapse: collapse
}
 .td_order_information {
border:1px solid #284a71;
padding: 5px;
}
.td_order_information.sp .order_information table {
width:798px;
}

 .td_order_information.sp {
width: 784px;}
 table td.tc1 {
/*background-color:#5d5c62;*/
color:#777 ;
}
table td.tc2 {
/*background-color:#636267;*/
color:white;
}

table td.tc2_1 {
/*background-color:#f6f6fa;*/
color:#636267;
}
table td.tc1_1 {
/*background-color:#e8e8ed;*/
color:#636267;
}
.status_title {
padding-top: 10px;
padding-bottom: 10px;
border-top: 1px solid #284a76;
border-bottom: 1px solid #284a76;
background-color: #e5e5ea;
/*margin-left: -10px;*/
padding-left: 13px;
/*margin-right: -10px;*/
padding-right: 10px;
margin-bottom:5px;
margin-top:5px;
display: none;
}
.status_title +table {
	display: none;
}
.block_element_head {
background-color: #e5e5ea;
color: black;
font-size: 20px;
border-top: 1px solid #c0c0c4;
margin-top: -1px;
padding: 5px;
padding-left: 10px!important;
margin-bottom: 10px;
}
#content-user .login_box form {

}

.order_controls table tr td:first-child {
padding-right:10px;

}
.order_controls  {
font-size:13px;
text-align: center;
border: 2px solid #284a76;
margin-top: -1px;
min-height: 176px;
}
.timer_title {
text-align: center;
color: #636267;
font-size: 12px;
font-weight: bold;
}
#timer_days, #timer_time {
/*background-color:white;*/
text-align:center;
padding-right:0px!important;
/*border-bottom:1px solid #dadadf;*/
/*padding:5px!important;*/
}
.attach_name {
	font-size: 12px;
}
#timer_time, #timer_days {
	font-size: 18px;
}
.count_t {
padding-right:0px!important;
}
.count_table td {
	padding:2px 5px;
}
.count_table td.dots2 {
padding-top: 5px;
}
.count_table {
margin: 0 auto;
/*margin-top: 9px;*/
text-align: center;
font-weight: bold;
font-size:16px;
}

.interface_controls > div {
border:1px solid black!important;
width:550px!important;
margin-top:10px;
}
.interface_controls, .interface_buttons {
padding-left: 13px;
margin-bottom:10px;
}
.interface_controls  .nicEdit-main {
width:540px!important;
}
.message_title {
border-bottom:1px solid #c0c0c4;
}
.divclickbtn div:hover {
background-color: #e72e43;
cursor:pointer;
color:white;
}
.td_order_information table tr td {
padding:2px;
}
.message_text {
color:#636267;
margin-top:10px;
margin-bottom:10px;
}
.logo{
	float: none;
	background-position: 50% 0;
	background-size: contain;
	width: 73px;
	height: 73px;
	border-radius:50px;
	-moz-border-radius:50px;
	-webkit-border-radius:50px;
	margin:9px auto;
	background-color: #d8d8d8;
}
.clear {
	clear: both;
	height: 0;
	font-size: 0;
}
.right_side {
	float: left;
	width: 250px;
	min-height: 150px;
	border: 2px solid #284a76;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	text-align: center;
}
.name_tit {
	color: #777;
	text-transform: uppercase;
	font-size: 18px;
}
.day_left {
	color: #284a71;
	position: relative;
}
.day_left_last:before {
	content: "/";
	position: absolute;
	left: -3px;
	top: 0;
	bottom: 0;
	display: block;
}
.right_side li{
	border-bottom: 1px solid #284a76;
	padding-bottom: 3px;
	padding-top: 5px;
}
.right_side li.last {
	padding-bottom: 0;
	border-bottom-color: transparent;
}
.right_side li .cells {
	display: inline-block;
	width: 50%;
	color: #284a71;
	font-size: 18px;
}
.time_title {
	color: #4e4c4c;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 5px;
}
.blue_t {
	color: #284a71;
	display: inline-block;
	font-size: 12px;
}
.silver_t {
	color: #777 !important;
	text-transform: uppercase;
	font-size: 13px;
	padding-bottom: 5px;
	display: inline-block;
	font-weight: normal;
}
.blue_t_pb {
	padding-bottom: 10px;
}
.gray {
	color: #777 !important;
	width: 125px;
	margin-right: 4px;
}
.blue {
	color: #284a71 !important;
}
.somehint {
	font-family: 'TornadoCyr-Regular';
display: none;
position: absolute;
bottom: 26px;
top: auto!important;
z-index: 99;
text-align: center!important;
background-color: #1f221d;
width: 121px;
margin-left: -17px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
color: #fff;
left: -17px;
margin-left: 0;
padding: 5px;
font-weight: normal;
}
.hints {
position: relative;
text-decoration: none
}

.hints:hover .somehint {
display: block;
}

.somehint img {
position: absolute;
bottom: -8px;
left: 19px;
}

a:hover {
text-decoration: none;
}
.status_pro_pag {
	text-align: center;
}
.status_pro_pag {
	border-bottom: 1px solid #284a76;
	border-top: 1px solid #284a76;
	padding-top: 3px;
	padding-bottom: 3px;
	margin-top: 4px;
	margin-bottom: 4px;
	margin-right: -6px;
}
.complete td.gray {
	width: auto;
	width:115px;

}
table td.tc2_1, table td.tc1_1  {
	color: #284a71;
	font-family: 'TornadoCyr-Regular';
	font-weight: bold;
}
.blue_td {
	color: #284a71;
	width: 60%;
	font-size: 14px;
	font-weight: bold;
}
.blue_td .gray{
	font-weight: normal;
}
.blue_td+.blue_td{
	width:58%;
}
.message_title{
	background: #919191;
	color: #fff;
	height: 45px;
	padding-left: 14px;
}
.message_text {
	padding-left: 14px;
	padding-right: 14px;
}
.message_title a, .s1_read {
	color: #fff;
	display:inline-block;
	vertical-align: top;
	line-height: normal;
}
.s1_read {
	color: #cdcdcd;
}
.message_title > span {
	display: inline-block;
	vertical-align: top;
	padding-top: 14px;
	width: 15%;
}
.message_title > span.message_date{
	width: 76%;
	padding-top: 14px;
}
/*.message_title > span.message_date img {
	margin-top: -12px;
}*/
#read2369 {
	vertical-align: top;
	width: auto;
}
.btn_green.big1 {
	background: #7f7f7f;
	color: #fff;
	text-transform: uppercase;
	border: none;
}
.btn_green.big1:hover{
	background: #918c8c;
}
.btn_green.big2{
	background: #ff0000;
	color: #fff;
	text-transform: uppercase;
	border: none;
}
.btn_green.big2:hover {
	background: #ff3838;	
}
.btn_green.big3{
	background: #254061;
	color: #fff;
	text-transform: uppercase;
	border: none;
}
.btn_green.big3:hover {
	background: #335782;
}
.contacts_bl {
	background: #919191;
	color: #fff;
	font-size:13px;
	padding:13px 0 13px 13px;
	width: 191px;
}
.contacts_bl_title {
	text-transform: uppercase;
	font-size: 14px;
	margin-bottom: 5px;
	padding-right: 13px;
	text-align: center;
}
.contacts_bl a{
	text-decoration: none;
	color: #fff;

}
.contact_rows {
	margin-bottom:13px;
}
.text_inf {
	float: right;
	vertical-align: top;
	padding-top: 7px;
	min-width: 190px;
	font-weight: bold;
}
.text_inf_first {
	float: left;
}
.login_tmp {
	height: 70px;
}
.right_side_spsss {
	float: right;
	display: block;
	/*margin-top: -25px;*/
}
/*.message_title img {
	margin-top:-11px;
}*/
a.order_now {
	background-color: #C12C36;
	font-family: "Oswald",sans-serif;
}
.orders_title.active a {
	background-color: #35628E;
}
.order_information.subblock table td{
	padding:2px;	
	margin: 0;	
	vertical-align: middle;	
}
.order_payments.subblock{
	padding-right: 4px;
}
.pointer span {
	margin:0 2px;
}
.btn_green{
font-family: "Oswald",sans-serif;	
}
.btn_green.big2, .btn_green.big1, .btn_green.big3 {
width: 204px;
font-size: 17px;
margin-bottom: 0px;
}
.btn_green.big1 {
background-color:#7f7f7f
}
.btn_green.big1:hover{
	background-color: #929292;
}
/*.btn_green.big2 {
background-color:#464649
}*/
/*.btn_green.big3 {
background-color:#29292a
}*/
.pointer span, .pointer{
	display: inline-block;
	font-size: 0;
	line-height: 0;
}
.contacts_bl a{
	color: rgb(0, 54, 194);
	font-weight: bold;
}
.interface_buttons .btn_green {
	width: auto;
	padding: 10px;
	font-size: 13px;
	font-family: "TornadoCyr-Regular";
	vertical-align: top;
}
.btn_gray {
	vertical-align: top;
}
.message_text {
	word-wrap:break-word;
	width: 532px;
}
.table_wrapper td.blue_td{
	vertical-align: middle;
}
.disc_bb_wrap  tr:first-child td {
	padding: 0 10px;
	text-align: justify;
	width: 380px;
}
.disc_bb_wrap  tr +tr td {
	padding:0 10px 30px;
}
.message_box {
	border-top: 1px solid #284A71;
	border-bottom: 1px solid #284A71;
	margin: 13px 0 3px;
}
.message_box h3 {
	color: #284A71;
	display: inline-block;
	padding-left: 10px;
	margin-right: 10px;
	margin-top: 7px;
	margin-bottom: 0;
}
.message_box .message_box_title{
	display: block;
	color: #777;
	font-family: arial;
	font-size: 12px;
	font-weight: normal;
	margin-bottom: 8px;
	padding-left: 10px;

}
.subblock {
	padding-left: 3px;
}

.credit_cert, .pay_pall {
	width: 160px;
	line-height: 40px;
	margin-bottom: 14px;
	background: #35628E;
	padding:2px 10px;
	color: #fff;
	display: inline-block;
	margin-bottom: 9px;
	font-family: 'Oswald', sans-serif !important;
	text-transform: uppercase;
	cursor: pointer;
	text-align: center;
	position: relative;
	z-index: 0;
}
#submit_btn label {
	display: inline-block;
	/*padding-left: 38px;*/
}
#submit_btn{
	text-align: right;
}
#submit_btn .btn_green {
	width: 130px;
	text-align: center;
	background-color: #C12C36;
	display: inline-block;
	font-size: 17px;
}
#submit_btn .btn_green:hover {
	background-color: #FF001D;
}
#country, #card_type{
	padding: 0;
	margin: 0;
	width: 210px;
	position: relative;
}
#city, #zip{
	width: 198px;
}
.table_credit_wrap {
	/*display: none;*/
}
.table_credit td{
	padding-bottom: 3px;
	vertical-align: middle;
	font-size: 14px;
	color: #284a71;
	font-family: 'Oswald', sans-serif !important;
	text-transform: uppercase;
}
.table_credit td input[type="text"], .table_credit td select{
	background-color: #ebebeb;
	border: solid 1px #bdbdbd;
	font-size: 12px;
	display: inline-block;
	font-weight: normal;
	height: 30px;
	position: relative;
	outline: none;
	font-family: 'Oswald', sans-serif !important;
	text-transform: uppercase;
	min-width:95px; 
}
.table_credit td input[type="text"]{
	height: 28px;
}
.table_credit td input[type="text"]{
	min-width: 198px;
	padding: 0 5px;
}
.table_credit td input[type="text"]:disabled{
	background: #E7E7E7;
}
.paper_details {
	font-weight: bold;
}
.td_order_information table tr td.tc1{
	width: 115px;
}
.card_type_td_wrap {
	width: 242px;
}
.paper_details.second h4 {
	margin:0 0 8px;
	color: #C12C36;
	text-transform: uppercase;
}
.credit_cert input[type="radio"], .pay_pall input[type="radio"]{
	display: none;
	width: 0;
	height: 0;
}
.credit_cert input[type="radio"]:checked ~.bg_check, .pay_pall input[type="radio"]:checked ~.bg_check{
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: -1;
	background: #C12C36;
}
#card_exp_month, #card_exp_year {
	width: 103px;
}
.btn_green_pay_n {
	font-size: 18px !important; 
}

input[type="button"].btn_green_pay_n:hover {
	background-color: #C12C36;
}
.message_title {
	background-color: #C12C36;
}
.unread_message .message_title{
	background: #919191;
}
.file_link {
	border-top: 1px solid #35628e;
	padding-top: 8px;
	padding-bottom: 8px;
	margin-top: 8px;
}
.file_link img {
	cursor: pointer;
}