.login {
	width: 210px;
	position: relative;
	margin: 100px auto;
	padding: 20px 20px 2px 20px;
	background: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
	box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
}
.login:before {
	content: '';
	position: absolute;
	top: -8px;
	right: -8px;
	bottom: -8px;
	left: -8px;
	z-index: -1;
	background: rgba(0, 0, 0, 0.08);
	border-radius: 4px;
}
.login h1 {
	margin: -20px -20px 21px;
	line-height: 40px;
	font-size: 15px;
	font-weight: bold;
	color: #555;
	text-align: center;
	text-shadow: 0 1px #fff;
	border-bottom: 1px solid #cfcfcf;
	border-radius: 3px 3px 0 0;
	background-color: #f3f3f3;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fffffd), color-stop(100%, #eef2f5));
	background-image: -webkit-linear-gradient(top, #fffffd, #eef2f5);
	background-image: -moz-linear-gradient(top, #fffffd, #eef2f5);
	background-image: -ms-linear-gradient(top, #fffffd, #eef2f5);
	background-image: -o-linear-gradient(top, #fffffd, #eef2f5);
	background-image: linear-gradient(top, #fffffd, #eef2f5);
	-webkit-box-shadow: 0 1px #f5f5f5;
	box-shadow: 0 1px #f5f5f5;
}
.login p {
	margin: 20px 0 0;
}
.login p:first-child {
	margin-top: 0;
}
.login input[type=text], .login input[type=password] {
	width: 278px;
}
.login p.submit {
	text-align: center;
}

.login-help {
	margin: 20px 0;
	font-size: 11px;
	text-align: center;
	text-shadow: 0 1px #2a85a1;
	color: #fff;
}
.login-help a {
	color: #cce7fa;
}
.login input {
	font-family: 'Lucida Grande', Verdana, sans-serif;
	font-size: 14px;
}

.login input[type=text], .login input[type=password] {
	margin: 5px;
	padding: 0 10px;
	width: 200px;
	height: 34px;
	color: #404040;
	background: #fff;
	border-width: 1px;
	border-style: solid;
	border-color: #c4c4c4 #d1d1d1 #d4d4d4;
	border-radius: 2px;
	outline: 5px solid #eff4f7;
	-moz-outline-radius: 3px;
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.12);
}
.login input[type=text]:focus, .login input[type=password]:focus {
	border-color: #7dc9e2;
	outline-color: #dceefc;
	outline-offset: 0;
}

.login input[type=submit] {
	padding: 0 18px;
	height: 29px;
	font-size: 12px;
	font-weight: bold;
	color: #527881;
	text-shadow: 0 1px #e3f1f1;
	border-width: 1px;
	border-style: solid;
	border-color: #b4ccce #b3c0c8 #9eb9c2;
	border-radius: 16px;
	outline: none;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
	background-color: #cde5ef;
	background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #edf5f8), color-stop(100%, #cde5ef));
	background-image: -webkit-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -moz-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -ms-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: -o-linear-gradient(top, #edf5f8, #cde5ef);
	background-image: linear-gradient(top, #edf5f8, #cde5ef);
	-webkit-box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
	box-shadow: inset 0 1px white, 0 1px 2px rgba(0, 0, 0, 0.15);
}
.login input[type=submit]:active {
	background: #cde5ef;
	-webkit-box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
	box-shadow: inset 0 0 3px rgba(0, 0, 0, 0.2);
}

.login .lt-ie9 input[type=text], .login .lt-ie9 input[type=password] {
	line-height: 34px;
}
h2.login-msg {
	display:block;
	color:red;
	width:100%;
	text-align:center;
}
h2.msg {
	display:block;
	color:red;
	width:100%;
	text-align:center;
}