.wrapper_line {
	margin-bottom: 15px;
}
#first_step table, #two_step table, #three_step table {
vertical-align: top;
width:100%;
/*overflow: hidden;*/
}
#first_step table{
	margin-bottom: 0;
}
#first_step table tr td, #two_step table tr td, #three_step table tr td {
vertical-align: top;

}
#first_step, #two_step, #three_step {
margin-top: 10px;
padding: 10px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
/*height:882px;*/
border-radius: 5px;
float: left;
width: 100%;
min-height: 340px;
position: relative;
padding-bottom: 14px;
}
.nicEdit-main, textarea {
	height:150px;
	
}
.block_element_btn {
	height: 40px;
	margin-top: 15px;
}
.plusminusblock{
	margin: 10px 0;
}
.order_hints {
	display: none;
	position: absolute;
	margin-left: 239px;
	margin-top: -43px;
	border: 1px solid rgb(134, 183, 44);
	padding: 11px 11px 12px;
	background-color: #fafafa;
}
.order_errors {
	display: none;
	position: absolute;
	margin-left: 239px;
	margin-top: -90px;
	border: 1px solid red;
	padding: 11px 11px 12px;
	background-color: #fafafa;
}
#captcha {
margin-top: -44px!important;
}
.label_hints {
	display: none;
	position: absolute;
	margin-left: 239px;
	border: 1px solid rgb(134, 183, 44);
	padding: 11px 11px 12px;
	background-color: #fafafa;
}
#number_of_pages, #discount_code, #number_of_slides, #email_login, #password_login, #sources_needed, #paper_details, #previous_writer, #captcha {
	width: 206px;
}
#phone_number {
	width: 231px  !important;
}


#sources_needed + div.order_hints {
	margin-top: -40px
}

#password_login + div.order_hints {
	margin-top: -40px
}
#email_login + div.order_hints {
	margin-top: -40px
}

.discount_code_block .order_hints {
	margin-top: -40px
}

#number_of_pages_block .order_hints {
	margin-top: -40px
}

.somehint {
color: white;
font-size: 14px;
font-weight: normal;
font-style: normal;
padding: 10px;
}
.whiteblock {
	z-index: 3333!important;
	padding-bottom: 15px;
}
.iconsglobal {
margin-top: 20px;
float: left;
}

.uploadglobal {
	float: left;
margin-top: 15px;
margin-left: 17px;
width: 244px;
}
.iconsglobal_bl, .uploadglobal_bl {
	margin-top: 8px;
}
.uploadglobal_bl span {
	font-size: 11px;
}
.somehint {
display: none;
position: absolute;
bottom: 26px;
top:auto!important;
z-index: 99;
text-align: center!important;
background-color: #1f221d;
width: 121px;
margin-left: -17px;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
 left: -17px;
 margin-left: 0;
}

.block_element_head {
margin-top: 8px;
}
.block_element.nic {
background-color: #ebebeb;
border: solid 1px #bdbdbd;
width: 788px;
}
.nicEdit-main:focus {
outline:none!important;
}
.nicEdit-main, textarea {
border:0px!important;
outline: none
}
.block_element.nic > div {
border:0px!important;
}
.error {
/*height:20px;*/
width: 700px;
}
.hints {
position: relative;
text-decoration: none
}

.hints:hover .somehint {
display: block;
}

.somehint img {
position: absolute;
bottom: -8px;
left: 19px;
}

a:hover {
text-decoration: none;
}

#order_form .order-price {
color: #838383;
font-size: 18pt;
margin-bottom: 36px;
float: left;
margin-top: -58px;
width: 1000px;
text-align: center;
font-family: 'Oswald', sans-serif !important;
}
#calc_result {
	font-size: 25pt;
}
.step_table td:first-child{
width: 181px!important;
text-align:right;
}
/*.step_table td:last-child {
width:714px!important
}*/
/*.step_table select {
width:740px!important
}*/
.nav-steps {
background: #fff;
display: table;
width: 1000px;
border-radius: 3px 3px 0 0;
margin-top: -10px;
margin-left: -10px;
font-family: 'Oswald', sans-serif !important;
text-transform: uppercase;
margin-bottom: 25px;
}
.cell_wrap{
	width: 488px;
	float: left;
}
.cell_in {
	float: left;
}

#first_step table tr td div.block_cell, #first_step table tr td div.block_cell select , #first_step table tr td div.block_cell ul, #first_step table tr td div.block_cell div{
	width: 240px;
}
.nav-steps .nav-step.active-step {
color: #284a71;
border-color: #fff;
background: #fff;

}

.nav-steps .nav-step {
display: table-cell;
vertical-align: middle;
width: 33.333333333333%;
font-size: 18px;
color: #284a71;
text-align: center;
cursor: pointer;
padding: 10px;
/*border-bottom: 3px solid #808080;*/
background: #919191;
}

.step_table .sbHolder {
width:304px;
/*margin: 10px 0;*/
}

.step_table .sbHolder ul, #work_type, .error {
	width:263px;
}
.error {
	width: 305px;
}
/*.step_table .sbSelector {
width: 673px;
}*/
.block_element_head {
	min-width: 150px;
	text-align: right;
}
.step_table .sbOptions {
width:713px
}
.step_table input[type='text'], .step_table input[type='password']:focus {
outline: none;
}
.step_table input[type='text'], .step_table input[type='password'] {
background-color: #ebebeb;
border: solid 1px #bdbdbd;
/*width: 693px!important;*/
padding-top: 11px;
padding-bottom: 11px;
padding-left: 10px;

padding-right: 10px;

}

.plusminusblock div {
float:left;
font-family: 'TornadoCyr-Regular' ;
}
.plusminusblock.vipad{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.plusminusblock div.coint {
text-align: center;
background-color: #ebebeb;
border: solid 1px #bdbdbd;
padding-left: 15px;
padding-right: 15px;
width: 20px;
border-left: 0px;
border-right: 0px;
height: 35px;
line-height: 35px;
font-size: 18px;
font-family: 'Oswald', sans-serif !important;
color: #004673;
}
.plusminusblock div.minus {
line-height:34px;
}
.plusminusblock div.plus, .plusminusblock div.minus {
width: 50px;
background-color: #c82739;
text-align: center;
color: white;
font-size: 28px;
font-weight: bold;
height: 37px;
}
.plusminusblock div.plus:hover, .plusminusblock div.minus:hover {
background-color: #f00;
cursor:pointer;
}

input[type="button"], input[type="submit"] {

padding: 11px 0px;
background-color: #c82739;
color: white;
margin-left: 77px;
font-size: 16px;
width: 150px;
text-align: center;
border:0px;
position: absolute;
bottom: 13px;
}

input[type="button"]:hover, input[type="submit"]:hover {
background-color: #FF001D;
cursor:pointer;
}

fieldset {
border:0px;
}

table.complete tr td.gray {
width:120px;
text-align:left;
color: #777777;
padding-bottom: 2px;
float: left;
margin-top: 0;
margin-right: 4px;
}

table.complete tr td.black {
font-weight:bold;
}
/*
table.complete tr td.black.f1 {
padding-right:100px;
}
*/
table.complete {
margin-top: 11px;
/*width:658px !important; */
margin-top: 0;
margin-bottom: 0;
}
.left-side {
	border: 1px solid #284a71;
	float: left;
	margin-right: 4px;
	width: 630px;
	margin-bottom: 15px;
	padding-left: 12px;
	padding-bottom: 8px;
}
table.complete tr td{
	width: 200px;
	padding-bottom: 5px;
}
.order-tabs {
list-style: none;
margin: 0;
padding: 0;
border-bottom: 1px solid #cccccc;
margin-top: 10px;
margin-bottom: 10px;
}
.order-tabs li a {
display: block;
padding: 8px 20px 11px 21px;
}
.order-tabs a {
color: #FF001D;
text-decoration: none;
}

.order-tabs li.active a {
  background: white;
  border-radius: 3px 3px 0 0;
  border: 1px solid #cccccc;
  border-bottom: 1px solid white;
}
.order-tabs li:hover a {
  text-decoration: underline;
}
.order-tabs li {
display: inline-block;
margin: 0;
padding: 0;
background: none;
margin-bottom: -1px;
}
.block_element_head_bl{
	text-align: right;
	width: 175px;
	margin-right: 10px;

}
.block_element_bl {
	width: 360px;
}
.cell_fr_title_h {
	margin-left: 15px;
}
.block_element_tt {
	width: 179px;
}
input[type="button"].back_btn {
	background: #376194;
}
input[type="text"].discount_code_inn {
	width: auto !important;
}
table.step_table_helf_cells td, .table.step_table_helf_cells td:first-child {
	width: 50% !important;
}
.table.step_table_helf_cells td:first-child{
	padding-left: 17px !important;
}
.block_element_head_cell {
	display: inline-block;
}
table.step_table_left {
	margin-bottom: 0;
}
.plusminusblock_nn {
	float: left;
	margin-left: 9px;
}
table.mb_table {
	margin-bottom: 60px;
}

.right_side {
	float: left;
	width: 328px;
	min-height: 150px;
	border: 2px solid #284a76;
	list-style: none;
	padding: 0;
	margin: 0;
	font-size: 0;
	min-height: 209px;
	text-align: center;
}
.right_side li{
	border-bottom: 1px solid #284a76;
	padding-bottom: 3px;
	padding-top: 5px;
}
.right_side li.last {
	padding-bottom: 0;
	border-bottom-color: transparent;
}
.right_side li .cells {
	display: inline-block;
	width: 25%;
	color: #284a71;
	font-size: 18px;
}
.name_tit {
	color: #777;
	text-transform: uppercase;
	font-size: 18px;
}
.day_left {
	color: #284a71;
	position: relative;
	font-weight: bold;
}
.day_left_last:before {
	content: "/";
	position: absolute;
	left: -3px;
	top: 0;
	bottom: 0;
	display: block;
}
.time_title {
	color: #4e4c4c;
	font-size: 18px;
	text-transform: uppercase;
	font-weight: bold;
	padding-bottom: 5px;
}
.right_side li span.blue_t {
	color: #284a71;
	display: inline-block;
	font-size: 14px;
}
.right_side li span.silver_t {
	color: #777 !important;
	text-transform: uppercase;
	font-size: 14px;
	padding-bottom: 5px;
	display: inline-block;
}
.right_side li span.blue_t_pb {
	padding-bottom: 10px;
}
.whiteblock span.gray {
	color: #777 !important;
	display: inline-block;
	width: 125px;
	margin-right: 4px;
}
.whiteblock span.blue {
	color: #284a71 !important;
}
.login_b input[type="password"].password_login, .login_b input[type="text"]{
	width: 228px !important;
}
.block_element_head_em{
	min-width: 86px;
}
.block_element_headpl {
	width: 158px;
}
input[type="button"].apply_dis {
	background: #77933c;
}
input[type="button"].apply_dis:hover {
	background: #B1C881;
}
.step_table_reg_stage .block_element_head {
	display: inline-block;
	min-width: 130px;
	vertical-align: middle;
}
.step_table_reg_stage.step_table .sbHolder{
	display: inline-block;
	vertical-align: middle;
	width: 315px;
}
.step_table_reg_stage.step_table input[type="password"],.step_table_reg_stage.step_table input[type="text"]{
	width: 295px;
}
table.step_table_reg_stage {
	margin-bottom: 0;
}
table.step_table_bottom {
	margin-bottom: 30px;
}
.step_table1 .sbToggle {
	height: 40px;
}
.step_table1 .plusminusblock div.plus:hover, .step_table1 .plusminusblock div.minus:hover{
	background: #2b5a8b;
	margin: 0;
}
.step_table1 .plusminusblock div.plus, .step_table1 .plusminusblock div.minus{
	background: #214871;
}
.step_table1 .plusminusblock_nn{
	margin: 0;
}
#topic {
	padding: 5px;
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}
.nicEdit-main, #topic{
	font-size: 14px;
}
#error_paper_format , #error_academic_level{
	text-align: left;
}
.btn-primary{
	font-family: 'Oswald', sans-serif !important;
	text-transform: uppercase;
}
.left_complite_wrap .complete td.black ,.left_complite_wrap .complete td{
	padding-left: 0;
	padding-right: 0;
}
#preview_topic{
	padding-right: 12px;
}
.blue.blue_bbb{
	padding-right: 12px;
}
.sbSelector_59661305 .sbOptions, .sbSelector .sbOptions, .block_element_bbb .sbOptions{
	width: 274px;
}

.attach_name {
font-size: 12px;
}
.step_table input[type='text'].error_bb, .step_table input[type='password'].error_bb{
	border-color:#FF001D;
	background-color: #fff;
}
.note_bottom {
	color: #284a71;
	font-family: 'TornadoCyr-Regular';
}
.bottom_text{
	position: absolute;
	bottom: 10px;
	left: 34px;
	right: 23px;
}
#three_step {
	position: relative;
}
.order-price_topup{
	margin-top: -112px;
}
.block_element_bbb  .sbHolder{
	text-align:left;
}
.block_element_bbb .block_element_head{
	text-align:right !important;
}
.block_element_bbb .sbOptions{
width: 274px !important;
}
.step_table.step_table1 .error{
	width: auto;
	text-align: left;
}
.step_table.step_table1 table td {
	vertical-align: middle;
}
#order_form .step_3_price{
	margin-top: -115px;
}
.step_table.step_table1 .error{
	margin-top: -20px;

}
.client_login {
	padding-top: 20px;
}
.step_table.step_table_reg_stage.step_table1 +.step_table.step_table1{
	margin-bottom: 110px;
}
.step_table_reg_stage.step_table1 .block_element_head{
	vertical-align: top;
	padding-top: 12px;
}
#first_step table tr td, #two_step table tr td{
	padding-bottom: 25px !important;
}
#discount_code,#email_login,#password_login,#email_reg,#password_reg,.error_bb_input, .phone_prefix.input-mini{
	font-family: "Oswald",sans-serif !important;
	text-transform: uppercase;
	color: #000;
	font-size: 14px;
}