﻿@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.pre_wrpa {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
.pointer {
  cursor: pointer;
}
.hide, .hidden {
  display: none;
}
.error {
  color: red;
}
.show {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.default-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("/css/fonts/opensans-bold-webfont.eot");
  src: local("☺"), url("/css/fonts/opensans-bold-webfont.woff") format("woff"), url("/css/fonts/opensans-bold-webfont.ttf") format("truetype"), url("/css/fonts/opensans-bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url("/css/fonts/opensans-regular-webfont.eot");
  src: local("☺"), url("/css/fonts/opensans-regular-webfont.woff") format("woff"), url("/css/fonts/opensans-regular-webfont.ttf") format("truetype"), url("/css/fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url("/css/fonts/opensans-semibold-webfont.eot");
  src: local("☺"), url("/css/fonts/opensans-semibold-webfont.woff") format("woff"), url("/css/fonts/opensans-semibold-webfont.ttf") format("truetype"), url("/css/fonts/opensans-semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  position: relative;
  text-align: left;
  color: #444c63;
  background: white;
  font-family: "OpenSansRegular", tahoma, arial;
  font-size: 12px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #444c63;
}

a:hover {
  text-decoration: none;
  color: #596381;
}

a img {
  border-color: #444c63;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.default_list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
.wrapper {
  overflow: hidden;
}
.header_block {
  min-height: 54px;
  padding-top: 24px;
}
.header_block .logo_form {
  margin-right: 23px;
  margin-left: 24px;
  width: 142px;
  height: 40px;
  background: url(/img/logo_forms.png) 0 0 no-repeat;
  display: none;
}
.header_block .logo_form a {
  display: block;
  height: 40px;
}
.header_block .nav_steps {
  padding-bottom: 1px;
  padding-top: 6px;
}
.header_block .nav_steps li {
  display: inline-block;
  vertical-align: bottom;
  padding-left: 12px;
  padding-right: 12px;
}
.header_block .nav_steps li a {
  line-height: 33px;
  height: 33px;
  display: block;
  padding: 0 12px 0 32px;
  background: url(/img/step_arrow.png) 0 50% no-repeat;
  font-family: "OpenSansSemibold", tahoma;
  color: #333;
  font-size: 13px;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header_block .nav_steps li a:hover {
  background-position: 6px 50%;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.header_block .nav_steps li a:active, .header_block .nav_steps li a.current {
  background: #88b72c;
  color: #ffffff;
  padding: 0 22px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  -moz-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
}
.tabs_body .step_1 {
  border-bottom: 1px solid #dee1e2;
  padding-bottom: 5px;
}
.tabs_body .row_wrap {
  min-height: 44px;
  font-size: 0;
  margin-bottom: 14px;
}
.tabs_body .row_wrap .float-left{
  padding-right: 24px;
  width: 50%;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.tabs_body .row_wrap .float-left:last-child {
  margin-right: 0;
}
.tabs_body .row_wrap:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.tabs_body .row_wrap .float-right {
  width: 50%;
    box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  padding-right: 24px;
}
.tabs_body .row_wrap .float-right .title_side {
  min-width: 163px;
}
.error_title {
  font-size: 13px;
}
.nicEdit-main {
  font-size: 13px;
}
.tabs_body .row_wrap .title_side {
  font-size: 13px;
  color: #444c63;
  font-family: "OpenSansSemibold", tahoma;
  display:block;
  min-width: 146px;
  vertical-align: middle;
  line-height: 26px;
  padding-bottom: 3px;
  min-height: 36px;
  line-height: 36px;
}
.tabs_body .row_wrap .title_side.title_side_paper {
  vertical-align: top;
  margin-top: 14px;
}
.tabs_body .row_wrap .title_side a, a.inf_popr {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  width: 14px;
  height: 14px;
  background: url(/img/ico_inf_more.png) 0 0 no-repeat;
  position: relative;
  z-index: 1;
}
.tabs_body .row_wrap .title_side a:hover .pop_up, a.inf_popr:hover .pop_up{
  min-height: 100%;
  max-height: 1000px;
  height: auto;
/*  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;*/
}
.tabs_body .row_wrap .title_side a:hover .pop_up .bg_popup, a.inf_popr:hover .pop_up .bg_popup{
  min-height: 100%;
  max-height: 1000px;
  height: auto;
/*  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;*/
}
.tabs_body .row_wrap .title_side a:hover .pop_up span.text, a.inf_popr:hover .pop_up span.text{
  min-height: 100%;
  max-height: 1000px;
  height: auto;
  padding: 7px;
  font-size: 12px;
}
.tabs_body .row_wrap .title_side a:hover .pop_up .bg_popup:before, a.inf_popr:hover .pop_up .bg_popup:before{
  top: 100%;
  left: 30px;
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
}
.tabs_body .row_wrap_last_input input[type="text"] {
  width:100%;
  outline: none;
}
.tabs_body .row_wrap_last_area textarea {
  width: 100%;
  border:none;
  height: 150px;
}
.nicEdit-main,.tabs_body input[type="text"], .tabs_body input[type="password"], .tabs_body select, .tabs_body textarea,.sbHolder {
  border: 1px solid #dee1e2;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #fff !important;
  color: #9aa1b6;
  font-family: "OpenSansRegular", tahoma;
  font-size: 13px;
  padding-left: 10px;
  width: 100%;
  height: 44px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  display: inline-block;
  vertical-align: middle;

}
.text_area_bl {
  border: 1px solid #dee1e2 !important;
  background-color: #fff !important;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  margin-right: 24px;
}
.text_area_bl  .nicEdit-main {
  background: transparent !important;
  border-color: transparent !important;
  padding-top: 15px;
  padding-bottom: 15px;
}
.tabs_body input[type="file"] {
  font-size: 12px;
  vertical-align: middle;
}
.tabs_body input[type="file"]#file {
  margin-top: 7px;
  margin-bottom: 3px;
}
.tabs_body input[type="text"]{
  color: #3F4559;
}
.tabs_body .note_block {
  color: #9aa1b6;
  font-size: 11px;
  font-family: "OpenSansRegular", tahoma;
  /*padding-top: 9px;*/
}
.tabs_body .plusminusblock {
  background-color: #ffffff;
  border: 1px solid #dee1e2;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 158px;
  display: inline-block;
  vertical-align: middle;
}
.tabs_body .plusminusblock div.plus, .tabs_body .plusminusblock div.minus {
  width: 50px;
  text-align: center;
  color: white;
  font-size: 28px;
  font-size: 17px;
  font-family: "OpenSansBold", tahoma;
  height: 44px;
  line-height: 44px;
  color: #333333;
  display: inline-block;
  vertical-align: top;
  cursor: pointer;
}
.tabs_body .coint {
  height: 26px;
  line-height: 26px;
  font-size: 13px;
  font-family: "OpenSansRegular", tahoma;
  width: 56px;
  margin-top: 10px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  border-left: 1px solid #dee1e2;
  border-right: 1px solid #dee1e2;
  color: #9aa1b6;
}
.tabs_body .bottom_panel {
  padding-top: 22px;
  padding-bottom: 23px;
  border-top: 1px solid #dee1e2;
  margin-right: 24px;
}
.tabs_body .bottom_panel:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.tabs_body .btn_blue_fr {
  background-color: #88b72c;
  color: #fff;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  display: block;
  text-align: center;
  line-height: 39px;
  /*height: 39px;*/
}
.tabs_body .btn_blue_fr:hover {
  background-color: #9ece3f;
}
.tabs_body .btn_blue_fr span.back {
  display: block;
  padding-left: 50px;
  text-align: left;
  min-width: 70px;
  padding-right: 8px;
  padding-top: 0;
  background: url(/img/arrow_back.png) 29px 50% no-repeat;
}
.tabs_body .btn_red_fr {
  background-color: #e88d17;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-size: 13px;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
  display: block;
  text-align: center;
  line-height: 39px;
  /*height: 39px;*/
}
.tabs_body .btn_red_fr:hover {
  background-color: #f09a2b;
}
.tabs_body .btn_red_fr span.next {
  display: block;
  padding-right: 50px;
  padding-left: 16px;
  padding-top: 0;
  text-align: left;
  background: url(/img/arrow_next.png) 102px 50% no-repeat;
}
.tabs_body .prie_bottom {
  font-size: 16px;
  color: #333333;
  text-transform: uppercase;
  text-align: center;
  font-family: "OpenSansSemibold", tahoma;
  line-height: 39px;
}
.discount_bottom {
    
    width: 18%;
    margin-left: 45px;
    position: relative;
    float: left;
}
.tabs_body .prie_bottom .block_text {
  display: inline-block;
}
.tabs_body .prie_bottom .block_text a {
  display: inline-block;
  vertical-align: middle;
  margin-left: 8px;
  width: 14px;
  height: 14px;
  background: url(/img/ico_inf_more.png) 0 0 no-repeat;
  position: relative;
  margin-top: -4px;
}
.tabs_body .prie_bottom .block_text a:hover .pop_up {
  min-height: 100%;
  max-height: 1000px;
  height: auto;
/*  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;*/
}
.tabs_body .prie_bottom .block_text a:hover .pop_up .bg_popup {
  min-height: 100%;
  max-height: 1000px;
  height: auto;
/*  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;*/
}
.tabs_body .prie_bottom .block_text a:hover .pop_up span.text {
  min-height: 100%;
  max-height: 1000px;
  height: auto;
  padding: 7px;
}
.tabs_body .prie_bottom .block_text a:hover .pop_up .bg_popup:before ,a.inf_popr:hover .pop_up .bg_popup:before{
  top: 100%;
  left: 30px;
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
}

.pop_up {
  height: 0;
  min-height: 0;
  max-height: 0;
  position: absolute;
  z-index: 0;
  bottom: 100%;
  left: 100%;
  margin-bottom: 10px;
  min-width: 80px;
  margin-left: -41px;
  font-size: 10px;
/*  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;*/
}
a.inf_popr .pop_up{
  margin-left: -237px;
}
.pop_up .bg_popup {
  height: 0;
  min-height: 0;
  max-height: 0;
/*  -moz-transition: all 0.7s ease;
  -o-transition: all 0.7s ease;
  -webkit-transition: all 0.7s ease;
  transition: all 0.7s ease;*/
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f00;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #000;
  z-index: -1;
}
.pop_up span.text {
  display: block;
  color: #fff;
  overflow: hidden;
  height: 0;
  min-height: 0;
  max-height: 0;
  text-transform: none;
  font-size: 12px;
  text-align: left;
  line-height: 1.2;
}
.tabs_body .row_wrap .float-right.text_area_bl {
  width: 769px;
}
.clear {
  clear: both;
  font-size: 0;
  height: 0;
}
.tabs_body .row_wrap .float-right.text_area_bl > div {
  border:none!important;
  margin: 0!important;
  padding: 0!important; 
  width: 769px!important;
}
.tabs_body .row_wrap .float-right.text_area_bl > div .nicEdit-main{
 width: 769px!important; 
 margin: 0!important;
 padding-right: 10px !important;
 outline: none !important;
 padding-top: 15px!important;
 overflow-y: auto!important;
}
.tabs_body .row_wrap .float-right.text_area_bl > div .nicEdit-main:focus{
  border: 1px solid #dee1e2 !important;
}
.step_3 #order_list_center {
  font-size: 0;
  padding-top: 22px;
  padding-bottom: 22px;
  width: 551px;
  float: left;
}
.step_3 #order_list_center .cell_block {
  font-size: 13px;
  width: 50%;
  vertical-align: top;
  padding-right: 18px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.center_blocks {
  background-color: #fff;
  border: 1px solid #dee1e2;
  margin-bottom: 6px;
  padding: 16px 20px 16px 20px;
  font-size: 13px;
}
.center_blocks .services_line {
  margin-bottom: 12px;
  font-size: 13px;
}
.center_blocks .cell_block {
  display: inline-block;
  vertical-align: middle;
}
.tabs_body .apply_discount {
  background-color: #77933c;
  text-shadow: 0 1px 0 rgba(0,0,0,.11);
  width: 128px;
  padding: 0;
  text-align: center;
  margin-right: 17px;
}
.tabs_body .apply_discount:hover{
  background-color: #89a353;
}
.proceed {
  width: 128px;
  padding: 0;
  text-align: center;
}
.error_title {
  margin-top:6px;
}
.tabs_body .btn_blue_fr.btn_blue_fr_step_2 span.back{
  padding-left: 30px;
  padding-right: 13px;
  background-position: 12px 50%;
}
.tabs_body .btn_red_fr.btn_red_fr_step2 span.next{
  padding-right: 37px;
  padding-left: 16px;
  background-position: 102px 50%;
}
.clear {
  clear: both;
}
.right_side_step3 {
  width: 173px;
  text-align: center;
  padding-left: 70px;
  padding-right:79px;
}
.inf_popr{
  background: url(/img/ico_inf_more.png) 0 0 no-repeat;
}
.inf_popr .popin_block{
  font-size: 13px;
  width: 250px;
  right: 0px;
  left: auto;
  margin-right: -10px;
}
.inf_popr .popin_block span.bg_popbl  {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f00;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #000;
  z-index: -1;
  display: block;
}
span.bg_popbl:before{
  top: 100%;
left: 30px;
position: absolute;
width: 0;
height: 0;
content: '';
left: 228px;
border-style: solid;
border-width: 4px 4px 0 4px;
border-color: #000 transparent transparent transparent;
}
.capcha_wrap {
  position: relative;
}
.capcha_wrap img {
  vertical-align: middle;
}
.tabs_body input[type="text"].capcha_input_m{
  width: 209px !important;
  margin-left: 6px;
}
.step_3 fieldset {
  border: none;
  padding: 0;
  margin: 0;
}
.step_3 fieldset .error_title {
  vertical-align: middle;
  display: inline-block;
}
.order-tabs {
  padding: 0;
  margin:15px 0 18px 0;
  list-style: none;
}
.order-tabs li {
  display: inline-block;
  vertical-align: top;
  padding-right: 18px;
}
.order-tabs li a {
  display: block;
  font-size: 13px;
  text-decoration:none;
  font-size: 13px;
  font-family: 'OpenSansSemibold';
  padding: 0 18px;
  line-height: 27px;
  -moz-border-radius: 14px;
-webkit-border-radius: 14px;
border-radius: 14px; 
border:1px solid #ccc;
}
.order-tabs li a:hover, .order-tabs li a.active {
  background: #214871;
  color: #fff;
  text-shadow: 0 1px 0 rgba(0,0,0,.11); 
  border-color:transparent;
}
.right_side.right_blocks {
  border-top: 1px solid #DEE1E2;
}
.step_3 fieldset a {
  text-decoration: underline;
  color: #00b5f9;
  font-size: 13px;
}
.tabs_body input[type="text"]#phone_number{
  width: 181px!important;
  margin-left: 7px!important;
}
.tabs_body input[type="text"]#phone_prefix {
  width: 37px!important;
  padding: 0;
  text-align: center;
  height: 44px!important;
  line-height: 44px!important;
  padding-left: 0 !important;
}
.tabs_body .row_wrap .capca_img img {
  vertical-align: middle!important;
  width: 230px;
}
.capca_img {
  display: inline-block;
  vertical-align: middle;
  width:230px;
}
.tabs_body input[type="text"].capca_btn {
  width: 230px!important;
  margin-left: 6px;
  float: right;
  margin-top: 15px;
}
.right_side_step3 .current_bb  {
  border-top: 1px solid #dee1e2;
  margin-top: 15px;
}
.right_side .right_blocks {
  padding-top: 15px;
}
.right_side_step3 .right_side .contacts {
  text-align: left;
  border-top: 1px solid #dee1e2;
}
.inf_bottom {
  position: relative;
}
#discount_fail {
  position: absolute;
  left: 0;
  right: 0;
  text-align: center;
  display: block;
}
.weight_sent {
  display: inline-block;
  padding-left: 15px;
  font-size: 15px;
  background: url(../img/dotted_bg.png) 0 50% no-repeat;
}
.cell_topic {
  float: left;
  width: 100%;
  padding-right: 24px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.text_area_bl div {
  border: none!important;
  overflow: visible!important;
  word-wrap: break-word;
  white-space: pre-wrap;
}

.tabs_body .row_wrap .title_side.title_input {
  min-height: 27px;
}
.tabs_body .row_wrap .title_side.title_input input[type="checkbox"]{
  vertical-align: middle;
}
.title_input1 {
  padding-top: 35px;
}
.center_blocks .note_block {
  width: 38%;
  margin-right: 5px;
  display: inline-block;
}
.center_blocks .note_block_bottom{
  width: 98px;
}
.tabs_body .row_wrap .title_side_discont{
  display: block;
}
.step_3 fieldset  .capcha_wrap .error_title {
  display: block;
}
/*.checkbox_agree {
  padding-top: 59px;
}*/
.balls_row {
  font-size: 0;
  text-align: center;
}
.balls_row .ball {
  display: inline-block;
  width: 45px;
  height: 45px;
  border-radius: 50px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  background: #88b72c;
  font-size: ;
  line-height: 45px;
  text-align: center;
  overflow: hidden;
  text-shadow: 0 1px 0 rgba(0,0,0,.11); 
  margin-right: 11px;
  font-size: 16px;
  color: #fff;
}
.ball_tit {
  display: inline-block;
  width: 45px;
  margin-right: 11px;
  text-align: center;
  font-size: 13px;
  color: #9aa1b6;
  padding-top: 5px;
}
.ball_tit:last-child, .ball:last-child {
  margin-right: 0;
}
.blocks_title {
  font-size: 13px;
  font-family: "OpenSansBold", tahoma;
  text-transform: uppercase;
  margin-bottom: 7px;
  text-align: center;
}
.right_side .note_block {
  font-size: 13px;
}
.ecpected_time_bb{
  border-top: 1px solid #dee1e2;
  margin-top: 15px;
  padding-top: 15px;
}
a.inf_popr:hover .pop_up .bg_popup:before {
  left: 225px!important;
}
.tabs_body .row_wrap .title_side a:hover .pop_up.pop_up_tt .bg_popup:before{
  left: 243px!important;
}
.pop_up_tt {
  margin-left: -254px;
}
#client_create .row_wrap .title_side {
  display: inline-block;
}
#preview_attachment {
  width: 140px;
  display: inline-block;
  overflow: hidden;
}
.note_attachment {
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
}
.error_title_files {
  max-width:428px;
}
.step_3 fieldset#client_create .error_title{
  display: block;
}
.capchawrap{
  width: 376px;
}
.capca_img {
  width: 230px;
}
@media all and (orientation: portrait), all and (min-width: 310px) {
  .header_block .nav_steps{
    display: none;
  }
  .header_block .logo_form{
    float: none;
    margin: 0 auto;
  }
  .tabs_body {
      padding: 10px 0 0 24px;
  }
  .tabs_body .row_wrap .float-left{
    width: 100%;
  }
/*  .tabs_body .bottom_panel {
    overflow: hidden;
  }*/
  .pop_up {
  	width: 180px;
  }
    a.inf_popr .pop_up {
  	margin-left: -78px;

  }
  a.inf_popr:hover .pop_up .bg_popup:before {
  left: 67px!important;
	}
	.step_3 #order_list_center {
		width: 100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
	}
	.float-right.right_side_step3.right_side {
		width: 100%;
		box-sizing:border-box;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		padding-top: 20px;
		padding-bottom: 20px;
		  padding-left: 0;
  padding-right: 0;
	}
	.step_3  {
		padding-right: 24px;
	}
	.tabs_body .step_3  .bottom_panel{
		margin-right: 0;
	}
	.tabs_body .row_wrap .float-right{
		width: 100%;
	}
	#client_create .row_wrap .title_side.title_side_tell {
		display: block;
	}
	.tabs_body input[type="text"].capca_btn, .tabs_body input[type="text"].capcha_input_m {
		margin-left: 0;
		margin-top: 15px;
	}
	.tabs_body .apply_discount, .tabs_body .prie_bottom .block_text {
		margin-top: 10px;
		margin-right: 0;
	}
	.pop_up_tt {
  margin-left: -46px;
}
.tabs_body .row_wrap .title_side a:hover .pop_up.pop_up_tt .bg_popup:before {
  left: 34px!important;
}
.header_block {
	width: 100%;
}
.site-wrapper_order {
	margin-top: 0;
	margin-bottom: 0;
}
.step_3 #order_list_center .cell_block {
	width: 100%;
	padding: 0;
}
.tabs_body .step_3 .row_wrap .float-left, .tabs_body .step_3 .row_wrap .float-right {
	padding-right: 0;
}
.pop_up_1 {
	margin-left: -128px;
}
.tabs_body .prie_bottom .block_text a:hover .pop_up_1 .bg_popup:before, a.inf_popr:hover .pop_up_1 .bg_popup:before {
	  left: 117px;
}
.tabs_body .btn_red_fr {
  margin-left: 8px;
    margin-bottom: 10px;
}
.tabs_body .btn_red_fr.apply_discount {margin-left: 0;margin-bottom: 0;margin-top: 0;}
a.pointer.btn_blue_fr.btn_blue_fr_step_2.float-left{margin-bottom: 10px;}
.tabs_body .bottom_panel{
  padding-bottom: 43px;
  }/*320*/
}
@media all and (min-width: 768px) {
    .tabs_body .row_wrap .float-left{
    width: 50%;
    padding-right: 18px;
  }
  .tabs_body .bottom_panel{
  padding-bottom: 23px;
  }
  .step_3 #order_list_center .cell_block + .cell_block {
  padding-right: 0;
}
  .site-wrapper_order {
    box-sizing:border-box;
  }
  .site-wrapper_order {
	margin-top: 12px;
	margin-bottom: 33px;
}
  .pop_up{
  	width: 290px;
  }
	a.inf_popr .pop_up {
  margin-left: -237px;
}
.pop_up_tt {
  margin-left: -254px;
}
a.inf_popr:hover .pop_up .bg_popup:before {
  left: 225px!important;
}
	.pop_up_tt {
  margin-left: -46px;
}
.tabs_body .apply_discount, .tabs_body .prie_bottom .block_text {
		margin-top: 0;
	}
	.tabs_body .row_wrap .title_side a:hover .pop_up.pop_up_tt .bg_popup:before {
  left: 243px!important;
}
.step_3 #order_list_center .cell_block {
	width: 50%;
}
  }/*768*/
@media all and (min-width: 980px) {
  .header_block .nav_steps{
    display: block;
  }
  .header_block .logo_form {
    float: left;
    margin-right: 23px;
    margin-left: 24px;
  }
  .tabs_body {
      padding: 32px 0 0 24px;
  }
  .step_3  {
		padding-right: 0;
	}
	.step_3 #order_list_center{
		  width: 593px;
	}
	.float-right.right_side_step3.right_side{
	width: 322px;
	padding-top: 0;
	padding-bottom: 0;
	  padding-left: 70px;
  padding-right: 79px;
	}
	.tabs_body .row_wrap .float-right{
		width: 50%;
	}
	#client_create .row_wrap .title_side.title_side_tell {
		display: inline-block;
	}
	.tabs_body input[type="text"].capca_btn, .tabs_body input[type="text"].capcha_input_m {
		margin-left: 6px;
	}
	.tabs_body .step_3 .row_wrap .float-left, .tabs_body .step_3 .row_wrap .float-right{
		padding-right: 24px;
	}
	.tabs_body .apply_discount, .tabs_body .prie_bottom .block_text {
		margin-right: 10px;
	}
	.tabs_body .step_3 .bottom_panel {
		margin-right: 24px;
	}
  }/*980*/


  .inf_popr .popin_block.popin_block_1 {
    min-width: 184px;
    margin-left: -174px;
}

.inf_popr:hover .popin_block {
    display: block;
}

.inf_popr .popin_block {
    display: none;
    position: absolute;
    bottom: 100%;
    left: 100%;
    margin-bottom: 10px;
    min-width: 80px;
    min-height: 25px;
    margin-left: -41px;
    font-size: 10px;
    color: #fff;
    z-index: 1;
}

.inf_popr .popin_block {
    font-size: 13px;
    width: 250px;
    right: 0px;
    left: auto;
    margin-right: -10px;
}

.inf_popr .popin_block span.bg_popbl {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    background-color: #f00;
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
    opacity: 0.7;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-background-clip: padding;
    -o-background-clip: padding-box;
    -webkit-background-clip: padding;
    background-clip: padding-box;
    background-color: #000;
    z-index: -1;
    display: block;
}

.inf_popr .popin_block span {
    filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
    opacity: 1;
    display: block;
    padding: 7px 17px;
    }

    span.weight_sp1 {
    font-size: 16px;
    font-weight: bold;
    display: inline-block;
    padding-bottom: 8px;
}

.wi {
  width: 13%;
}

.hi {
  margin-top: -10px;
}

.qqq p.pol {
    display: block;
    padding: 10px 10px 7px 10px;
    margin: 0;
    font-size: 22px;
    border: 2px solid #444c63;
    background-color: #444c63;
    color: #Fff;
}

.qqq {
    padding-top: 11px;
    cursor: pointer;
    position: relative;
}

.qqq:hover .pol_info {
  display: block;
}

.pol_info {
    width: 200px;
    padding: 5px;
    background: rgba(0,0,0, .7);
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 90;
    right: 0px;
    top: 55px;
    display: none;
}

ul.nav_steps.default_list {
    width: 68%;
    float: left;
}

.float-left.top_link.top_link_h.qqq.www {
    float: right;
    padding-top: 0px;
    margin-right: 20px;
}