/* begin modile nav */

#nav .show-menu {
    display: none;
    /*padding: 18px 9px;*/
    background: url("/img/left_side_btn.png");
    width: 30px;
    height: 30px;
    margin: 10px 0 0 0;
}

.pda #nav {
    position: absolute;
}

.pda #nav .logo {
    display: none;
}

.pda #nav .menu {
    width: 100%;
}

.pda #nav .toggle {
    display: none;
    position: absolute;
    background: #000;
    width: 100%;
    top: 59px;
    left: 0;
    opacity: 0.8;
    padding: 8px;
}

.pda #nav .show-menu {
    display: block;
}

.pda #nav .cont ul li {
    display: block;
    margin: 0;
    padding: 0;
}

.pda .menu ul li ul {
    margin-left: 22px!important;
    width: auto!important;
    border: 2px solid #95c832;
    position: none!important;
}

.pda #nav .cont ul li a span {
    padding: 8px;
}

.pda #nav .menu .visible {

    display: block;
    position: static!important;
    height: 0px!important;
    float:none!important;
    
}

.pda #nav .visible img {
    display: none;
}

#nav .buttons {

}

#nav.pdaM .tell {
    float: left;
}

#nav.pdaM .skype {
    float: left;
}

/* end modile nav */