@charset "UTF-8";
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.pre_wrpa {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.default-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

@font-face {
  font-family: 'OpenSansBold';
  src: url("/css/fonts/opensans-bold-webfont.eot");
  src: local("☺"), url("/css/fonts/opensans-bold-webfont.woff") format("woff"), url("/css/fonts/opensans-bold-webfont.ttf") format("truetype"), url("/css/fonts/opensans-bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url("/css/fonts/opensans-regular-webfont.eot");
  src: local("☺"), url("/css/fonts/opensans-regular-webfont.woff") format("woff"), url("/css/fonts/opensans-regular-webfont.ttf") format("truetype"), url("/css/fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url("/css/fonts/opensans-semibold-webfont.eot");
  src: local("☺"), url("/css/fonts/opensans-semibold-webfont.woff") format("woff"), url("/css/fonts/opensans-semibold-webfont.ttf") format("truetype"), url("/css/fonts/opensans-semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
html, body {
  height: 100%;
}

body {
  position: relative;
  text-align: left;
  color: #444c63;
  background: white;
  font-family: "OpenSansRegular", tahoma, arial;
  font-size: 12px;
  line-height: 1.25;
}

a {
  text-decoration: none;
  color: #444c63;
}

a:hover {
  text-decoration: none;
  color: #596381;
}

a img {
  border-color: #444c63;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.default_list {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 0;
}
.space_top {
  height: 12px;
}
@media all and (orientation: portrait), all and (min-width: 310px) {
  .middle_block .block_left {
    position: absolute;
    margin: 0;
    left: -5000px;
    top: 0;
    bottom: 0;
  }
  .middle_block .block_center_in{
    margin-left: 0;
  }
  .site-wrapper .left_bg {
    display: none;
  }
  .middle_block .block_center_in {
    margin-right: 0;
    margin-left: 0;
  }
  .middle_block .block_center_in.block_center_in_right {
  padding-left: 12px;
  padding-right: 12px;
}
.ui-tabs .ui-tabs-nav.list_lk li {
  width: 100%;
  margin:0 0 10px;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
}
.right_block{
  width: 129px;
  padding-right: 12px;
}
.top_link a.pay_btn_new {
  margin-right: 0;
}
.top_link{
      padding-left: 12px;
  }
  .block_left {
    float: none;
    width: 100%;
    text-align: center;
    padding-left: 0;
    padding-right: 0;
  }
  .top_block .logo_block {
    padding-left: 0;
  }
  .wrapper_main {
  padding-top: 0;
}
.middle_block .right_block {
  margin-left: 0;
  float: none;
  width: 100%;
  clear: both;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  padding-bottom: 15px;
}
.center_ico.float-left{
  float: right;
}
.order_top {
  padding-left: 12px;
}
.icons_wrap {
  margin-right: 12px;
}
.middle_block .block_center_in .center_blocks {
  margin-left: 12px;
  margin-right: 12px;
}
.btn-menu {
  position: fixed;
  top: 5px;
  left: 5px;
  z-index: 2;
}
.middle_block .toggle_side {
    position: fixed;
    left: -5000px;
    top: 0;
    width: 164px;
    height: 100%;
    margin: 0;
    -moz-transition: all 2s ease;
    -o-transition: all 2s ease;
    -webkit-transition: all 2s ease;
    transition: all 2s ease;
    background: #222c38;
    padding-bottom: 15px;
    overflow-y:auto; 
  }
 .middle_block .hide_left{
  left: 0;
  z-index: 9999;
      -moz-transition: all 0.25s ease;
    -o-transition: all 0.25s ease;
    -webkit-transition: all 0.25s ease;
    transition: all 0.25s ease;
    bottom: 0;
    top: 0;
  }
  #screen {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  background: #000;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=30);
  opacity: 0.3;
  z-index: 10;
}
#blink_btn.order_now_btn {
  margin-top: 15px;
}
.payment_panel .cell_block {
  padding-bottom: 5px;
}
.payment_panel .cell_block +.cell_block{
  padding-bottom: 0;
  padding-top: 5px;
}
.right_side .contacts {
  text-align: center;
}
.right_side .contacts .line_step .note_block{
  display: inline-block;
}
#leftAside {
  z-index: 50;
}
.ui-tabs .ui-tabs-nav li {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
}
  .right_block_l, .top_link_l {
    display: block;
  }
  .top_link_h, .right_block_h {display: none;}
  .right_block_l {
    padding-top: 10px;
    padding-bottom: 10px;
  }
   .right_block_l span {
    color: #fff;
   }
    .right_block_l .usser_out {
    padding-left: 21px;
   }
    .right_block_l a {
      margin-left: 8px;
    }
}

@media all and (min-width: 768px) {
  .right_block{
  width: 129px;
  }
  .top_link a.pay_btn_new {
  margin-right: 0;
}
.block_left {
  width: 154px;
  float: left;
  }
  .top_block .logo_block {
    padding-left: 4px;
  }
  .icons_wrap {
  margin-right: 0 ;
}
#blink_btn.order_now_btn {
  margin-top: 0;
  padding: 0 0 20px 0;
}
.payment_panel .cell_block {
  padding-bottom: 0;
}
.payment_panel .cell_block +.cell_block{
  padding-bottom: 0;
  padding-top: 0;
}
}
@media all and (min-width: 980px) {
  .right_block_l, .top_link_l {
    display: none;
  }
  .top_link_h, .right_block_h {display: block;}
  .site-wrapper .left_bg{
    display: block;
  }
  .ui-tabs .ui-tabs-nav.list_lk li {
    width: 50%;
    margin-bottom: 10px;
    padding-right:10px;
  }
  .ui-tabs .ui-tabs-nav.list_lk li+li {
    padding-left: 10px;
    padding-right: 0;
  }
  .middle_block .block_left {
    position: relative;
    left: auto;
  }
  .middle_block .block_center_in{
      margin-left: 160px;
      margin-right: 211px;
  }
  .middle_block .block_center_in.block_center_in_right {
  padding-left: 32px;
  padding-right: 32px;
}
.right_block {
  width: 211px;
  }
 .top_link a.pay_btn_new {
    margin-right: 35px;
  }
  .top_link{
      padding-left: 32px;
  }
  .wrapper_main {
  padding-top: 12px;
}
.order_top{
  width: 491px;
}
.middle_block .right_block {
  margin-left: -211px;
  float: right;
  width:211px;
  clear:none;
}
.order_top {
  padding-left: 29px;
}
.middle_block .block_center_in .center_blocks {
  margin-left: 0;
  margin-right: 0;
}
.right_side .contacts {
  text-align: left;
}
.right_side .contacts .line_step .note_block{
  display:block;
}
.ui-tabs .ui-tabs-nav li{
  width: 267px;
  margin: 10px;
}
}
/*////////////////*/

.site-wrapper {
  max-width: 990px;
  position: relative;
  background-color: #f5f7f7;
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 0 auto 33px;
}
.site-wrapper:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.site-wrapper .left_bg {
  background-color: #333333;
  width: 154px;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
}

.block_left {
  position: relative;
}
.block_left ul.default_list {
  padding-top: 10px;
}
.right_block {
  float: right;
  position: relative;
  z-index: 1;
}

.block_center {
  position: relative;
}
.block_center .block_center_in {
  width: 100%;
}

.blocks_title {
  font-weight: bold;
  font-size: 13px;
  font-family: "OpenSansBold", tahoma;
  text-transform: uppercase;
  margin-bottom: 7px;
}

.note_block {
  color: #9aa1b6;
}

.inf_popr {
  position: relative;
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-left: 11px;
  background: url(/img/more_inf.png) 0 0 no-repeat;
}
.inf_popr .popin_block {
  display: none;
  position: absolute;
  bottom: 100%;
  left: 100%;
  margin-bottom: 10px;
  min-width: 184px;
  min-height: 25px;
  margin-left: -174px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  font-size: 10px;
  z-index: 1;
  color: #fff;
}
.inf_popr .popin_block span {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  display: block;
  padding: 7px 17px;
}
.inf_popr:hover .popin_block {
  display: block;
}

.icons_wrap {
  font-size: 0;
  width: 78px;
  padding-top: 28px;
}
.icons_wrap a {
  display: inline-block;
  width: 12px;
  height: 11px;
  position: relative;
  background: url(/img/icons.png) 0 -30px no-repeat;
}
.icons_wrap a .popin_block {
  display: none;
  position: absolute;
  z-index: 0;
  bottom: 100%;
  left: 100%;
  margin-bottom: 10px;
  min-width: 158px;
  min-height: 25px;
  margin-left: -41px;
  font-size: 10px;
}
.icons_wrap a .popin_block .bg_popbl , .inf_popr .popin_block .bg_popbl{
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #f00;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70);
  opacity: 0.7;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #000;
  z-index: -1;
}
.inf_popr .popin_block .bg_popbl {
   filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=90);
  opacity: 0.9;
}
.icons_wrap a .popin_block .bg_popbl:before, .inf_popr .popin_block .bg_popbl:before{
  top: 100%;
  left: 30px;
  position: absolute;
  width: 0;
  height: 0;
  content: '';
  border-style: solid;
  border-width: 4px 4px 0 4px;
  border-color: #000 transparent transparent transparent;
}
.inf_popr .popin_block .bg_popbl:before {
  left: 164px;
}
.icons_wrap a .popin_block span {
  display: block;
  padding: 7px 17px;
  color: #fff;
}
/*.icons_wrap a:hover , .icons_wrap a.blinker{
  background-position: 0 0;
}
.icons_wrap a:hover .popin_block {
  display: block;
}
.icons_wrap a + a {
  margin-left: 16px;
  background-position: -24px 100%;
}
.icons_wrap a + a:hover , .icons_wrap a + a.blinker{
  background-position: -24px 0;
}
.icons_wrap a + a + a {
  background-position:  -47px 100%;
}
.icons_wrap a + a + a:hover, .icons_wrap a + a + a.blinker {
  background-position: -47px 0;
}*/

.top_block {
  height: 70px;
  border-bottom: 1px solid #dcdedf;
  background: #fff;
}
.top_block:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.top_block .logo_block {
  background-color: #222c38;
  border-top: 1px solid #444c63;
  margin-top: -1px;
  padding-top: 14px;
  height: 56px;
}
.top_block .usser_out {
  text-align: right;
  padding-top: 26px;
  font-size: 0;
}
.top_block .usser_out span {
  display: inline-block;
  line-height: 16px;
  font-size: 13px;
  color: #444c63;
  vertical-align: middle;
}
.top_block .usser_out span + span {
  margin-left: 18px;
}
.top_block .usser_out img {
  border: none;
}
.top_block .center_ico {
  padding-left: 107px;
}

.order_top {
  font-family: "OpenSansBold", tahoma;
  font-size: 13px;
  text-transform: uppercase;
  color: #444c63;
  padding-top: 28px;
  float: left;
  box-sizing:border-box;
  -webkit-box-sizing:border-box;
  -moz-box-sizing:border-box;
  height: 48px;
}
.order_top_lk {
  width: 100%;
}

.middle_block {
  width: 100%;
}
.middle_block:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.middle_block .block_center {
  float: left;
  width: 100%;
}
.middle_block .block_left {
  margin-right: -100%;
  z-index: 1;
}


.middle_block .block_center_in {
  padding: 6px 0 0 0;
  width: auto;
}
.middle_block .block_center_in #payment_blok {
  font-size: 0;
}
#payment_blok label input[type="radio"] {
  width: 0;
  height: 0;
}
.middle_block .block_center_in #payment_blok .cell_block{
  font-size: 13px;
  width: 265px;
  padding-right: 13px;
  vertical-align: top;
}
.middle_block .block_center_in #payment_blok  .pay_title{
  min-width: 170px;
}
.middle_block .block_center_in #payment_blok .cell_block + .cell_block {
  width: 140px;
  padding-right: 19px;
}
.middle_block .block_center_in #payment_blok .cell_block + .cell_block + .cell_block {
  width: 117px;
  padding-right: 0;
}
.middle_block .block_center_in #payment_blok .blocks_title {
  margin-bottom: 13px;
}
.middle_block .block_center_in #order_list_center {
  font-size: 0;
  padding-top: 22px;
  padding-bottom: 22px;
}
.middle_block .block_center_in #order_list_center .cell_block {
  font-size: 13px;
  width: 280px;
  vertical-align: top;
  padding-right: 18px;
}
.middle_block .block_center_in #order_list_center .cell_block .note_block {
  width: 120px;

  display: inline-block;
}
.middle_block .block_center_in #order_list_center form  .cell_block  .note_block{
  width: 250px;
}
.middle_block .block_center_in #order_list_center form input[type="password"],.middle_block .block_center_in #order_list_center form input[type="text"]{
border: 1px solid #dee1e2 !important;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
-moz-background-clip: padding;
-o-background-clip: padding-box;
-webkit-background-clip: padding;
background-clip: padding-box;
background-color: #fff !important;
color: #9aa1b6;
font-size: 13px;
padding-left: 10px!important;
height: 44px;
box-sizing: border-box;
-webkit-box-sizing: border-box;
-moz-box-sizing: border-box;
display: inline-block;
vertical-align: middle;
}
.middle_block .block_center_in #order_list_center form input[type="submit"]{
  border: none;
  width: 150px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  padding: 0;
  margin:10px 0 0 0;
}
.middle_block .block_center_in #order_list_center .cell_block + .cell_block {
  width: 251px;
  padding-right: 0;
}
.middle_block .block_center_in .center_blocks {
  background-color: #fff;
  border: 1px solid #dee1e2;
  margin-bottom: 6px;
  padding: 16px 20px 16px 23px;
  font-size: 13px;
}
.middle_block .block_center_in .center_blocks .services_line {
  margin-bottom: 12px;
}
.middle_block .block_center_in .center_blocks .cell_block {
  display: inline-block;
  vertical-align: middle;
}
.middle_block .block_center_in .center_blocks .payment_panel {
  min-height: 39px;
}
.middle_block .block_center_in .center_blocks .payment_panel .order_now_btn {
  margin: 0;
}
.middle_block .btn_left {
  color: #fff;
  height: 22px;
  display: block;
  font-size: 16px;
  padding: 18px 0 18px 24px;
  text-align: left;
}
.middle_block .btn_left:hover, .middle_block .btn_left.btn_left_active {
  color: #fff;
  background: #242424;
}
.middle_block .btn_left.btn_left_active {
  border-left: 3px solid #ff6900;
  padding-left: 21px;
}
.middle_block .btn_left_order {
  margin-bottom: 14px;
}
.middle_block .orders_list {
  margin-left: 22px;
  margin-right: 22px;
  border-bottom: 1px solid #fff;
  margin-bottom: 14px;
  font-size: 12px;
  color: #fff;
  padding-left: 1px;
}
.middle_block .orders_list a {
  color: #fff;
}
.middle_block .orders_list .icons_wrap {
  padding-top: 0;
  padding-bottom: 11px;
}
.middle_block .orders_list > span {
  display: block;
  margin-bottom: 8px;
}
.middle_block .order_now_btn {
  min-width: 117px;
  height: 15px;
  margin-left: 19px;
  margin-top: 20px;
  background-color: #ff6900;
  font-family: "OpenSansBold", tahoma;
  display: block;
  text-align: center;
  padding: 12px 0;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
.middle_block .order_now_btn:hover {
  background-color: #ff8733;
}
.middle_block .order_now_btn:active {
  background-color: #e65e00;
}
.middle_block .order_now_btn_left {
  width: 117px;
}
.middle_block .cell_block_l {
  width: 369px;
}
 .blue_btn {
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #97cc31;
  color: #fff;
  font-family: "OpenSansSemibold", tahoma;
  text-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
  font-size: 13px;
  text-align: center;
  padding: 12px 20px;
  height: 15px;
  display: block;
}
 .blue_btn:hover {
  background-color: #acd759;
  color: #fff;
}
 .blue_btn:active {
  background-color: #88b72c;
}
.middle_block .message_block {
  margin-bottom: 26px;
}
.middle_block .note_space {
  margin-bottom: 35px;
}
.middle_block .mess_readed {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  text-shadow: 0 1px 0 #399125;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #3fa329;
  color: #fff;
  height: 21px;
  line-height: 21px;
  padding: 0 25px 0 13px;
  position: relative;
}
.middle_block .mess_readed:before {
  position: absolute;
  right: 7px;
  top: 6px;
  width: 13px;
  height: 9px;
  content: '';
  background: url(/img/mess_ico.png) -1px 100% no-repeat;
}
.middle_block .message_top {
  /*height: 21px;*/
  margin-bottom: 10px;
}
.middle_block .message_top .title_mess {
  color: #3498db;
  text-transform: uppercase;
  font-family: "OpenSansSemibold", tahoma;
  font-size: 0;
}
.middle_block .message_top .title_mess span {
  height: 12px;
  display: inline-block;
  font-size: 12px;
  margin-top: 4px;
}
.middle_block .message_top .title_mess .s1 {
  padding-right: 6px;
  border-right: 1px solid #cdd0da;
}
.middle_block .message_top .title_mess .s2 {
  color: #444c63;
  padding-left: 6px;
  border-left: 1px solid #bfc3d0;
}
.middle_block .message_top:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.middle_block .message_body {
  border-top: 1px solid #dee1e2;
  padding-top: 21px;
  padding-bottom: 24px;
}
.middle_block .mess_data .date_block {
  position: relative;
  color: #bdc3c7;
  padding-left: 16px;
  padding-right: 26px;
  padding-top: 4px;
  padding-bottom: 5px;
}
.middle_block .mess_data .date_block:before {
  width: 12px;
  height: 11px;
  position: absolute;
  left: 0;
  top: 6px;
  content: '';
  background: url(/img/mess_ico.png) 0 0 no-repeat;
}
.middle_block .mess_data .date_block a {
  position: absolute;
  right: 1px;
  top: 7px;
  width: 8px;
  height: 8px;
  display: block;
  background: url(/img/mess_ico.png) -2px -20px no-repeat;
}

.right_side {
  padding-left: 18px;
  padding-right: 22px;
}
.right_side .time_circles > div > span {
  color: #40a32a;
  font-family: "OpenSansBold", tahoma;
}
.right_side .right_side .time_circles > div > span {
  margin-top: 7px;
}
.right_side .time_circles > div > h4 {
  position: absolute;
  bottom: -36px;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 13px !important;
  text-transform: none;
  color: #9aa1b6;
  font-family: "OpenSansSemibold", tahoma;
}
.right_side .blue_btn {
  margin-bottom: 6px;
}
.right_side .right_blocks_last {
  margin-bottom: 22px;
}
.right_side .right_blocks {
  padding-top: 22px;
  padding-bottom: 12px;
  text-align: center;
}
.right_side .right_blocks + .right_blocks {
  border-top: 1px solid #dee1e2;
}
.right_side .right_blocks_time {
  padding-bottom: 19px;
}
.right_side .contacts {
  font-family: "OpenSansSemibold", tahoma;
  margin-right: -13px;
  /*border-top: 1px solid #dee1e2;*/
  padding-top: 22px;
}
.right_side .contacts .blocks_title {
  text-align: center;
}
.right_side .contacts .line_step {
  margin-bottom: 15px;
}
.right_side .contacts .line_step .note_block {
  padding: 4px 17px;
  background: url(/img/right_ico.png) 0 7px no-repeat;
}
.right_side .contacts .line_step.line_step1 .note_block {
  background: url(/img/right_ico1.png) 0 5px no-repeat;
}
.right_side .contacts .line_step.line_step2 .note_block {
  background: url(/img/right_ico2.png) 0 5px no-repeat;
}

.row {
  font-size: 0;
}
.row .cell {
  display: inline-block;
  font-size: 13px;
  text-align: center;
}
.row .cell .time_b {
  color: #ff6900;
  font-size: 20px;
  font-weight: bold;
  border-right: 1px solid #dee1e2;
  width: 35px;
  display: block;
  line-height: 42px;
  margin-bottom: 10px;
  padding: 0 4px;
}
.row .cell .last_child {
  border-right: none;
}

.icons_wrap_b a {
  background: url(/img/icons_big.png)  0 0 no-repeat;
  width: 15px;
  height: 14px;
}
.icons_wrap_b a:hover,.icons_wrap_b  a.blinker {
  background-position: 0 -30px;
}
.icons_wrap_b a:hover .popin_block {
  display: block;
}
.icons_wrap_b a + a {
  margin-left: 16px;
  background-position: -32px 0;
}
.icons_wrap_b a + a:hover,.icons_wrap_b a + a.blinker  {
  background-position: -32px 100% ;
}
.icons_wrap_b a + a + a{
  background-position: -62px 0;
}
.icons_wrap_b a + a + a:hover , .icons_wrap_b a + a + a.blinker{
  background-position: -62px 100%;
}

.top_link {
  padding-top: 18px;
}
.top_link a {
  color: #444c63;
  font-size: 13px;
  text-transform: uppercase;
  display: inline-block;
  vertical-align: top;

}
.top_link a:hover {
  color: #1a1e27;
}

.pay_title {
  font-size: 13px;
  font-family: "OpenSansSemibold", tahoma;
  padding-bottom: 10px;
  margin-top: 12px;
}

.pay_btn {
  padding: 0 15px;
  height: 33px;
  line-height: 33px;
  margin-right: 16px;
  -moz-border-radius: 17px;
  -webkit-border-radius: 17px;
  border-radius: 17px;
  -moz-background-clip: padding;
  -o-background-clip: padding-box;
  -webkit-background-clip: padding;
  background-clip: padding-box;
  background-color: #dee1e2;
  color: #444c63;
  min-width: 112px;
  margin-top: 10px;
  margin-bottom: 13px;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  cursor: pointer;
}

.pay_btn:hover {
  color: #444c63;
  background-color: #e9ebec;
}

.pay_btn_active {
  background-color: #ff6900;
  color: #fff;
}

.pay_btn_active:hover {
  color: #fff;
  background-color: #ff8733;
}

.cell_block_half {
  width: 50%;
}

.cell_block_half select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.cell_block_half select, .cell_block_half input[type="text"] {
  background: transparent;
  border: none;
  width: 260px;
  height: 34px;
  padding-left: 20px;
  padding-right: 27px;
  color: #9aa1b6;
  font-size: 13px;
}

.cell_block_half .select_wrap {
  width: 260px;
  background: url(/img/select_arrow.png) 100% 50% no-repeat;
}

.cell_block_half .select_wrap#date_year {
  width: 120px;
  display: inline-block;
}

.cell_block_half .select_wrap#date_year select {
  width: 120px;
}

.cell_block_half .select_wrap#date_year + #date_year {
  margin-left: 16px;
}

.cell_block_half .select_wrap, .cell_block_half input[type="text"] {
  border: 1px solid #dee1e2;
  background-color: #fff;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}

.cell_block_half input[type="text"] {
  width: 240px;
  padding: 0 0 0 20px;
  height: 34px;
}

.middle_block .block_center_in .center_blocks.center_blocks_payment {
  font-size: 0;
}

.middle_block .block_center_in .center_blocks.center_blocks_payment .cell_block {
  vertical-align: top;
}

.pay_now_wrap {
  text-align: right;
}

.pay_now_wrap .order_now_btn {
  display: inline-block;
  font-size: 13px;
  margin-right: 34px;
}
.hidden {
  display: none;
}
.pointer {
  cursor: pointer;
}
.error_box, .error {
  color: red;
}
.success {
  color: green;
}
.ui-tabs .ui-tabs-nav li {
list-style: none;
float: left;
position: relative;
top: 0;
margin: 1px .2em 0 0;
border-bottom-width: 0;
padding: 0;
white-space: nowrap;
}
.ui-tabs .ui-tabs-nav li .blue_btn {
  font-size: 13px;
  text-transform: none;
}
.ui-helper-clearfix:after {
clear: both;
}
.ui-helper-clearfix:after {
clear: both;
}
.ui-helper-clearfix:before, .ui-helper-clearfix:after {
content: "";
display: table;
border-collapse: collapse;
}
.tabss , #list_active, #list_all{
  font-size: 13px;
}
.tabss table td {
  vertical-align: top;
  width: 267px;
  padding: 10px;
  text-align: justify;
}
.list_lk {
  text-align: center;
}
.ui-tabs .ui-tabs-nav.list_lk li{
  float: none;
  display: inline-block;
}
.ui-pg-table {
  background: #8ECA1C;
  border-radius: 3px;
  display: none;
}
.ui-pg-table td {
  padding: 5px;
  color: #fff;
}
.ui-jqgrid-htable thead tr {
  background: #7C836F;
}
.ui-jqgrid-htable thead tr th {
  padding:10px 5px;
  text-align: center;
  color: #fff;
}
.ui-jqgrid-htable thead tr th  span {
  display: none;
}
.ui-jqgrid-htable {
  margin-top: 10px;
}
#list_all .ui-widget-content:nth-child(odd), #list_active .ui-widget-content:nth-child(odd){
  background: #E7EAE7;
}
#list_all .ui-widget-content:nth-child(odd):hover, #list_active .ui-widget-content:nth-child(odd):hover {
   background: #dfdfdf;
}
#list_all .ui-widget-content,  #list_active .ui-widget-content{
  cursor: pointer;
}
#list_all .ui-widget-content:hover, #list_active .ui-widget-content:hover {
  background: #dfdfdf;
}
#list_all .ui-widget-content td , #list_active .ui-widget-content td{
  padding: 5px 0;
}
#rating_dialog h3 {
  display: none;
  margin: 0;
}
#new_message input +div {
  margin-top: 15px;
  border:none!important;
  width: 556px!important;
}
.nicEdit-main{
  min-height: 124px!important;
  border: 1px solid #dee1e2 !important;
  margin: 0!important;
  padding: 8px;
  width: 535px!important;
}
.logout_t {
 height: 33px;
line-height: 33px
}
.top_link  a.pay_btn_new {
  color: #fff;
}
.clear {
  clear: both;
}
.middle_block .block_center_in #payment_blok .payment_panel .cell_block  {
  vertical-align: middle;
}
.disc_bb_wrap h4{
  margin-top: 0;
  margin-bottom: 12px;
  font-weight: normal;
  font-size: 18px;
}
.s_b {
  font-weight: bold;
}
.u_his {
  padding-top: 10px;
  padding-bottom: 15px;
}
.rows_dis:nth-child(odd) {
  background: #E7EAE7;
}
.tabss table tr.rows_dis td {
  padding:5px 8px 3px;
}
.weight_sp1 {
  font-weight: bold;
font-size: 18px;
display: inline-block;
padding-bottom: 8px;
}
.title_dis {
  padding-bottom: 4px;
  font-size: 12px;
}
.tabss table td .title_dis{
  font-size: 14px;
}
.weight_sp111 {
  margin-right: 15px;
  display: block;
  margin-bottom: 8px;
}
.right_side .contacts_1 {
  margin-right: -15px;
  padding-top: 50px;
}
.right_side .contacts_1 a {
  margin-left: 2px;
}
.ui-tabs .ui-tabs-nav li.ui-state-active .blue_btn{
  background-color: #349832;
}
.ui-tabs .ui-tabs-nav li .blue_btn {
  background-color: #7C836F;  
}
.ui-tabs .ui-tabs-nav li .blue_btn:hover {
  background-color: #97cc31;
}
.bottom_block_wr {
/*border: 1px solid #ff6900;*/
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
padding: 9px 5px 9px 9px;
margin-left: -11px;
margin-right: 0;
margin-top: 12px;
margin-bottom: 10px;
}
span.weight_sp11 {
padding-bottom: 0;
}
.text_amount {
  padding-top: 3px;
}
.middle_block .pay_btn.cursor_text {
cursor: text;
}
.middle_block .pay_btn.cursor_text:hover {
  background-color: #dee1e2;
}

.qqq p.pol {
    display: block;
    padding: 10px 10px 7px 10px;
    margin: 0;
    font-size: 22px;
    color: #fff;
    border: 2px solid #444c63;
    background-color: #444c63;
}

.qqq {
    padding-top: 11px;
    cursor: pointer;
    position: relative;
}

.qqq:hover .pol_info {
  display: block;
}

.pol_info {
    width: 200px;
    padding: 5px;
    background: rgba(0,0,0, .7);
    color: #fff;
    text-align: center;
    position: absolute;
    z-index: 90;
    right: -60px;
    top: 65px;
    display: none;
}