@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,700);

@font-face {
  font-family: 'OpenSansBold';
  src: url("../fonts/opensans-bold-webfont.eot");
  src: local("☺"), url("../fonts/opensans-bold-webfont.woff") format("woff"), url("../fonts/opensans-bold-webfont.ttf") format("truetype"), url("../fonts/opensans-bold-webfont.svg#OpenSansBold") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansRegular';
  src: url("../fonts/opensans-regular-webfont.eot");
  src: local("☺"), url("../fonts/opensans-regular-webfont.woff") format("woff"), url("../fonts/opensans-regular-webfont.ttf") format("truetype"), url("../fonts/opensans-regular-webfont.svg#OpenSansRegular") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSansSemibold';
  src: url("../fonts/opensans-semibold-webfont.eot");
  src: local("☺"), url("../fonts/opensans-semibold-webfont.woff") format("woff"), url("../fonts/opensans-semibold-webfont.ttf") format("truetype"), url("../fonts/opensans-semibold-webfont.svg#OpenSansSemibold") format("svg");
  font-weight: normal;
  font-style: normal;
}
/*! normalize.css v3.0.2 | MIT License | git.io/normalize */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

body {
  margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

audio:not([controls]) {
  display: none;
  height: 0;
}

[hidden],
template {
  display: none;
}

a {
  background-color: transparent;
}

a:active,
a:hover {
  outline: 0;
}

abbr[title] {
  border-bottom: 1px dotted;
}

b,
strong {
  font-weight: bold;
}

dfn {
  font-style: italic;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

mark {
  background: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

img {
  border: 0;
}

svg:not(:root) {
  overflow: hidden;
}

figure {
  margin: 1em 40px;
}

hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

pre {
  overflow: auto;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

button {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

button[disabled],
html input[disabled] {
  cursor: default;
}

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

input {
  line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

textarea {
  overflow: auto;
}

optgroup {
  font-weight: bold;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

.pre_wrpa {
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.float-left {
  float: left;
}

.float-right {
  float: right;
}

.default-list {
  list-style: none;
  margin: 0;
  padding: 0;
  font-size: 0;
}

html, body {
  height: 100%;
}

body {
  position: relative;
  text-align: left;
  color: black;
  background: #eeeef4;
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
  line-height: 1.25;
}

h1, h2, h3, h4, h5, h6 {
  color: black;
  font-family: "Open Sans", sans-serif;
  font-weight: normal;
  font-style: normal;
}

h1 {
  margin-top: 0;
  font-size: 26px;
}

h2 {
  font-size: 20px;
}

h3 {
  font-size: 15px;
}

h4 {
  font-size: 13px;
}

h5 {
  font-size: 11px;
}

h6 {
  font-size: 9px;
}

h5, h6 {
  font-weight: bold;
}

a {
  text-decoration: underline;
  color: blue;
}

a:hover {
  text-decoration: none;
}

a img {
  border-color: black;
}

.clear {
  clear: both;
  font-size: 0;
  height: 0;
}

.site-path {
  margin-bottom: 10px;
  white-space: pre-wrap;
  line-height: 1;
  color: black;
}
.site-path a {
  color: blue;
}

.header a img, .sidebar a img, .footer a img {
  border: none;
}

.header p, .footer p {
  margin: 0;
}

.site-wrapper {
  width: 100%;
  min-height: 100%;
  margin: 0 auto;
  margin-bottom: -100px;
}
.site-wrapper:after {
  display: block;
  visibility: hidden;
  height: 100px;
  content: "";
}

.header {
  min-height: 54px;
  background-color: #1f221d;
  border-bottom: 2px solid #e88d17;
  padding: 0 10px 0 20px;
}
.header .header_in {
  margin: 0 auto;
  max-width: 1233px;
}

.content_wrap {
  position: relative;
  width: 100%;
  min-height: 0;
}
.content_wrap:after , #submit_result:after{
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.content_wrap aside {
  position: relative;
}

.site-content-middle {
  float: left;
  width: 100%;
}

.site-content-middle-in {
  padding: 0 0 0 5px;
}

.site-content-left {
  float: left;
  width: 200px;
  margin-right: -100%;
  padding-left: 20px;
}

.site-content-left ~ .site-content-middle > .site-content-middle-in {
  margin-left: 220px;
}

.site-content-right {
  float: right;
  width: 250px;
  margin-left: -250px;
}

.site-content-right ~ .site-content-middle > .site-content-middle-in {
  margin-right: 250px;
}

.footer {
  position: relative;
  width: 100%;
  min-height: 100px;
  margin: auto;
}

.site-logo {
  padding: 7px 0 0 27px;
  margin-right: 58px;
}

.n_order {
  padding-left: 11px;
  background: url(/img/dotte.png) 0 50% no-repeat;
  font-size: 14px;
  color: #e88d17;
  margin-top: 18px;
  margin-right: 24px;
  text-transform: uppercase;
}
.n_order a {
  text-decoration: none;
  color: #e88d17;
}

.logout {
  text-transform: uppercase;
  color: #fff;
  font-size: 14px;
  padding-top: 18px;
}
.logout a {
  color: #fff;
  text-decoration: none;
}

.user_welc {
  color: #fff;
  font-size: 18px;
  padding-top: 15px;
  padding-right: 21px;
}
.user_welc span {
  color: #97cc31;
}

.main_blocks {
  border-top: 2px solid #e88d17;
  border-bottom: 2px solid #868686;
  background: #ffffff;
}
.main_blocks_profile {
  margin-left: 10px;
  margin-right: 10px;
}
.green_btn , .btn-primary, .btn.btn_gray{
  background-color: #97cc31;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  min-width: 134px;
  padding: 0 8px;
  display: inline-block;
  font-size: 12px;
  color: #fafaff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  line-height: 35px;
}
.btn-primary,  .btn.btn_gray {
  border: none;
  margin: 5px 0;
}
.green_btn:hover,  .btn.btn_gray:hover {
  background-color: #acd759;
}
.green_btn:active, .btn.btn_gray:active  {
  background-color: #88b72c;
}

.oreng_btn {
  background-color: #e88d17;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  text-align: center;
  width: 152px;
  display: inline-block;
  font-size: 12px;
  color: #fafaff;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  line-height: 35px;
}
.oreng_btn:hover {
  background-color: #eda445;
}
.oreng_btn:hover {
  background-color: #d17f15;
}

.cont_titles {
  font-size: 14px;
  color: #323232;
  font-weight: 700;
  text-transform: uppercase;
}

.left_side {
  background-color: #d5ebad;
  border-bottom: 1px solid #d6d6db;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px;
}
.left_side .left_in {
  background-color: #fff;
}
.left_side .left_in .title_ord {
  font-size: 16px;
  color: #e88d17;
  border-bottom: 2px solid #7f7f7f;
  -moz-box-shadow: 0 2px 0 #f8f8f8;
  -webkit-box-shadow: 0 2px 0 #f8f8f8;
  box-shadow: 0 2px 0 #f8f8f8;
  padding: 12px 0 12px 20px;
}
.left_side .left_in .title_ord a {
  font-size: 16px;
  color: #e88d17;
  border-bottom: 0 solid #7f7f7f;
  -moz-box-shadow: 0 2px 0 #f8f8f8;
  -webkit-box-shadow: 0 2px 0 #f8f8f8;
  box-shadow: 0 0 0 #f8f8f8;
  padding: 12px 0 12px 20px;
  text-decoration: none;
}
.left_side .left_in .ord_list {
  /*padding-left: 20px;*/
}
.left_side .left_in .ord_list .ord_list_in {
  padding-left: 49px;
  padding-top: 9px;
  /*padding-bottom: 9px;*/
  font-size: 16px;
  color: #323232;
}
.message_envelope {
  background: url(/img/paper_ico.png) 0 50% no-repeat;
}
.file_envelope {
  background: url(/img/paper_ico.png) 0 50% no-repeat;
}
.left_side .left_in .ord_list .ord_list_in a {
/*  padding-top: 9px;
  padding-bottom: 9px;*/
  font-size: 16px;
  color: #323232;
  text-decoration: none;
  display: block;
  margin-left: -41px;
  padding-left: 41px;
}
.left_side .left_in .ord_list .ord_list_in span {
  font-size: 12px;
  display: block;
  color: #e88d17;
}
.left_side .left_in .ord_list .ord_list_in span.active {
  color: #323232;
}
.left_side .left_in .ord_list ~ .ord_list {
  border-top: 1px solid #e5e5e5;
}
.left_side .prof_block{
  /*padding-top: 14px;*/
  min-height: 171px;
  font-size: 16px;
  /*padding-left: 20px;*/
  color: #1f221d;
  border-top: 2px solid #727272;
  -moz-box-shadow: 0 2px 0 #cfe5a8 inset;
  -webkit-box-shadow: 0 2px 0 #cfe5a8 inset;
  box-shadow: 0 2px 0 #cfe5a8 inset;
  text-decoration: none;

}
.left_side .prof_block a {
  padding-top: 14px;
  min-height: 30px;
  font-size: 16px;
  padding-left: 40px;
  padding-top: 15px;
  padding-bottom: 2px;
  color: #1f221d;
  text-decoration: none;
  display: block;
}
.left_side .prof_block a +a {
  border-top: 1px solid #ccc;
}
.main_blocks_order {
  color: #323232;
  font-size: 18px;
  padding: 10px 18px;
  margin-left: 10px;
  border-bottom: 2px solid #d6d6db;
  -moz-border-radius: 0 0 3px 3px;
  -webkit-border-radius: 0;
  border-radius: 0 0 3px 3px;
  margin-right: 10px;
  margin-bottom: 10px;
  border-top: none;
  position: relative;
}
.main_blocks_order span {
  color: #e88d17;
}

.contleft_side {
  margin-left: 10px;
  width: 160px;
  margin-right: 17px;
  min-height: 50px;
  position: relative;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
  text-align: center;
  padding-top: 16px;
  padding-bottom: 11px;
  margin-right: -100%;
}
.contleft_side .time_title {
  padding-bottom: 22px;
}
.contleft_side .time_sides {
  width: 78px;
  margin-left: 1px;
  border-right: 1px solid #e5e5e5;
  font-size: 14px;
}
.contleft_side .time_sides span {
  display: block;
  color: #e88d17;
}
.contleft_side .time_sides + .time_sides {
  margin-left: 0;
  border-right: none;
}
.contleft_side .oreng_btn {
  margin-bottom: 4px;
}
.contleft_side .wait_p {
  background-color: #c0dce3;
  padding: 10px 14px;
  color: #323232;
  text-align: left;
  margin-top: 10px;
  font-size: 13px;
  text-align: center;

}
/*.contleft_side .wait_p:hover {
  background-color: #e3f0f3;
}*/
.contleft_side .ord_inf {
  color: #323232;
  padding: 10px 0 10px 20px;
}
.contleft_side .ord_inf .row {
  font-size: 0;
  margin-bottom: 7px;
}
.contleft_side .ord_inf .row span {
  display: inline-block;
  font-size: 13px;
  width: 50%;
  vertical-align: top;
  text-align: left;
}

.con_right_side {
  width: 100%;
}
.contleft_side ~ .con_right_side  .con_right_side_in {
  margin-left: 172px;
  padding-left: 10px;
  padding-right: 10px;
}
.con_right_side  .con_right_side_in{
  /*padding-left: 17px;*/
  padding-right: 10px;
}
.con_right_side .con_right_side_in .main_blocks_payments {
  padding: 14px 15px;
  margin-bottom: 10px;
}
.con_right_side .con_right_side_in .main_blocks_payments:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.con_right_side .con_right_side_in .main_blocks_payments .title_p {
  line-height: 35px;
}
.con_right_side .con_right_side_in .main_blocks_inform {
  padding: 29px 15px;
  margin-bottom: 10px;
  -moz-border-radius: 1px;
  -webkit-border-radius: 1px;
  border-radius: 1px;
}
.con_right_side .con_right_side_in .main_blocks_inform .title_i {
  margin-bottom: 23px;
}
.con_right_side .con_right_side_in .main_blocks_inform .row_i {
  margin-bottom: 15px;
  font-size: 0;
}
.con_right_side .con_right_side_in .main_blocks_inform .row_i .cells_bl {
  width:calc(50% - 144px);
  font-size: 14px;
  display: inline-block;
  color: #e88d17;
  vertical-align: top;
}
.con_right_side .con_right_side_in .main_blocks_inform .row_i .cells_bl_title {
  width: 144px;
  color: #323232;
}
.con_right_side .con_right_side_in .main_blocks_inform .last_row .cells_bl {
  width: 80%;
}
.con_right_side .con_right_side_in .main_blocks_inform .last_row .cells_bl_title {
  width: 144px;
}

.main_blocks_messages {
  padding: 31px 15px;
}
.main_blocks_messages .title_mes {
  margin-bottom: 29px;
}
.main_blocks_messages .mes_body {
  border: 1px solid #ccc;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 7px;
}
.main_blocks_messages .mes_body .title_side {
  border-bottom: 1px solid #ccc;
  color: #e88d17;
  font-size: 14px;
  text-transform: uppercase;
  padding: 9px 8px;
}
.main_blocks_messages .mes_body .title_side .from {
  font-weight: 700;
}
.main_blocks_messages .mes_body .title_side .to_h {
  color: #323232;
}
.main_blocks_messages .mes_body .title_side .date {
  font-size: 12px;
  padding-top: 2px;
}
.main_blocks_messages .mes_body .mes_body_text {
  padding: 11px 9px;
  font-size: 14px;
  color: #323232;
}
.main_blocks_messages .mes_body .mes_body_text .thame {
  margin-bottom: 2px;
}
.main_blocks_messages .mes_body .mes_body_text .note {
  padding-top: 12px;
}
.main_blocks_messages .mes_body .mes_body_text p {
  margin: 4px 0;
}
.main_blocks_messages .mes_body .mes_body_text p a {
  color: #e88d17;
  text-decoration: none;
}
.pointer{
  cursor: pointer;
}
.mes_body_text div.pointer {
  display: inline-block;
  overflow: hidden;
  margin-top: 15px;
  vertical-align: top;
}
.pointer span{
  display: inline-block;
  vertical-align: top;
  padding-top: 5px;
  padding-left: 7px;
}
.hidden {
  display: none;
}
.success {
  color: green;
}
.error {
  color: red;
}
.table_name_value{
  padding: 10px 15px;
  border-collapse: separate; 
}
.table_name_value td {
  padding:5px 2px;
}
#payment_wrap {
  font-size: 0;
  width: 577px;
}
.pay_btn {
padding: 0 15px;
height: 33px;
line-height: 33px;
margin-right: 16px;
-moz-border-radius: 17px;
-webkit-border-radius: 17px;
border-radius: 17px;
-moz-background-clip: padding;
-o-background-clip: padding-box;
-webkit-background-clip: padding;
background-clip: padding-box;
background-color: #dee1e2;
color: #444c63;
min-width: 112px;
margin-top: 10px;
margin-bottom: 13px;
display: inline-block;
text-align: center;
font-size: 13px;
cursor: pointer;
}
label.pay_btn {
display: inline-block;
width: 150px;
margin-right: 8px;
}
.pay_btn_active {
background-color: #97cc31;
color: #fff;
}
.pay_btn input[type="radio"] {
visibility: hidden;
width: 0;
height: 0;
display: none;
}
.cell_block_half {
width: 50%;
display: inline-block;
vertical-align: top;
}
.pay_title {
font-size: 13px;
font-family: "OpenSansSemibold", tahoma;
padding-bottom: 10px;
margin-top: 12px;
}
.cell_block_half select, .cell_block_half input[type="text"], .main_blocks_payments form input[type="text"],.main_blocks_payments form input[type="password"]  {
background: transparent;
border: none;
width: 260px;
height: 34px;
padding-left: 20px;
padding-right: 27px;
color: #9aa1b6;
font-size: 13px;
}
.cell_block_half input[type="text"], .main_blocks_payments form input[type="text"],.main_blocks_payments form input[type="password"] {
  width: 213px;
}
.cell_block_half .select_wrap, .cell_block_half input[type="text"], .main_blocks_payments form input[type="text"],.main_blocks_payments form input[type="password"]  {
border: 1px solid #dee1e2;
background-color: #fff;
-moz-border-radius: 4px;
-webkit-border-radius: 4px;
border-radius: 4px;
}
.cell_block_half .select_wrap {
width: 260px;
background: url(/img/select_arrow1.png) 100% 50% no-repeat;
}

.cell_block_half select {
-webkit-appearance: none;
-moz-appearance: none;
appearance: none;
}
.cell_block_half .select_wrap#date_year {
width: 120px;
display: inline-block;
}
.cell_block_half .select_wrap#date_year select {
width: 120px;
}
.cell_block_half .select_wrap#date_year + #date_year {
margin-left: 16px;
}
.pay_now_wrap {
  text-align: right;
  width: 552px;
}
a.order_now_btn {
min-width: 117px;
height: 15px;
margin-left: 19px;
margin-top: 20px;
background-color: #e88d17;
font-family: "OpenSansBold", tahoma;
display: block;
text-align: center;
padding: 12px 0;
text-shadow: 0 1px 0 rgba(0, 0, 0, 0.11);
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #fff;
text-decoration: none;
display: inline-block;
font-size: 13px;
cursor: pointer;
}
a.order_now_btn:hover {
background-color: #d17f15;
}
.pay_now_wrap .btn_green {
  width: 0;
  height: 0;
  visibility: hidden;
}
.interface_field_caption {
  font-weight: bold;
  display: block;
  float: none !important; 
}
.interface_field_caption +br +div {
width: 880px !important;
border-top: 1px solid rgb(204, 204, 204) !important;
}
.nicEdit-main {
  outline: none;
}
.main_blocks_payments form {
  padding: 10px 20px;
}
.main_blocks_payments form h3{
  margin:8px 0;
  padding-left: 10px;
}
.ui-corner-all {
  padding: 0;
  margin: 0;
  list-style: none;
}
.ui-corner-all li {
  display: inline-block;
}
.ui-corner-all li a {
  display: block;
  padding: 10px;
  text-decoration: none;
    background-color: #97cc31;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
}
.ui-corner-all li a:hover{
  background-color: #acd759;
}
.ui-corner-all li a:active, .ui-corner-all li.ui-state-active a{
  background-color: #88b72c;
}
.ui-pg-table, .ui-jqgrid-htable, #list_active, #list_previous {
  background: #fff;
  border: 1px solid #868686;
  border-spacing: 0;
  border-collapse: collapse;
  padding: 5px;
  margin-top: 10px;
}
.ui-pg-table  td {
  padding: 6px;
}
 .ui-jqgrid-htable th{
  padding-bottom: 13px;
  padding-left: 8px;
  padding-right: 8px;
}
#list_active, #list_previous{
  margin-top: 0;
  border-top: none;
}
 #list_active tr:hover, #list_previous tr:hover {
  background: #c0dce3;
 }
  #list_active tr, #list_previous tr{
    border-top: 1px  solid #868686;
    cursor: pointer;
  }
   #list_active tr:first-child, #list_previous tr:first-child{
    cursor: default;
   }
     #list_active tr:first-child:hover, #list_previous tr:first-child:hover{
      background:transparent;
     }
  #list_active td, #list_previous td {
    padding: 8px;
  }
  .ui-tabs {
    padding-right: 10px;
    padding-left: 10px;
  }
  .left_side .left_in .ord_list .ord_list_in a.icons_p, a.icons_p {
    display: inline-block;
    width: 15px;
    padding: 0;
    margin: 0 4px 0 0;
    font-size: 0;
    height: 20px;
    background: url(../img/ico_d.png) 0 0 no-repeat;
  }
  .left_side .left_in .ord_list .ord_list_in a.icons_p {
  margin-right: 8px;
  }
  .left_side .left_in .ord_list .ord_list_in a.icons_l, a.icons_l {
    background: url(../img/ico_l.png) 0 0 no-repeat;
    width: 20px;
  }
  .left_side .left_in .ord_list .ord_list_in a.icons_m, a.icons_m {
    background: url(../img/ico_m.png) 0 0 no-repeat;
    width: 18px;
  }
   .left_side .left_in .ord_list .ord_list_in a.icons_p:hover, a.icons_p:hover {
    background-position: 0 100%;
   }
     .left_side .left_in .ord_list .ord_list_in a.icons_l:hover, a.icons_l:hover {
      background-position: 0 -23px;
     }
     .left_side .left_in .ord_list .ord_list_in a.icons_m:hover, a.icons_m:hover {
      background-position: 0 -24px;
     }
.left_side .left_in .ord_list .ord_list_in span.active{
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 14px;
}
.icons_red1 {
  background: url(../img/ico_p_red.png) 0 100% no-repeat !important;
}
.icons_red2 {
  background: url(../img/ico_l_red.png) 0 100% no-repeat !important;
}
.icons_red3 {
  background: url(../img/ico_m_red.png) 0 100% no-repeat !important;
}
.icons_blocks {
  display: inline-block;
  position: absolute;
  left: 50%;
  width: 88px;
  margin-left: -34px;
  top: 50%;
  margin-top: -11px;
  height: 22px;
}
#submit_result {
  padding-top: 10px;
}
.mes_body .nicEdit-main {
  width: 873px!important;
}
.pay_now_wrap {
  color: #f00;
  line-height: 36px;
}
.pay_now_wrap a.order_now_btn{
  line-height: normal;
}
.left_side .prof_block a.btn_left_active , .btn_left_active{
  border-left: 3px solid #e88d17;
  background: rgba(55, 92, 51, 0.1);
  display: block;
  padding: 5px 10px 2px 37px;
  min-height: 25px;
}
.btn_left_active{
  background: #c0dce3;
}
.left_side .prof_block a.btn_left_active{
  min-height: 30px;
  padding-top: 15px;
}
.left_side .left_in .ord_list .ord_list_in.btn_left_active{
  padding-left: 46px;
}
.cont_titles span {
  text-transform: none;
  font-weight: normal;
}
.cont_titles2 {
  margin-left: 27px;
}
.left_side .prof_block a:hover {
  background: rgba(55, 92, 51, 0.1);
}
/*oder be careful*/
.site-wrapper_order {
  max-width: 990px;
  position: relative;
  background-color: #f5f7f8;
  -moz-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.25), 0 0 10px rgba(0, 0, 0, 0.2);
  margin: 12px auto 33px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #333;
}
.site-wrapper_order  a {
  text-decoration: none;
}
.site-wrapper_order:after, .header_block:after {
  content: '';
  display: block;
  clear: both;
  visibility: hidden;
  height: 0;
}
.tabs_body .row_wrap .title_side a.pop_up_top {
  vertical-align: top;
  margin-top: 5px;
}