/*
 *  (C) http://neopulse.ru
 *  NeoCMS
 */

html {
	margin: 0px;
	padding: 0px;
}

body {
	margin: 0;
	padding: 0;
	color: black;
	font-family: 'Open Sans', sans-serif;
	font-size: 13px;
	line-height: 1.2;
	background-image: url(../img/bg_bg.png);
}

div.clear {
	clear: both;
}

h2 {
	font-size: 12pt;
}
ul {
	padding-left: 14px;
}
ul li {
	list-style-image: url(../img/marker.png);
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
fieldset {
	border: 0px;
	padding: 0px;
	margin: 0px;
}
img {
	border: 0px;
}
a:focus, input:focus, textarea:focus, select:focus {
	outline-color: green;
}

a:hover {
	text-decoration: none;
}
#main_order_buttons {
	width: 100%;
}
.breadcrumbs {
margin-top:10px;
}
#first_step table, #two_step table, #three_step table {
vertical-align: top;
width:100%!important;
}
#first_step table tr td, #two_step table tr td, #three_step table tr td {
vertical-align: top;
width:25%!important;
}
#first_step, #two_step, #three_step {
margin-top: 10px;
padding: 10px;
-webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
-moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 1);
-webkit-border-radius: 5px;
-moz-border-radius: 5px;
border-radius: 5px;
float: left;
width: 100%;
min-height: 418px;
position: relative;
padding-bottom: 61px;
}
.breadcrumbs a {
color:black;

}
.block_element.nic > div {
border-top: 1px solid rgb(204, 204, 204)!important;
margin-top: 7px;
}
#approve_dialog p {
	text-align: justify
}
.howtable {
float: left;
}
#two_step table tr td {
height: 87px
}
#first_step table tr td {
height: 100px
}
#nav .cont ul li ul li ul li a span {
padding-top: 9px;
padding-bottom: 9px;
}
#approve_dialog {
	height: auto !important
}
#phone_prefix {
	width: 40px !important;
}
.order_controls .order_buttons input {
	width: 115px;
}
.timer_title {
	display: block;
	width: 158px;
	text-align: center;
}
.l4 img {
	left: 44px !important;
}
.l4 .visible {
	margin-left: 1px;
}

.l4 .visible ul {
	width: 134px !important;
	text-align: center !important;
}
table.table_problem {
	border: 0px !important;
}

table.table_problem th {

}
.block1_1 .bl_2 a {
	color: #e38a3b;
	text-decoration: none
}
.block1_1 .bl_2 a:hover {
	text-decoration: underline
}
.interface_buttons table tr td:hover {
	cursor: pointer;
	background-color: #67A84B;
	color: white;
}

.benefits img {
	width: 80px;
}
.benefits h3 {
	margin-top: 3px;
	margin-bottom: 0px;
}
.benefits p {
	margin-top: 0px;
	margin-bottom: 0px;
}
.benefit {
	width: 210px;
	float: left;
	margin-left: 19px;
	margin-right: 5px;
	display: inline-block;
	vertical-align: top;
	height: 175px;
}
.block1_1 .bl_2 {
	color: #e38a3b;
	font-size: 41pt;
	font-weight: normal;
	margin-top: -1px !important;
}
.disclame.tips div.h1 {
	margin-top: 0px;
	margin-bottom: 0px;
	display: block;
	font-size: 2em;
	-webkit-margin-start: 0px;
	-webkit-margin-end: 0px;
	font-weight: bold;
}
.tipstable td {
	width: 50%;
	vertical-align: top;
}
.tipstable td:first-child {
	padding-right: 25px;
}
.tipstable h2 {
	margin-top: 0px;
}
#content > h3 {
	font-size: 15pt;
	margin-bottom: 5px;
}
#content > h1 {
	font-size: 15pt;
	margin-bottom: 5px;
}
.ftt_m ul {
	padding-left: 10px;
	width: 191px;
}
.tabs ul {
	margin-left: 0px;
	padding-left: 0px;
}
.tabs ul li {
	font-size: 12px;
}

.tabs table {
	width: 693px;
	border-spacing: 0px;
	border-collapse: collapse;
	text-align: left;
}

.tabs .box {
	padding: 0px;
}

.table_writing tr, .table_editing tr, .table_multiple tr, .table_problem tr {
	border-left: 1px solid white;
	border-right: 1px solid white;
}
ul.tabs {
	margin-bottom: 0px;
	border-bottom: 2px solid green !important;
	width: 694px;
}
.tabs li:hover, .vertical .tabs li:hover {
	background: green !important;
	padding: 0 13px 2px !important;
	border: 1px solid green !important;
	color: white !important;
}
.tabs li {
	color: black !important
}
.tabs li.current {
	background: green !important;
	padding: 0 13px 2px !important;
	border: 1px solid green !important;
	color: white !important;
}
.tabs table tr th {
	border-bottom: 1px dashed #808080 !important;
}
.tabs table tr td, .tabs table tr th {
	color: #ae8b6c;
	font-size: 11pt;
	color: black;
	padding: 4px 10px;
	border-left: 1px dashed #e5e5e5;
	border-bottom: 1px dashed #e5e5e5;
	border-right: 1px dashed #e5e5e5;
}
.counter .timer span {
	display: block;
	width: 150px;
	float: left;
}
.counter .timer {
	font-size: 15pt;
	text-align: center;
	width: 148px;
	font-weight: bold;
}
#content .otztable img {
	width: 100px;
	margin-right: 20px;
}

#content .otztable td {
	vertical-align: top;
}
#content .otztable td p {
	margin-top: 0px;
}
#content .otztable td {
	padding-top: 6px;
	padding-bottom: 3px;
	border-bottom: 1px solid rgb(214, 214, 214);
}
/** nav **/
#nav {
	width: 100%;
	height: 59px;
	background-image: url(../img/bg_top_menu.png);
	background-repeat: repeat-x;
	z-index: 99;
	font-weight: 600;
	position: fixed;
	top: 0px;
}
#nav .logo {
	background: url(../img/logo.png) no-repeat;
	width: 163px;
	float: left;
	height: 46px;
	margin-top: 2px;
	margin-left: -50px;
}
#nav .cont {
	width: 980px;
	margin: 0 auto;
}
#nav .cont ul {
	float: left;
}
#nav .cont ul li {
	display: inline-block;
	margin: 0 5px;
}
#nav .cont ul li a {
	text-decoration: none;
	color: #FFF;
}
#nav .cont ul li a span {
	display: block;
	padding: 18px 9px;
	padding-bottom: 18px;
}
#nav .cont ul li.active a span, #nav ul li a span:hover {
	background-color: #95c832;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
}

#nav .skype {
	background-repeat: no-repeat;
	float: right;
	padding-left: 20px;
	color: white;
	background-position: left center;
}
#nav .skype a {
	color: white;
}

#nav .tell {
	cursor: pointer;
	background-repeat: no-repeat;
	float: right;
	padding-left: 14px;
	color: white;
	background-position: left center;
}
#nav .social {
	cursor: pointer;
	background-repeat: no-repeat;
	float: left;
	padding-left: 14px;
	color: white;
	background-position: left center;
}

#nav .chat {
	background-image: url(../img/chat.png);
	height: 16px;
	background-repeat: no-repeat;
	float: right;
	padding-left: 20px;
	color: white;
	background-position: left center;
	margin-top: 16px;
	line-height: 16px;
	margin-right: 2px;
}
#nav .chat a {
	color: white;
	text-decoration: underline;
}

#nav .chat a:hover {
	color: white;
	text-decoration: none;
}

#nav .welcome_user {
	float: right;
	color: white;
	padding: 15px 15px;
	font-size: 16px;
	text-shadow: 1px 1px 2px lime;
}
/** /nav **/

/** header **/
#header {
	width: 980px;
	margin: 0 auto;
	position: relative;
}
#header_big {
	background-image: url(../img/bg_header.png);
	width: 1200px;
	height: 290px;
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: -7px;
	margin-top: 52px;
}
#header .btn_free a, #header .btn_order a {
	color: white;
	text-decoration: none;
	font-weight: 600;
}
#header .btn_free a:hover, #header .btn_order a:hover {
	color: white;
	text-decoration: underline;
	font-weight: 600;
}
#header .btn_free {
	background-image: url(../img/free_btn.png);
	width: 89px;
	height: 22px;
	padding-top: 8px;
	padding-left: 34px;
	background-repeat: no-repeat;
	float: right;
	margin-right: 7px;
}
#header .btn_order {
	background-image: url(../img/order_btn.png);
	width: 79px;
	height: 22px;
	padding-top: 8px;
	padding-left: 34px;
	background-repeat: no-repeat;
	float: right;
}
#header .logo_2 {
	width: 653px;
	float: left;
	height: 26px;
	position: absolute;
	top: 61px;
	left: 114px;
	font-weight: bold;
	font-size: 72px;
}
#header .pod_logo_2 {
	background: url(../img/podlogo.png) repeat-x;
	width: 555px;
	float: left;
	height: 27px;
	position: absolute;
	top: 92px;
	left: 202px;
	font-weight: 600;
	color: white;
	font-size: 13pt;
	padding-top: 6px;
	padding-left: 7px;
}
#nav .social img {
	width: 28px;
	margin-top: 10px;
}
#nav .social a:hover {
	opacity: 0.7
}
#nav .menu .l1 .visible {
	margin-left: -10px;
}
#nav .menu .l2 .visible {
	margin-left: -16px;
}
#nav .menu .l3 .visible {
	margin-left: -8px;
}
.body_content .block1 img, .body_content .block1_1 img {
	height: 57px;
}
#header .timer {
	background: url(../img/counter_bg.png) no-repeat;
	width: 199px;
	float: left;
	height: 111px;
	position: absolute;
	top: 55px;
	right: 0px;
	font-weight: 600;
	color: white;
	font-size: 13pt;
	padding-top: 6px;
	padding-left: 7px;
}
#header .timer .title {
	color: #1e682c;
	text-transform: uppercase;
	text-align: center;
	font-size: 16pt;
	margin-top: 7px;
	width: 187px;
	font-weight: bold;
}

#header .timer .title_bottom {
	color: #1e682c;
	font-size: 9pt;
	text-align: center;
	width: 187px;
	margin-top: 7px;
}

#header .timer table {
	color: black;
	width: 164px !important;
	margin-left: 11px;
	text-align: center;
	border-spacing: 0px;
	border-collapse: collapse;
	margin-top: 11px;
	font-size: 17pt;
}
#header .calc {
	background: url(../img/calc_bg.png) no-repeat;
	width: 966px;
	float: left;
	height: 111px;
	position: absolute;
	top: 171px;
	left: 7px;
	color: white;
	font-size: 13pt;
	padding-top: 6px;
	padding-left: 7px;
}
#header .calc .select_1, #header .calc .select_2, #header .calc .select_3 {
	color: black;
	font-size: 15pt;
	float: left;
	margin-left: 4px;
	margin-top: 8px;
}
#header .calc .select_1 {
	margin-left: 11px;
}
#header .calc .select_4 {
	float: left;
}
#header .calc .select_6 {
	margin-left: 3px;
	float: left;
}
#header .calc .select_6 input {
	height: 34px;
	margin-top: -12px;
	float: left;
	padding-left: 5px;
	padding-right: 5px;
	text-align: center;
	font-size: 8pt;
	width: 64px;
}
#header .calc .select_6 .button {
	float: left;
	margin: -12px 0;
}
#header .calc .select_4 .ue {
	background: url(../img/ue.png) no-repeat;
	float: left;
	height: 29px;
	padding-left: 17px;
	color: white;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	font-size: 19pt;
	margin-top: 12px;
}
#header .calc .select_5 {
	float: left;
}
#header .calc .select_5 .submit {
	background: url(../img/submit_btn_hover.png) no-repeat;
	height: 21px;
	width: 85px;
	padding: 10px;
	text-align: center;
	margin-top: 6px;
	cursor: pointer;
}
#header .calc .select_5 a {
	text-decoration: none;
}
#header .calc .select_5 a .submit {
	color: #593000;
	text-decoration: none;
	font-weight: bold;
}
#header .calc .select_5 a:hover .submit {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#header .calc .select_5 .submit:hover {
	background: url(../img/submit_btn.png) no-repeat;
	color: black;
}
#header .calc .title {
	color: #1e682c;
	text-transform: uppercase;
	font-size: 16pt;
	margin-top: 7px;
	width: 587px;
	padding-left: 17px;
	font-weight: bold;
}
.button {
	cursor: pointer;
}
.diclaimetalbe {
	width: 100%;
}
.diclaimetalbe a {
	color: black;
}
.diclaimetalbe ul li {
	margin-top: 8px;
}
/** /header **/

/** content **/
.artcat > h1 {
font-size: 15pt;
margin-bottom: 15px;
}

.globalnewsinsude h1 {
color:#1e682c;
font-size:20px;
padding-bottom:5px;
margin-top:0px;
margin-bottom:5px;
border-bottom:1px solid #606060
}
.blog_record_title {
color:#1e682c;
font-size:20px;
padding-bottom:5px;
margin-bottom:5px;
font-weight:bold;
border-bottom:1px solid #606060
}
.globalnewsinsude .blog_date {
font-size:10px;
color:gray;
}
.globalnewsinsude .zap {
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding: 10px;
margin-bottom: 20px;
float: left;
width: 689px;margin-top:10px;
}

.globalnewsinsude .blog_comments {
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding: 10px;
margin-bottom: 20px;
float: left;
width: 689px;
}
.globalnewsinsude .commentstitle {
color:#1e682c;
font-size:15px;
padding-bottom:5px;
margin-bottom:5px;
font-weight:bold;
border-bottom:1px solid #606060
}
.blog_comments .comment:last-child {
border-bottom:0px;
}
.blog_comments .comment {
margin-top: 10px;
padding-bottom: 10px;
border-bottom: 1px dashed rgb(207, 207, 207);
}
.blog_comments .comment .comment_name {
font-size: 14px;
font-weight: bold;
padding-bottom: 3px;
}

.globalnewsinsude .form input[type="text"] {
width:500px;

}

.globalnewsinsude .form input[type="button"] {
background: url(../img/submit_btn.png) no-repeat;
width: 105px !important;
height: 40px !important;
padding: 10px;
text-align: center !important;
margin-top: 6px;
cursor: pointer;
border: 0px;
margin-bottom: 12px;
font-weight: bold;
float: right;
}
.globalnewsinsude .form input[type="button"]:hover {
background: url(../img/submit_btn_hover.png) no-repeat;
color: white;
}
.globalnewsinsude .form textarea {
outline: none;
}
.globalnewsinsude .form .textdiv div {
border-top: 1px solid!important;
border-top-color: rgb(204, 204, 204)!important;outline: none;
}
.globalnewsinsude .form .textdiv .nicEdit-main {
border-top: 0px solid black!important;outline: none;
}
.globalnewsinsude .form textarea {
width:687px;
}

.globalnewsinsude .form {
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding: 10px;
margin-bottom: 20px;
float: left;
width: 689px;
}

.blog_date {
font-size:10px;
color:gray;
}

.globalnews {
-webkit-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 0px 0px 5px 0px rgba(50, 50, 50, 0.75);
-webkit-border-radius: 7px;
-moz-border-radius: 7px;
border-radius: 7px;
padding: 10px;
margin-bottom: 20px;
float: left;
width: 689px;
}
.paginate {
height:30px;
float:left;
width:689px;
}
.paginate strong {
padding:5px;
background-image: url(../img/ft_menu_bg.png);
color:white;
border:1px solid gray;
}
.paginate a:hover {
background-image: url(../img/ft_menu_bg.png);
color:white;
text-decoration:none;
}
.paginate a {
padding:5px;
border:1px solid gray;
color:black;
text-decoration:none;
}
#left_col {
	width: 230px;
	margin-right: 20px;
	float: left;
	margin-top: 10px;
	min-height: 363px;
}
#left_col .calc {
	background: url(../img/bg_calculator.png) no-repeat;
	position: absolute;
	font-size: 15pt;
	padding-top: 6px;
	padding-left: 26px;
	padding-top: 13px;
	padding-bottom: 21px;
}
#left_col .calc .title {
	color: #1e682c;
	text-transform: uppercase;
	font-size: 16pt;
	margin-top: 7px;
	font-weight: bold;
}

#left_col .calc .select_1 {
	margin-top: 8px;
}
#left_col .calc .select_2 {
	margin-top: 8px;
}
#left_col .calc .select_3 {
	margin-top: 8px;
}
#left_col .calc .select_4 {
	margin-top: 48px;
}
#left_col .calc .select_6 {
	margin-top: 8px;
}
#left_col .calc .select_6 input {
	height: 21px;
	text-align: center;
	font-size: 8pt;
	width: 140px;
	float: left;
	margin: 0 1px;
}
#left_col .calc .select_6 .button {
	float: left;
}
#left_col .calc .select_6 .button img {

}
#left_col .calc .select_4 .ue {
	margin-left: 51px;
	background: url(../img/ue.png) no-repeat;
	height: 29px;
	padding-left: 15px;
	color: #FFFFFF;
	text-shadow: 1px 1px 2px rgba(150, 150, 150, 1);
	font-size: 19pt;
	margin-top: 12px;
}
#left_col .calc .select_5 {
	margin-top: 8px;
	margin-left: 47px;
}

#left_col .calc .select_5 .submit {
	background: url(../img/submit_btn.png) no-repeat;
	height: 21px;
	width: 85px;
	padding: 10px;
	text-align: center;
	margin-top: 8px;
	cursor: pointer;
}
#left_col .calc .select_5 a {
	text-decoration: none;
}
#left_col .calc .select_5 a .submit {
	color: #593000;
	text-decoration: none;
	font-weight: bold;
}
#left_col .calc .select_5 a:hover .submit {
	color: white;
	font-weight: bold;
	text-decoration: none;
}
#left_col .calc .select_5 .submit:hover {
	background: url(../img/submit_btn_hover.png) no-repeat;
}

#big_cont {
	width: 1200px;
	background-color: white;
	margin: 0 auto;
}

#big_cont .cont {
	width: 980px;
	margin: 0 auto;
}
#content .ff_table {
	width: 740px;
}
#content .ff_table tr td {
	width: 148px;
}
#content .ff_table2 {
	width: 710px;
}
#content .ff_table2 tr td {
	width: 142px;
	padding-bottom:15px;
}

#content .ff_table2 tr td p {
	margin-top:0px;
	margin-bottom:0px;
}
#content .ff_table2  a {
	color: #0E0E0E;
	text-decoration: none;
	border-bottom: 1px dotted black;
}
#content .ff_table2  a:hover {
	border: 0px;
	-moz-binding: }
	#content {
	width: 710px;
	float: right;

}

#content.contenthome {
	width: 980px;
}
#content .block1 {
	float: left;
	margin-top: 15px;
	width: 980px;
}
#content .block1_1 {
	float: left;
	width: 980px;
}
#content .block1_1 .bl_1 {
	float: left;
	margin-top: 15px;
	width: 234px;
	margin-right: 14px;
}
#content .block1_1 .bl_2 {
	float: left;
	margin-top: 15px;
	width: 234px;
}
#content .block1 .bl_1 {
	float: left;
	margin-top: 15px;
	width: 234px;
	margin-right: 14px;
}
#content .block1 .bl_2 {
	float: left;
	margin-top: 15px;
	width: 234px;
}
#content .block1 .title {
	font-size: 19pt;
}
#content .block1 .text {
	clear: both;
	margin-top: 11px;
}
#content .block1_1 .title {
	font-size: 17pt;
}
#content .block1_1 .text {
	clear: both;
	margin-top: 11px;
}
#content .block_4 {
	float: left;
}
#content .block_4 .title {
	color: #474747;
	font-weight: bold;
	font-size: 13pt;
	margin-bottom: 10px;
}
#content .block_4 .text {
	color: #6e6e6e;
	margin-bottom: 10px;
}

#content .block_4 .bl_1 {
	float: left;
	width: 307px;
	margin-right: 20px;
}

#content .block_4 .bl_2 {
	float: left;
	width: 307px;
}
#content .block_4 ul li {
	list-style-image: url(../img/to4ka.png);
}
#content .block_4 ul {
	padding-left: 20px;
}

#content .mega_line {
	border-bottom: 1px solid #e0e0e0;
	width: 1200px;
	margin-left: -110px;
	height: 1px;
	float: left;
	margin-top: 10px;
	margin-bottom: 10px;
}
#content .block2 {
	float: left;
	position: relative;
	height: 211px;
	width: 100%;
}
#content .block2 table {
	float: left;
	position: absolute;
	right: 0px;
}
#content .block2 table tr.ff td {
	background-color: #98cc32;
	height: 0px;
	padding: 2px;
}
#content .block_3 .how {
	font-size: 22pt;
	font-weight: normal;
	color: #7ebd0a;
	text-transform: uppercase;
	text-align: center;
}

#content  .how_img {
	background: url(../img/how.png) no-repeat;
	width: 973px;
	height: 238px;
	float: left;
}

#content .block2 table tr td {
padding-top: 10px;
padding-bottom: 12px;
}
#content .block2 table tr td a {
	color: #0E0E0E;
	text-decoration: none;
	border-bottom: 1px dotted black;
}
#content .block2 table tr td a:hover {
	color: #646464;
	text-decoration: none;
	border: 0px;
}




#content .ff_table tr td a {
	color: #0E0E0E;
	text-decoration: none;
	border-bottom: 1px dotted black;
}
.avstrotable {
margin-bottom: 12px;
margin-left: -6px;
}



.avstrotable tr td{
border-left: 0px dashed #e5e5e5;
border-bottom: 0px dashed #e5e5e5;
border-right: 0px dashed #e5e5e5;
padding:3px;
padding-left: 8px;
vertical-align: middle;
padding-right: 10px;
padding-top: 5px!Important;
padding-bottom: 5px!important;
}
.avstrotable.secc td {
padding-left:3px;
padding-right:3px;
}
.avstrotable tr th:first-child {
border-left: 0px dashed #e5e5e5;border-right: 0px dashed #e5e5e5;
}
.avstrotable tr th:last-child {
border-right: 0px dashed #e5e5e5;
}
.avstrotable tr td:first-child {
border-left: 0px dashed #e5e5e5;border-right: 0px dashed #e5e5e5;
}
.avstrotable tr td:last-child {
border-right: 0px dashed #e5e5e5;
}

.avstrotable tr:last-child td {
border-bottom:0px;
}

.avstrotable tr th{
border-left: 0px dashed #e5e5e5;
border-bottom: 0px dashed #808080 !important;
border-right: 0px dashed #e5e5e5;
padding:5px;
padding-left:8px;
}
.tipstable p:first-child {
margin-top:0px;
}
#content .ff_table tr td a:hover {
	color: #646464;
	text-decoration: none;
	border: 0px;
}

.cityullinks ul {
padding-left:0px;
}
.cityullinks ul li {
display: inline-block;
padding-right:20px;
}

.cityullinks ul li a {
color: #0E0E0E;
text-decoration: none;
border-bottom: 1px dotted black;
}

.cityullinks ul li a:hover {
color: #646464;
text-decoration: none;
border: 0px;
}




.linkcity {
padding-left:0px;
}
.linkcity li {
display: inline-block;
padding-right:20px;
}

.linkcity li a {
color: #0E0E0E;
text-decoration: none;
border-bottom: 1px dotted black;
}

.linkcity li a:hover {
color: #646464;
text-decoration: none;
border: 0px;
}
.avstrotable tr td:first-child, .avstrotable tr td:last-child {
width:500px!important
}
.avstrotable tr th:first-child, .avstrotable tr th:last-child  {
width:100px!important;
text-align: left!important;
}
.avstrotable tr p {
margin-top:0px;
margin-bottom:0px;
}
#content .block2 .our {
	color: #e38a3b;
	font-size: 19pt;
	font-weight: normal;
	float: left;
	margin-right: 34px;
	position: absolute;
	top: 2px;
	right: 302px;
}
.diclaimetalbe2 a {
	font-weight: bold;
	color: #0000FF;
	text-decoration: underline;
}
.diclaimetalbe2 td b {
	font-size: 15px;
	display: block;
}
.diclaimetalbe2 td {
	width: 50% !important
}
.diclaimetalbe2 td strong {
	font-size: 15px;
	display: block;
}
.diclaimetalbe2 a:hover {
	text-decoration: none;
}
.diclaimetalbe2 td {
	vertical-align: top;
	padding-bottom: 20px;
	padding-right: 30px;
}

.diclaimetalbe3 a {
	text-decoration: underline;
}

.diclaimetalbe3 td {
	width: 50% !important
}

.diclaimetalbe3 a:hover {
	text-decoration: none;
}
.diclaimetalbe3 td {
	vertical-align: top;
	padding-bottom: 20px;
	padding-right: 30px;
}

.disclame2 {
padding-top: 15px;
padding-bottom: 15px;
background-color: white;
position: relative;
z-index: 2;
float: left;
width: 100%;
}
.disclame2 .text {
float:left;
width: 535px;
}
.disclame2 a {
	text-decoration: none;
}
.disclame2 .btn {
float:right;
}
.disclame2 .btn a {
	background: url(../img/submit_btn_hover1.png) no-repeat;
	height: 21px;
	width: 107px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 auto;
	display: block;

	
}
.disclame2 .btn a:hover {
	background: url(../img/submit_btn1.png) no-repeat;
	color: black;
}
.disclame2 h2 {
	margin-top: 0px;
	margin-bottom: 10px
}
.disclame {
	text-align: center;
	padding: 15px;
	background-color: white;
	position: relative;
	z-index: 2;
}
.disclame a {
	text-decoration: none;
}

.disclame .btn a {
	background: url(../img/submit_btn_hover1.png) no-repeat;
	height: 21px;
	width: 107px;
	padding: 10px;
	text-align: center;
	cursor: pointer;
	color: white;
	text-decoration: none;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: bold;
	margin: 0 auto;
	display: block;
	margin-top: 10px;
}
.disclame .btn a:hover {
	background: url(../img/submit_btn1.png) no-repeat;
	color: black;
}
.disclame h2 {
	margin-top: 0px;
	margin-bottom: 10px
}
.message_about_general, .message_about_support {
	padding: 12px;
	border: 1px solid #86b72c;
	margin-top: 0px;
	float: left !important;
	padding-bottom: 11px;
	margin-left: 14px;
	width: 383px;
	text-align: center;
}
.block2 .banners {
	position: absolute;
	top: 17px;
}
.block2 .banners a:hover {
	opacity: 0.7
}
.message_about_general {
	width: 408px;
	padding-left: 0px;
	padding-right: 0px;
}
/** /content **/

#neocontact input[type=text], #neocontact input[type=email] {
	width: 200px;
	padding: 5px 10px;
	border-radius: 4px;
}
#neocontact input[name=send_data] {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #207cca 64%, #2989d8 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(64%,#207cca), color-stop(100%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	font-weight: bold;
	padding: 5px 20px;
	border-radius: 5px;
	cursor: pointer;
}
#neocontact input[name=send_data]:hover {
	color: #DDD;
}
#neocontact textarea {
	width: 300px;
	height: 70px;
	border-radius: 4px;
}
#neocontact .msg-wrap span {
	color: gray;
	background-color: yellow;
	padding: 4px 20px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 2px 2px 5px grey;
	margin: 10px 0 10px 5px;
}
/* ------------------ */
/** FOOTER **/

#ft_m .block_ft_m {
	background-image: url(../img/ft_menu_bg.png);
	width: 1200px;
	float: left;
	background-repeat: no-repeat;
	height: 51px;
}
#ft_m .block_ft_m .cont {
	width: 980px;
	margin: 0 auto;
}

#ft_m .cont ul {
	float: left;
	padding-left: 0px;
}
#ft_m .cont ul li {
	display: inline-block;
	margin: 0 3px;
	text-align: center;
}
#ft_m .cont ul li a {
	text-decoration: underline;
	color: #FFF;
	margin: 4px 30px;
	display: block;
}
#ft_m .cont ul li a span {
	display: block;
}
#ft_m .cont ul li a.unfirst {
	margin-bottom: -17px;
}

#ft_m .cont ul li.active a, #ft_m ul li a:hover {
	color: #3a5606;
}
#footer {
	width: 1200px;
	float: left;
	background-color: #222222;
}
#footer .cont {
	width: 980px;
	margin: 0 auto;
	padding-bottom: 15px;
}

#footer .cont .acc {
	background-image: url(../img/acc.png);
	width: 188px;
	height: 174px;
	float: left;
	margin-top: 17px;
}
#footer .cont .acc_2 {
	background-image: url(../img/accept.png);
	width: 577px;
	height: 47px;
	float: left;
	margin-top: 17px;
}
#footer .cont .ftt_m_c {
	float: left;
}

#footer .cont .ftt_m_c .ftt_m {
	float: left;
	width: 195px;
}
#footer .cont .ftt_m_c .ftt_m ul li {
	list-style-image: url(../img/to4ka.png);
	padding-bottom: 6px;
}

#footer .cont .ftt_m_c .ftt_m ul li:hover {
	list-style-image: url(../img/to4ka_2.png);
}
#footer .cont .ftt_m_c .ftt_m ul li a {
	color: #afc97b;
	border-bottom: 1px dotted #afc97b;
	text-decoration: none;
}
#footer .cont .ftt_m_c .ftt_m ul li a:hover {
	color: #c9fc5f;
	border-bottom: 1px dotted #c9fc5f;
	text-decoration: none;
}
.order_information {
	border: 1px solid rgb(216, 216, 216);
}
#footer .cont .to_top {
	background-image: url(../img/to_top.png);
	padding-left: 40px;
	background-repeat: no-repeat;
	float: right;
	font-size: 15pt;
	color: #e88d17;
	height: 30px;
	line-height: 28px;
	margin-top: 25px;
}
#footer .cont .to_top a {
	text-decoration: none;
	color: #e88d17;
}
#footer .cont .to_top a:hover {
	text-decoration: underline;
	color: #e88d17;
}

#footer .copy_r {
	background-image: url(../img/copyr.png);
	height: 34px;
	width: 1200px;
	background-repeat: no-repeat;
	color: white;
}
#footer .copy_r .cont {
	width: 980px;
	text-align: center;
	padding-top: 10px;
	margin: 0 auto;
	padding-bottom: 0px;
}
#footer .copy_r a {
	color: white;
	text-decoration: underline;
}
#footer .copy_r a:hover {
	color: white;
	text-decoration: none;
}

/** order page **/
#cuselFrame-cusel1, #cuselFrame-cusel2, #cuselFrame-cusel3, #cuselFrame-cusel4, #cuselFrame-cusel5, #cuselFrame-cusel6, #cuselFrame-cusel7, #cuselFrame-cusel8, #cuselFrame-cusel9, #cuselFrame-cusel10 {
	margin-top: 7px;
}
#cusel1, #cusel2, #cusel3, #cusel4, #cusel5, #cusel6, #cusel7, #cusel8, #cusel9, #cusel10 {
	width: 250px;
}

#order_form input {
	height: 34px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
}

.block_element.float {
	float: left;
	margin-right: 109px;
}
.block_element.float2 {
	float: left;
}
.block_element textarea {
	margin-top: 5px;
	width: 245px;
}
.block_element input {
	margin-top: 5px;
	width: 237px;
}
.block_element label {
	display: block;
	font-size: 15pt;
	font-weight: bold;
	font-style: italic;
	color: #1e682c;
}
.block_element label span {
	font-size: 13px;
	color: black;
	font-weight: normal;
	font-style: normal;
}
.block_element label span#plag_price {

	font-size: 15pt;
	font-weight: bold;
	font-style: italic;
	color: #1e682c;
}

#order_form label.none {
	display: block;
	font-size: 11pt;
	color: black;
	font-weight: normal;
	font-style: normal;
}
#order_form .hint-content {
	padding-bottom: 10px;
	font-size: 17px;
}
#order_form table td.top {
	height: 20px;
}
#order_form table td {
	vertical-align: bottom;
}

#order_form table tr td:first-child {
	width: 270px;
}
#order_form #paper_details_text_1 {
	width: 470px;
	float: left;
	margin-right: 40px;
	font-size: 11pt;
}
#order_form #paper_details_text_2 {
	width: 470px;
	float: left;
	font-size: 11pt;
}
#order_form .well-small {
	font-size: 9pt;
	width: 250px;
}
#order_form input[type="radio"] {
	width: 12px;
	height: 12px;
	margin-left: 1px;
}
#order_form input[type="checkbox"] {
	width: 12px;
	height: 12px;
	margin-left: 1px;
}
#order_form .order-price {
color: red;
font-size: 23pt;
font-weight: bold;
margin-bottom: 36px;
float: left;
margin-top: -58px;
width: 980px;
text-align: center;
}

#order_form .btn {
position:relative;
z-index:2
}
.hints {
position:relative;
}

.hints:hover .somehint {
display: block;
}
.somehint {
display:none;
position:absolute;
top:-42px;
z-index:99;
background-color: #1f221d;
width: 121px;
margin-left: -17px;
border: 2px solid #95c832;
-webkit-border-radius: 10px;
-moz-border-radius: 10px;
border-radius: 10px;
-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);

}
.somehint {
color: white;
font-size: 14px;
font-weight: normal;
font-style: normal;
padding: 10px;
}
.somehint img {
position: absolute;
bottom: -10px;
left: 19px;

}
#order_form .btn, .login_box .btn {
	background: url(../img/submit_btn.png) no-repeat;
	width: 105px !important;
	height: 40px !important;
	padding: 10px;
	text-align: center !important;
	margin-top: 6px;
	cursor: pointer;
	border: 0px;
	margin-bottom: 12px;
	font-weight: bold;
}
#order_form .btn:hover, .login_box .btn:hover {
	background: url(../img/submit_btn_hover.png) no-repeat;
	color: white;
}

.login_box {
	width: 300px;
	margin-top: 100px;
	margin-bottom: 100px;
	margin-left: 36%;
	background-color: white;
	-webkit-border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	-webkit-box-shadow: 0 1px 15px rgba(0,0,0,0.25);
	-moz-box-shadow: 0 1px 15px rgba(0,0,0,0.25);
	box-shadow: 0 1px 15px rgba(0,0,0,0.25);
	overflow: hidden;
}

.login_box .block_element_head {
	margin: 15px 15px;
	border-bottom: 1px solid #e5e5e5;
	padding: 10px 0px;
}

.login_box .error_box {
	color: red;
	margin: 10px 15px 15px 15px;
}

.login_box input[type="password"], #content .login_box input[type="text"] {
	width: 256px;
	height: 34px;
	line-height: 34px;
	margin: 0 15px 10px 15px;
	padding-left: 5px;
	padding-right: 5px;
	text-align: left;
	background-color: white !important;
}

.login_form .cusel {
	margin: 0px 15px 10px 15px;
}

.login_box div.submit {
	width: 100%;
	margin-top: 5px;
	padding-top: 15px;
	padding-bottom: 15px;
	height: 40px;
	background-color: #f5f5f5;
	border-top: 1px solid #ddd;
}

.login_box div.submit span {
	float: left;
	width: 150px;
	padding: 0px 15px;
	line-height: 160%;
}
.login_box div.submit input.btn {
	float: left;
	margin: 0px;
}

.login_box h3 {
	padding: 0px 15px 5px 15px;
	-webkit-margin-before: 0em;
	-webkit-margin-after: 0em;
}

/* user_template */

table.table_wrapper {
	width: 100%;
	min-width: 980px;
	background-color: transparent;
	border-collapse: collapse;
	border-spacing: 0;
}

table.table_wrapper tr, table.table_wrapper th, table.table_wrapper td {
	padding: 0;
	vertical-align: top;
}

table.table_wrapper td.td_sidebar {
	padding-top: 39px;
	width: 120px;
}

table.table_wrapper  td.content_user {
	padding-top: 39px;
	padding-right: 10px !important;
}

#content-user {
	float: left;
	width: 100%;
	min-height: 450px;
	margin: 5px 10px 20px 0px;
	background-color: white;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

/** sidebar **/
#sidebar {
	float: left;
	width: 120px;
	min-height: 435px;
	margin: 15px 5px 25px 20px;
	background-color: rgb(68, 138, 68);
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
	-webkit-box-shadow: 2px 2px 3px rgba(68, 138, 68,0.7);
	-moz-box-shadow: 2px 2px 3px rgba(68, 138, 68,0.7);
	box-shadow: 2px 2px 3px rgba(68, 138, 68,0.7);
	overflow: hidden;
}

#sidebar div {
	display: block;
	float: left;
	width: 100%;
	color: white;
	cursor: pointer;
}

#sidebar span {
	display: block;
	float: left;
	/*width: 100%;*/
	color: inherit;
	text-align: right;
}
#sidebar span .sidebar_order_status {
	color: yellow;
	text-align: left;
	font-size: 12px;
}
#sidebar .orders_title, #sidebar .sidebar_order, #sidebar #profile {
	margin-bottom: 8px;
}
#sidebar .sidebar_order .message_envelope {
	background-image: url(../img/envelope.png);
	width: 32px;
	height: 30px;
	font-size: 18px;
	font-weight: bold;
	color: blue;
	text-align: center;
	padding-top: 4px;
	margin-top: 0;
	margin-right: 5px;
	float: left;
}
#sidebar .sidebar_order .file_envelope {
	background-image: url(../img/document.png);
	margin-top: 6px;
	width: 32px;
	height: 32px;
	text-align: center;
	margin-top: 0;
	margin-right: 5px;
}
#sidebar .sidebar_order .order_id {
	margin-top: -8px;
	margin-bottom: 8px;
	width: 100%;
}
#sidebar #profile {
	border-top: 1px solid #88C97C;
}

#sidebar .orders_title:hover, #sidebar .messages_title:hover, #sidebar .files_title:hover, #sidebar .writers_title:hover, #sidebar .sidebar_order:hover, #sidebar #profile:hover {
	color: #253826;
	background-color: #67A84B;
}
#sidebar div.active {
	background-color: #67A84B;
}

#sidebar div a {
	display: block;
	height: 18px;
	font-size: 16px;
	padding: 10px;
	text-decoration: none;
	color: inherit;
}
#sidebar .sidebar_order a {
	/*padding-right: 50px;	*/
	text-align: left;
	font-style: italic;
}

/** /sidebar **/

/* user pages */
.block_head {
	border-bottom: 1px solid rgb(70, 170, 70);
	-webkit-box-shadow: 0 2px 3px rgba(68, 138, 68,0.7);
	-moz-box-shadow: 0 2px 3px rgba(68, 138, 68,0.7);
	box-shadow: 0 2px 3px rgba(68, 138, 68,0.7);
	font-size: 28px;
	font-weight: bold;
	padding: 7px 20px 8px 20px;
	color: rgb(68, 138, 68);
}

.block_head span {
	color: black;
}
.block_content {
	padding: 15px;
}

.block_content .subblock {
	float: left;
	border: 1px solid rgb(70, 170, 70);
	-webkit-box-shadow: 0px 1px 2px rgba(68, 138, 68,0.7);
	-moz-box-shadow: 0 1px 2px rgba(68, 138, 68,0.7);
	box-shadow: 0 1px 2px rgba(68, 138, 68,0.7);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	overflow: hidden;
}

.subblock h3 {
	font-size: 15px;
	font-weight: 200;
	text-transform: uppercase;
	margin: 0;
	padding: 7px 30px 7px 10px;
	color: #1e682c;
}

.block_element_head {
font-size: 15pt;

font-weight: bold;
font-style: italic;
color: #1e682c;
margin-bottom: 5px;
}

table.table_name_value {
	width: 100%;
}

table.table_name_value td, table.table_name_value tr {
	padding: 1px 5px;
	vertical-align: top;
	border-collapse: collapse;
	border-spacing: 0;
	font-size: 16px;
	color: #2d2d2d;
}

table.table_name_value td:FIRST-CHILD {
	padding-top: 4px;
	color: #565656;
	font-size: 12px;
	text-align: right;
}

table.table_name_value td.td_button {
	text-align: center;
	padding: 10px;
}

.td_button a {
	text-decoration: none;
}

.btn_gray {
	padding: 8px 15px 10px 15px;
	color: #464646;
	font-size: 13px;
	line-height: normal !important;
	font-weight: normal;
	text-decoration: none;
	background-color: #ececec;
	background-image: -moz-linear-gradient(top,white,#ececec);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#ececec));
	background-image: -webkit-linear-gradient(top,white,#ececec);
	background-image: -o-linear-gradient(top,white,#ececec);
	background-image: linear-gradient(to bottom,white,#ececec);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	border: 1px solid #7b7b7b;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.btn_gray:hover {
	background-color: #dddddd;
	background-image: -moz-linear-gradient(top,white,#dddddd);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(white),to(#dddddd));
	background-image: -webkit-linear-gradient(top,white,#dddddd);
	background-image: -o-linear-gradient(top,white,#dddddd);
	background-image: linear-gradient(to bottom,white,#dddddd);
	-webkit-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	-moz-box-shadow: 0 1px 1px rgba(0,0,0,0.3);
	box-shadow: 0 1px 1px rgba(0,0,0,0.3);
}

.btn_green {
	padding: 8px 15px 10px 15px;
	color: white;
	font-size: 13px;
	line-height: normal !important;
	font-weight: normal;
	text-decoration: none;
	background-color: #67A84B;
	background-image: -moz-linear-gradient(top,#87D887,#67A84B);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#87D887),to(#67A84B));
	background-image: -webkit-linear-gradient(top,#87D887,#67A84B);
	background-image: -o-linear-gradient(top,#87D887,#67A84B);
	background-image: linear-gradient(to bottom,#87D887,#67A84B);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 1px 2px rgba(70,140,70,0.5);
	-moz-box-shadow: 0 1px 2px rgba(70,140,70,0.5);
	box-shadow: 0 1px 2px rgba(70,140,70,0.5);
	border: 1px solid rgb(58, 128, 58);
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	text-shadow: 0px -1px 1px rgba(68, 138, 68, 1);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}

.btn_green:hover {
	background-color: rgb(68, 138, 68);
	background-image: -moz-linear-gradient(top,#87D887,rgb(68, 138, 68));
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#87D887),to(rgb(68, 138, 68)));
	background-image: -webkit-linear-gradient(top,#87D887,rgb(68, 138, 68));
	background-image: -o-linear-gradient(top,#87D887,rgb(68, 138, 68));
	background-image: linear-gradient(to bottom,#87D887,rgb(68, 138, 68));
	-webkit-box-shadow: 0 1px 1px rgba(70,140,70,0.3);
	-moz-box-shadow: 0 1px 1px rgba(70,140,70,0.3);
	box-shadow: 0 1px 1px rgba(70,140,70,0.3);
}

.btn_orange {
	padding: 8px 15px 10px 15px;
	color: white;
	font-size: 13px;
	line-height: normal !important;
	font-weight: normal;
	text-decoration: none;
	background-color: #d4701e;
	background-image: -moz-linear-gradient(top,#ffa052,#d4701e);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ffa052),to(#d4701e));
	background-image: -webkit-linear-gradient(top,#ffa052,#d4701e);
	background-image: -o-linear-gradient(top,#ffa052,#d4701e);
	background-image: linear-gradient(to bottom,#ffa052,#d4701e);
	background-repeat: repeat-x;
	-webkit-box-shadow: 0 1px 2px rgba(255,166,82,0.5);
	-moz-box-shadow: 0 1px 2px rgba(255,166,82,0.5);
	box-shadow: 0 1px 2px rgba(255,166,82,0.5);
	border: 1px solid black;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
	border-radius: 2px;
	cursor: pointer;
	text-shadow: 0px -1px 1px rgba(68, 138, 68, 1);
	-webkit-box-sizing: content-box;
	-moz-box-sizing: content-box;
	box-sizing: content-box;
}
.btn_orange:hover {
	background-color: rgb(68, 138, 68);
	background-image: -moz-linear-gradient(top,#d4701e,#ffa052);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#d4701e),to(#ffa052));
	background-image: -webkit-linear-gradient(top,#d4701e,#ffa052);
	background-image: -o-linear-gradient(top,#d4701e,#ffa052);
	background-image: linear-gradient(to bottom,#d4701e,#ffa052);
	-webkit-box-shadow: 0 1px 2px rgba(255,166,82,0.3);
	-moz-box-shadow: 0 1px 2px rgba(255,166,82,0.3);
	box-shadow: 0 1px 2px rgba(255,166,82,0.3);
}
/* Order N details */

.table_order_details {
}

.table_order_details div {
}

.table_order_details .subblock {
}

.td_order_controls {
	width: 158px;
	padding-right: 15px !important;
}

.td_order_controls .status_title {
	text-transform: capitalize;
	width: 148px;
	background-color: #cdcfcc;
	color: #1e450b;
	padding: 5px;
	font-size: 12px;
	font-weight: 200;
}

.td_order_controls .counter {
	width: 148px;
	background-color: #dddddd;
	color: #1e450b;
	padding: 5px;
	font-size: 12px;
	font-weight: 200;
}
.dots2 {
	vertical-align: middle !important;
	font-size: 21pt !important;
}
.count_table tr td {
	text-align: center;
	background-color: #dddddd !important;
}
.count_table {
	background-color: #dddddd;
}
.count_table td.count_t {
	font-size: 10pt !important;
	font-weight: normal !important;
	padding-bottom: 0px !important;
	padding: 0px !important
}
.count_table td.count_n {
	font-size: 17pt !important;
	font-weight: bold !important;
	padding-bottom: 0px !important;
	padding: 0px !important
}
.order_controls {
	overflow: hidden;
	border: 1px solid rgb(70, 170, 70);
	-webkit-box-shadow: 0px 1px 2px rgba(68, 138, 68,0.7);
	-moz-box-shadow: 0 1px 2px rgba(68, 138, 68,0.7);
	box-shadow: 0 1px 2px rgba(68, 138, 68,0.7);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
}

.td_order_controls table {
	width: 100%;
	border-collapse: collapse;
	border-spacing: 0px;
}

.td_order_controls table td {
	background-color: #ececec;
	padding: 2px 5px;
	font-size: 14px;
	font-weight: 200;
	vertical-align: top;
}

.td_order_controls table td:FIRST-CHILD {
	width: 40% !important;
	background-color: #ececec;
	padding: 4px 5px;
	font-weight: 200;
	font-size: 11px;
}

.td_order_information {
	width: 100%;
	padding-bottom: 15px !important;
}

.td_order_information table {
	padding: 0px 0px 0px 0px;
	border-spacing: 0px !important;
	width: 100%;
}

.td_order_information th, .td_order_information td {
	text-align: left !important;
	font-size: 13px;
	font-weight: normal;
	padding: 2px 10px !important;
}

.td_order_information th {
	padding-top: 20px !important;
	font-weight: bold;
	color: #1e682c;
}

.td_order_information table tr + tr td {
	border: none;
}

.table_subject_topic th:FIRST-CHILD {
	width: 15%;
}

.paper_details {
	margin: 0 15px;
}

.paper_details h4 {
	margin-top: 20px;
	margin-bottom: 10px;
	font-weight: bold;
	font-size: 18px;
	/* 	color: rgb(86, 86, 86); */
	color: #1e682c;
}

.paper_details p {
	font-weight: normal;
	font-size: 13px;
	color: #565656;
	margin: 0px;
	padding: 0;
	padding-bottom: 10px;
}
.paper_details.second h4 {
	color: black;
	font-size: 14px;
	font-weight: normal;
}
.paper_details.second h4 span {
	font-size: 16px;
	font-weight: bold;
	color: #1e682c;
}
.btn_green_a {
	text-decoration: none;
}

.btn_green_a .btn_green {
	width: 136px;
	text-align: center;
	margin-bottom: 11px;
}
.td_order_messages {
	padding-right: 15px !important;
	width: 75%;
}

.subblock_btn_pad {
	float: none !important;
	background-color: #dddddd;
	border-top: 1px solid #A0A0A0;
	border-bottom: 1px solid #A0A0A0;
	margin-bottom: 5px;
}

.order_messages .btn_green {
	margin: 10px;
}

.order_interface {
	float: none !important;
	margin: 10px 10px 10px 10px;
	border: 1px solid #c2c2c2;
	-webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.7);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.7);
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;
}

.order_interface .interface_controls {
	float: none;
	padding: 0 15px 15px 15px;
}

.order_interface .interface_field_caption {
	display: block;
	float: left;
	clear: both;
	margin-top: 10px;
	font-size: 13px;
}

.order_interface .calc_selector {
	clear: both;
	font-size: 14px;
}

#new_message #message_text {
	width: 100%;
	font-size: 14px;
	min-height: 60px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	margin-bottom: 0px;
}

#new_message #message_result {
	float: none;
	color: red;
	padding-top: 5px;
	font-size: 14px;
}

.order_interface .interface_buttons {
	float: none;
	padding: 5px;
	border-top: 1px solid #dcdcdc;
	background-color: #f5f5f5;
	text-align: right;
}

.order_addon_pad {
	float: none !important;
	margin: 0px;
	margin-top: 0px;
	padding: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	border: 1px solid #bfbfbf;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.15);
	box-shadow: 0 1px 2px rgba(0,0,0,0.15);
}

.order_addon_pad div {
	float: none !important;
}

.message .message_title, .file .file_title {
	padding-bottom: 5px;
	font-size: 12px;
	font-weight: bold;
	border-bottom: 1px solid #c6c6c6;
}

.message_title .message_sender, .file_title .file_sender {
	color: #0671b5;
}

.message_title .message_date, .file_title .file_date {
	font-style: italic;
	color: #797979;
	font-size: 11px;
}

.message .message_text {
	padding-top: 10px;
	font-size: 11px;
	line-height: 14px;
}

.file .file_link {
	padding-top: 10px;
	font-size: 11px;
}

.td_order_payments {
	padding-bottom: 15px !important;
}

/* Orders table user page */

#content-user #tabs.ui-tabs .ui-tabs-panel {
	padding: 0;
}

#content-user #tabs {
	border: none;
	padding: 0;
}

#content-user #tabs ul {
	background: none;
	border: none;
	border-bottom: 1px solid #bdbdbd;
	padding: 0;
	margin: 0;
	margin-bottom: 10px;
	-moz-border-radius-bottomleft: 0px;
	-webkit-border-bottom-left-radius: 0px;
	border-bottom-left-radius: 0px;
	-moz-border-radius-bottomright: 0px;
	-webkit-border-bottom-right-radius: 0px;
	border-bottom-right-radius: 0px;
}

#content-user #tabs ul li {
	background: none;
	border: 1px solid white;
	margin: 0;
	margin-bottom: -1px;
}

#content-user #tabs ul li a {
	outline: none;
	color: #0873b8;
	font-size: 14px;
}

#content-user #tabs ul li.ui-state-hover {
	background-color: #efefef;
	border-bottom: 1px solid #efefef;
}
#content-user #tabs ul li.ui-state-hover a {
	color: rgb(68, 138, 68);
}

#content-user #tabs ul li.ui-tabs-active {
	background-color: white;
	border: 1px solid #bdbdbd;
	border-bottom: 1px solid white;
}
#content-user #tabs ul li.ui-tabs-active a {
	color: #555;
}

#content-user #tabs .ui-widget-content {
	border: none;
	font-size: 12px;
}

#content-user #tabs .ui-jqgrid-titlebar {
	background: none;
	background-color: #efefef;
	border: none;
	margin-bottom: 10px;
	-moz-border-radius-bottomleft: 3px;
	-webkit-border-bottom-left-radius: 3px;
	border-bottom-left-radius: 3px;
	overflow: hidden;
	color: rgb(68, 138, 68);
}

#content-user #tabs .ui-jqgrid-titlebar span {
	padding-left: 10px;
}

#content-user #tabs .ui-jqgrid-hdiv {
	border: none;
}

#content-user #tabs th {
	border: none;
	background: none;
	background-color: white;
	padding: 0;
	margin: 0;
}

#content-user #tabs th div {
	font-size: 12px;
	color: #0873b8;
}
#content-user #tabs th.ui-state-hover div {
	color: rgb(68, 138, 68);
}

#content-user #tabs .ui-jqgrid-bdiv table {
	border-spacing: 0px 6px;
	border-collapse: separate;
	padding: 0;
	margin-top: -8px;
}

#content-user #tabs .ui-jqgrid-bdiv .jqgrow td {
	font-size: 12px;
	border: 1px solid #bdbdbd;
	border-right-width: 0;
	border-left-style: dashed;
	background: none;
	height: 50px;
	vertical-align: middle;
	padding: 0px 7px 0px 7px;
	margin: 5px;
	background-color: #fafafb;
	background-image: -moz-linear-gradient(top,#fcfdfe,#f6f6f7);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#fcfdfe),to(#f6f6f7));
	background-image: -webkit-linear-gradient(top,#fcfdfe,#f6f6f7);
	background-image: -o-linear-gradient(top,#fcfdfe,#f6f6f7);
	background-image: linear-gradient(to bottom,#fcfdfe,#f6f6f7);
	background-repeat: repeat-x;
	cursor: pointer;
}

#content-user #tabs .ui-jqgrid-bdiv .jqgrow.ui-state-hover td {
	background-color: #ecedee;
	background-image: -moz-linear-gradient(top,#ecedee,#e6e7e8);
	background-image: -webkit-gradient(linear,0 0,0 100%,from(#ecedee),to(#e6e7e8));
	background-image: -webkit-linear-gradient(top,#ecedee,#e6e7e8);
	background-image: -o-linear-gradient(top,#ecedee,#e6e7e8);
	background-image: linear-gradient(to bottom,#ecedee,#e6e7e8);
}

#content-user #tabs .ui-jqgrid-bdiv .jqgrow td:FIRST-CHILD {
	color: rgb(68, 138, 68);
	font-weight: bold;
	border-left-style: solid;
	-webkit-border-top-left-radius: 4px;
	-moz-border-radius-topleft: 4px;
	border-top-left-radius: 4px;
	-webkit-border-bottom-left-radius: 4px;
	-moz-border-radius-bottomleft: 4px;
	border-bottom-left-radius: 4px;
}

#content-user #tabs .ui-jqgrid-bdiv .jqgrow td:LAST-CHILD {
	border-right-width: 1px;
	-moz-border-radius-topright: 4px;
	-webkit-border-top-right-radius: 4px;
	border-top-right-radius: 4px;
	-moz-border-radius-bottomright: 4px;
	-webkit-border-bottom-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

/* menu_visible */
#nav .menu > ul > li:hover > div {
	display: block;
}
#nav .menu > ul > li > div > ul > li:hover > div  {
	display: block;
}
#nav .menu ul li ul {
	background-color: #1f221d;
	width: 121px;
	margin-left: -17px;
	border: 2px solid #95c832;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	box-shadow: 2px 2px 5px 0px rgba(50, 50, 50, 0.75);
	position: relative;
}

#nav .menu .visible img {
	position: absolute;
	top: -1px;
	left: 36px;
	z-index: 2;
}
#nav .menu ul li ul li:first-child span {
	-webkit-border-top-left-radius: 5px;
	-webkit-border-top-right-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-topright: 5px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}
#nav .menu ul li ul > li:last-child > a > span {
	-webkit-border-bottom-right-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-moz-border-radius-bottomleft: 5px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
#nav .menu .visible {
	position: absolute;
	float: left;
	height: 0px;
	z-index: 9999;
	padding-top: 7px;
	display: none;
}
#nav .cont ul li ul li {
	display: block;
	margin: 0px;
}
.error {
	color: red;
}
.hidden {
	display: none;
}
.file_link {
	cursor: pointer;
}
.success {
	color: green;
}

.order_hints {
	display: none;
	position: absolute;
	margin-left: 239px;
	margin-top: -43px;
	border: 1px solid rgb(134, 183, 44);
	padding: 11px 11px 12px;
	background-color: #fafafa;
}
.order_errors {
	display: none;
	position: absolute;
	margin-left: 239px;
	margin-top: -90px;
	border: 1px solid red;
	padding: 11px 11px 12px;
	background-color: #fafafa;
}
.label_hints {
	display: none;
	position: absolute;
	margin-left: 239px;
	border: 1px solid rgb(134, 183, 44);
	padding: 11px 11px 12px;
	background-color: #fafafa;
}
#number_of_pages, #discount_code, #number_of_slides, #email_login, #password_login, #sources_needed, #topic, #paper_details, #previous_writer, #captcha {
	width: 206px;
}
#phone_number {
	width: 137px !important;
}
#order_form input {
	width: 206px;
}

#sources_needed + div.order_hints {
	margin-top: -40px
}

#password_login + div.order_hints {
	margin-top: -40px
}
#email_login + div.order_hints {
	margin-top: -40px
}

.discount_code_block .order_hints {
	margin-top: -40px
}

#number_of_pages_block .order_hints {
	margin-top: -40px
}

#slides .order_hints {
	margin-top: -40px;
	font-size: 8pt;
	padding: 12px;
	padding-bottom: 13px;
}
.table_bordered {
	border: 1px solid #46AA46;
	border-radius: 4px 4px 4px 4px;
	box-shadow: 0 1px 2px rgba(68, 138, 68, 0.7);
	float: left;
	overflow: hidden;
	padding: 15px;
	width: 100%;
}
.main_table {

}

/** discounts page **/

.discounts_line div {
	float: left;
	width: 500px !important;
	background-color: white !important;
	background-position: -15px 23px;
	padding-left: 184px;
	padding-top: 88px;
	font-weight: bold;
}
.discounts_line div  p {
	display: block;
	margin-top: -26px;
	padding-bottom: 38px;
}
.discounttext {
	float: left;
	width: 100%;
	font-size: 15px;
}
.discounts_line div.disc5 {
	background-position: 6px 23px;
}
.discount input {
	background-image: url(../img/knopka_long.png);
	background-color: transparent;
	color: black;
	text-align: center;
	border: 0px;
	background-repeat: no-repeat;
	height: 20px;
	width: 108px;
	margin-bottom: 5px;
	margin-left: -147px;
}
.discount input:hover {
	background-position: bottom center;
	cursor: pointer;
}
.abousustable td img {
	width: 73px;
	margin-top: -18px;
}

.abousustable.bigpadding img {
	margin-top: -24px;
}
.abousustable.bigpadding td {
	padding-top: 30px;
}
.abousustable td {
	vertical-align: middle;
	font-weight: bold;
	text-align: left;
	width: 49% !important;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 14px;
	padding-top: 27px;
}

.coloratable a {
	color: #0E0E0E;
	text-decoration: none;
	border-bottom: 1px dotted black;
}
.coloratable li {
	padding-bottom: 5px;
}
.coloratable a:hover {
	border: 0px;
}

.ftt_m_c .video {
	float: left;
	width: 350px;
	margin-top: 15px;
	height: 163px;
	margin-right: 20px;
}
.discount input {
	outline: 0 !important
}
.indent {
	margin-bottom: 10px;
}
.pointer {
	cursor: pointer;
}