<div class="block_container">
	<div class="block_head">Payment for Order #<?php echo $order['order_id']; ?> successful</div>
	<div class="block_content">
		<div class="">
		Thank you for payment. <a href="/user/order_details/<?php echo $order['order_id']; ?>">Return to order</a>
		</div>
		<div class="interface_buttons">
		</div>
	</div>
</div>