<div class="block_container">
	<div class="block_head">Payment for Order not completed</div>
	<div class="block_content">
		<div class="">
		An error was occured with payment. Please check details on your payment system and contact to support. <a href="/user">Return to orders</a>
		</div>
		<div class="interface_buttons">
		</div>
	</div>
</div>