<style>
#header_big {
height: 290px!important;
}
#left_col {
width:0px!important;
margin:0px!important
}
#content {
width: 960px;
}
#big_cont {
background-image: url(../img/bg404.png);
}
.komp {
background-image: url(../img/komp404.png);
width: 238px;
padding-top: 64px;
padding-left: 84px;
padding-right: 234px;
font-size: 20px;
padding-bottom: 167px;
background-repeat: no-repeat;
float: right;
margin-top: -69px;
}
</style>
<h1>404 Page Not Found</h1>

<p>The page you requested was not found.</p>

<div class="komp">
Eagle-Essays apologises but something went wrong! Please click here to return to the main <a href="/">page</a>.
</div>