body {
	margin: 0;
	padding: 0;
	color: #49515f;
	font-family: 'Arimo', sans-serif;
	font-size: 13px;
	line-height: 1.2;
	background-color: #f9fff1;
}

.line {
	width: 100%;
	background-color: #459dda;
	height: 7px;
}
.col1 {
	float: left;
	width: 298px;
	padding-left: 10px;
	padding-right: 10px;
	margin-top: -13px;
	margin-bottom: -11px;
	padding-bottom: 4px;
}
.col1 h2 {
	text-align: center;
	color: white;
}
.no_border {
	border: 0px !important;
}
.line .cont {
	background-image: url(../img/top_line.png);
	background-repeat: no-repeat;
	height: 7px;
	width: 1200px;
	margin: 0 auto;
}
div.lang {
	width: 52px;
	height: 22px;
	margin-top: 3px;
	position: absolute;
	right: -7px;
}

.active .lang_en {
	margin-top: 1px;
	float: left;
	width: 18px;
	height: 19px;
	background: url(../img/en_hover.png) no-repeat;
}

.lang_en {
	margin-top: 1px;
	float: left;
	width: 18px;
	height: 19px;
	background: url(../img/en.png) no-repeat;
}

.lang_en:hover {
	background: url(../img/en_hover.png) no-repeat;
}

.active .lang_ru {
	margin-left: 5px;
	float: left;
	width: 20px;
	height: 20px;
	background: url(../img/ru_hover.png) no-repeat;
}

.lang_ru {
	margin-left: 5px;
	float: left;
	width: 20px;
	height: 20px;
	background: url(../img/ru.png) no-repeat;
}

.lang_ru:hover {
	background: url(../img/ru_hover.png) no-repeat;
}
div.clear {
	clear: both;
}
.menu ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.left {
	float: left;
}

.right {
	float: right;
}

#wrapper {
	width: 980px;
	margin: 0 auto;
}

#header {
	width: 980px;
	height: 150px;
	background-color: #f9fff1;
	position: relative;
	margin-bottom: 8px;
}
#header .logo {
	/* Файл adminlogo нельзя менять, создавайте новый!!! */
	background: url(../img/logo.png) no-repeat;
	width: 272px;
	height: 134px;
	float: left;
	margin-top: 9px;
}

#header .calc {
    position:absolute;
	background: url(../img/calc.png) no-repeat;
	width: 141px;
	height: 120px;
	float: left;
	margin: 27px 0 0 600px;
    cursor: pointer;
}
#header .load_calc {
    position: absolute;
    display: none;
    width: 500px;
    height: 300px;
    border: 1px solid #D7E4CE;
    border-radius: 7px;
    background: #CAD5C4;
    margin: 121px 0 0 135px;
    z-index: 100000;
    box-shadow: 4px 4px 9px grey;
}

#header .login {
    position: absolute;
    margin: 27px 0 0 750px;
	float: left;
}

#header .login input {
	background-image: url(../img/input.png);
	width: 191px;
	height: 25px;
	border: 0px;
	margin-bottom: 7px;
	background-repeat: no-repeat;
	padding-left: 10px;
	padding-right: 10px;
	color: #ababab;
}

#header .login a.reg {
	color: #6e6e6e;
	text-decoration: underline;
	font-style: italic;
	margin-top: 5px;
	display: block;
	float: left;
}

.video a.reg {
	color: #6e6e6e;
	text-decoration: underline;
	font-style: italic;
	margin-top: 6px;
	display: block;
	float: left;
}

.video a.reg:hover {
	color: #6e6e6e;
	text-decoration: none;
	font-style: italic;
}

.video .vid {
	float: left;
}
.video .vxod_btn {
	background-image: url(../img/vid_btn.png);
	width: 92px;
	height: 22px;
	background-repeat: no-repeat;
	float: right;
	margin-top: -1px;
	color: #6e6e6e;
	padding-left: 7px;
	padding-top: 8px;
}
.video .vxod_btn:hover {
	background-image: url(../img/vid_btn_hover.png);
}
.col1 .title {
	color: #d0ff00;
	font-size: 15pt;
}

.col1 .time {
	font-size: 7pt;
	display: block;
	padding-top: 3px;
	padding-bottom: 3px;
}

.col1 .podrob {
	display: block;
	text-align: right;
}
.col1 .podrob a {
	color: white;
	text-decoration: underline;
}
.col1 .podrob a:hover {
	color: white;
	text-decoration: none;
}
.col1 .line {
	border-bottom: 1px dotted #cccccc;
	width: 300px;
	background-color: transparent;
	margin-bottom: 10px;
}
.mainblock3 table tr td {
	vertical-align: top;
	border-left: 1px solid #8bb8c0;
	padding-top: 10px;
	padding-bottom: 10px;
}
.mainblock3 table tr td:first-child {
	border: 0px;
}
.mainblock3 table {
	margin-top: -10px;
	margin-bottom: -12px;
}
.col1 .vxod_btn {
	background-image: url(../img/btn_big.png);
	width: 120px;
	height: 22px;
	background-repeat: no-repeat;
	float: right;
	color: #6e6e6e;
	padding-top: 8px;
	text-align: center;
	padding-right: 26px;
	margin-top: 5px;
}
.col1 .vxod_btn:hover {
	background-image: url(../img/btn_big_hover.png);
}

.mainblock2 {
	background-image: url(../img/gr_bg.png);
	width: 960px;
	height: 232px;
	background-repeat: no-repeat;
	float: left;
	padding: 10px;
	margin-top: 26px;
	position: relative;
	z-index: 5;
	-webkit-box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}

.mainblock3 {
	width: 958px;
	min-height: 236px;
	background-repeat: no-repeat;
	float: left;
	padding: 10px;
	margin-top: -14px;
	position: relative;
	z-index: 3;
	background-color: #67a3ad;
	padding-top: 20px;
	-webkit-box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	color: white;
}

#header .login a.reg:hover {
	color: #6e6e6e;
	text-decoration: none;
	font-style: italic;
}
.sidebar_left {
	float: left;
	margin-top: 15px;
	width: 300px;
}

.mini_banner_1 {
	float: left;
	width: 64px;
	text-align: center;
}
.mini_banner_2 {
	float: left;
	width: 78px;
	text-align: center;
	margin-left: 37px;
}
.mini_banner_3 {
	float: left;
	width: 84px;
	text-align: center;
	margin-left: 37px;
}
.mini_banner_1 .img {
	float: left;
	background-image: url(../img/ico_1.png);
	width: 64px;
	height: 70px;
	margin-bottom: 5px;
}
.sidebar_right {
	float: left;
	width: 653px;
	margin-left: 20px;
	margin-top: 14px;
}

.sidebar_right h1 {
	color: #6e6e6e;
	margin-bottom: 0px;
	padding-bottom: 0px;
	padding-top: 0px;
	margin-top: 0px;
}

.sidebar_right h2 {
	font-size: 13pt;
	color: #6e6e6e;
}

.block_proc_1 {
	background-image: url(../img/gr_1.png);
	width: 305px;
	height: 191px;
	background-repeat: no-repeat;
	float: left;
	margin-top: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.75);
	box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.75);
	margin-top: 20px;
	margin-right: 19px;
}
.block_proc_2 {
	background-image: url(../img/gr_2.png);
	width: 305px;
	height: 191px;
	background-repeat: no-repeat;
	float: left;
	margin-top: 20px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.75);
	box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.75);
	margin-right: 19px;
}
.block_proc_3 {
	background-image: url(../img/gr_3.png);
	width: 305px;
	height: 191px;
	background-repeat: no-repeat;
	float: left;
	margin-top: 20px;
	-webkit-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.75);
	box-shadow: 2px 2px 4px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.mini_banner_2 .img {
	float: left;
	background-image: url(../img/ico_2.png);
	width: 56px;
	height: 71px;
	margin-bottom: 5px;
	margin-left: 10px;
}

.mini_banner_3 .img {
	float: left;
	background-image: url(../img/ico_3.png);
	width: 72px;
	margin-bottom: 5px;
	margin-left: 3px;
	height: 68px;
}
.sidebar_left .banner {
	background-image: url(../img/banner.png);
	width: 300px;
	height: 250px;
	background-repeat: no-repeat;
	float: left;
	margin-top: 15px;
}

#header .login .vxod_btn {
	background-image: url(../img/voiti.png);
	width: 77px;
	height: 22px;
	background-repeat: no-repeat;
	float: right;
	/* margin-top: -16px; */
	color: #6e6e6e;
	padding-left: 13px;
	padding-top: 6px;
}
#header .login .vxod_btn:hover {
	background-image: url(../img/voiti_hover.png);
}
#header .counter {
	background: url(../img/schethik.png) no-repeat;
	width: 254px;
	height: 100px;
	float: left;
	margin-top: 34px;
	margin-left: 6px;
	padding-left: 35px;
	padding-right: 65px;
	padding-top: 7px;
	color: white;
	font-weight: bold;
	font-size: 16pt;
}

#header .counter .grandov td {
	padding-top: 9px;
}
#header .counter .count_td {
	width: 104px;
	text-align: center;
	padding-left: 12px;
}
#header .counter .count_div {
	background-color: #3a84aa;
	margin-bottom: -2px;
	color: #a9e3ff;
	-webkit-border-radius: 40px;
	-moz-border-radius: 40px;
	border-radius: 40px;
	padding-left: 5px;
	padding-right: 5px;
	border: 1px solid #5c9abd;
}
#nav {
	width: 980px;
	background-color: #f9fff1;
	background-image: url(../img/menu_bg.png);
	height: 32px;
	background-repeat: repeat-x;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	padding-top: 4px;
	-webkit-box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
}
#nav ul li {
	display: inline-block;
	margin: 0 5px;
	border-left: 1px solid #1c8bc9;
	padding-top: 4px;
	margin-top: -4px;
	padding-left: 13px;
}
#nav ul li:first-child {
	border-left: 0px;
}
#nav ul li a {
	text-decoration: none;
	color: #FFF;
}
#nav ul li a span {
	display: block;
	padding: 5px 15px;
	font-size: 14pt;
}
#nav ul li.active a span, #nav ul li a span:hover {
	background-color: #73a3cd;
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px
}

.ie_zagl {
		padding-top:5px;
	padding-bottom:5px;
	color:white;
	font-size:18pt;
	text-align:center;
	margin-top:5px;
	margin-bottom:5px;
	background-image: url(../img/gr_bg2.png);
	width:980px;

}
.ie_zagl a {
	color:white;
	text-decoration:underline;
}
.ie_zagl a:hover {
	color:white;
	text-decoration:none;
}
#content {
	width: 960px;
	float: right;
	min-height: 299px;
	background-color: #f1f1f1;
	-webkit-box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	box-shadow: 2px 1px 11px rgba(50, 50, 50, 0.75);
	-webkit-border-bottom-right-radius: 10px;
	-webkit-border-bottom-left-radius: 10px;
	-moz-border-radius-bottomright: 10px;
	-moz-border-radius-bottomleft: 10px;
	border-bottom-right-radius: 10px;
	border-bottom-left-radius: 10px;
	padding: 10px;
	position: relative;
}

.mainblock2 a:hover div {
	-webkit-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
	-moz-box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
	box-shadow: 0px 0px 16px rgba(50, 50, 50, 0.75);
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
}
.left_vid {
	position: absolute;
	top: 278px;
	width: 351px;
}
/* ФОРМА ОБРАТНОЙ СВЯЗИ */
#mycontact input[type=text], #mycontact input[type=email] {
	width: 200px;
	padding: 5px 10px;
	border-radius: 4px;
}
#mycontact input[name=send_data] {
	background: #1e5799; /* Old browsers */
	background: -moz-linear-gradient(top, #1e5799 0%, #207cca 64%, #2989d8 100%, #7db9e8 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#1e5799), color-stop(64%,#207cca), color-stop(100%,#2989d8), color-stop(100%,#7db9e8)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* IE10+ */
	background: linear-gradient(to bottom, #1e5799 0%,#207cca 64%,#2989d8 100%,#7db9e8 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
	color: #FFF;
	font-weight: bold;
	padding: 5px 20px;
	border-radius: 5px;
	cursor: pointer;
}
#mycontact input[name=send_data]:hover {
	color: #DDD;
}
#mycontact textarea {
	width: 300px;
	height: 70px;
	border-radius: 4px;
}
#mycontact .msg-wrap span {
	color: gray;
	background-color: yellow;
	padding: 4px 20px;
	border-radius: 4px;
	font-size: 15px;
	font-weight: bold;
	box-shadow: 2px 2px 5px grey;
	margin: 10px 0 10px 5px;
}
/* ------------------ */

#footer {
	width: 100%;
	height: 41px;
	background-color: #f9fff1;
	margin-top: 21px;
	border-top: 1px solid #dee7d1;
	padding-top: 11px;
}
#footer .cont {
	width: 980px;
	margin: 0 auto;
}
#footer ul li {
	display: inline-block;
	margin: 0 5px;
	border-left: 1px solid #dee7d1;
}
#footer .menu ul {
	float: left;
	margin-top: 7px;
	margin-left: -19px;
}
#footer ul li:first-child {
	border-left: none;
}
#footer ul li a {
	text-decoration: none;
	color: #6e6e6e;
}
#footer ul li a span {
	display: block;
	padding: 0px 0px;
	color: #6e6e6e;
	padding-left: 17px;
}
#footer ul li.active a span, #footer ul li a:hover {
	text-decoration: underline;
}
#footer .copy {
	float: right;
	text-align: right;
    margin-top:7px;
}
#footer .copy a {
	color: #6e6e6e;
	text-decoration: underline;
}
#footer .copy a:hover {
	color: #6e6e6e;
	text-decoration: none;
}
