<link rel="stylesheet" type="text/css" href="<?=$this->config->base_url(); ?>css/slideshowcontent/style.css" />
    <script type="text/javascript" src="<?=$this -> config -> base_url(); ?>js/slideshowcontent/modernizr.custom.28468.js"></script>
    <link href='http://fonts.googleapis.com/css?family=Economica:700,400italic' rel='stylesheet' type='text/css'>
    <noscript>
        <link rel="stylesheet" type="text/css" href="<?=$this->config->base_url(); ?>css/slideshowcontent/nojs.css" />
    </noscript>