<div class="block_container">
	<div class="block_head">Payment result</div>
	<div class="block_content">
		<div class="">
			<?php echo $response; ?>
		</div>
		<div class="interface_buttons">
			<input class="btn_green" type="button" value="Back to Order #<?php echo $order_id; ?>" onClick="location.assign('http://'+window.location.hostname+'/user/order_details/<?php echo $order_id; ?>')" />
		</div>
	</div>
</div>